<div *ngIf="product">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Edit' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body table-responsive row">
    <div>
      <div class="list-basket">

        <div class="row">
          <div class="col-lg-6">
            <!--Image-->
            <div>
              <img class="img-product" src="{{ basket.urlImage }}">
            </div>
            <!--Details-->
            <div class="details">
              <div>
                <span class="title">{{ product.name }}</span>
              </div>
              <div class="row info">
                <div class="col-lg-6">
                  <span class="title">{{ 'Patient' | translate }}</span>
                  <span>{{ basket.productRequested.patient }}</span>
                </div>
                <div class="col-lg-6">
                  <span class="title">{{ 'Eye' | translate }}</span>
                  <span>{{ detail.eye }}</span>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-3 params">
            <!--CONTENT INFO-->
            <!--PARAM NAME-->
            <div class="col-sm-12 title">
              <div class="row label" [hidden]="!editPrice">
                <label class="form-check-label">{{ 'Price' | translate }}</label>
              </div>
              <div class="row label-title">
                <label class="form-check-label">{{ 'Quantity' | translate }}:</label>&nbsp;&nbsp;
              </div>
              <div *ngFor="let parameter of product.parameters">
                <div class="row label-title" *ngIf="parameter.name !=='Dominancia'">
                  <label class="form-check-label">{{ parameter.name }}:</label>&nbsp;&nbsp;
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 params">
            <!--PARAMETERS-->
            <div class="col-sm-12 title">
              <div class="row selection" [hidden]="!editPrice">
                <input type="number" class="form-control col-sm-9" placeholder="{{ 'Enter price' | translate }}" name="price1" [(ngModel)]="price">
              </div>
              <div [ngClass]="cl">
                <input class="form-control col-sm-9" type="number" step=1 min="1" [(ngModel)]="quantity" oninput="validity.valid||(value='');">
              </div>
              <div *ngFor="let parameter of product.parameters">
                <div>
                  <div class="row selection">
                    <div *ngIf="parameter.type === 'selected'" class="select-values col-sm-12">
                      <ng-select *ngIf="parameter.name !=='Dominancia'" (change)="changeSelect(parameter, $event)" [items]="parameter.values" [(ngModel)]="parameter.selected" bindLabel="item"
                        bindValue="item" placeholder="{{ 'Select value' | translate }}">
                        {{item}}
                      </ng-select>
                    </div>

                    <div *ngIf="parameter.type === 'input'" class="select-values">
                      <input class="form-control col-sm-9" type="number" placeholder="{{ parameter.placeholder | translate }}" [(ngModel)]="parameter.selected"
                        oninput="validity.valid||(value='');">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Fin parameters-->
          </div>
          <!--comments-->
          <div class="col-md-6">

          </div>
          <div class="col-md-6 label-title">
            <dt class="title">{{ 'Comments' | translate }}</dt>
            <!--CONTENT-->
            <div class="row lebel-title">
              <div class="col-md-12">
                <textarea style="overflow-x: hidden;" class="form-control col-md-10" type="text" [(ngModel)]="observations" placeholder="{{ 'Introduces observations' | translate }}"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Cancel' | translate }}&nbsp;
      <i class="fa fa-times"></i>
    </button>
    <button type="button" class="btn btn-main" (click)="save()" [disabled]="!formIsValid()">{{ 'Save' | translate }}&nbsp;
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
