<br>
<br>
<br>
<div class="info-breadcrumbs">
  <app-page-header class="info-top" [heading]="'Product Details'" [icon]="'fa-edit'"></app-page-header>
  <br>
  <a routerLink="/products">
    <i class="fa fa-arrow-left">&nbsp;&nbsp;{{ 'Back' | translate }}</i>
  </a>
</div>
<div class="container">
  <hr>
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div>
              <a href="#">
                <img src="assets/images/lentes.jpg">
              </a>
            </div>
          </div>
          <!-- slider-product.// -->
          <div class="img-small-wrap">
            <div class="item-gallery">
              <img src="assets/images/lentes.jpg"> </div>
            <div class="item-gallery">
              <img src="assets/images/lentes.jpg"> </div>
            <div class="item-gallery">
              <img src="assets/images/lentes.jpg"> </div>
            <div class="item-gallery">
              <img src="assets/images/lentes.jpg"> </div>
          </div>
          <!-- slider-nav.// -->
        </article>
        <!-- gallery-wrap .end// -->
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <!-- name -->
          <h3 class="title mb-3">{{ product.name }}</h3>
          <!-- price -->
          <p class="price-detail-wrap">
            <span class="price h3 text-warning">
              <span class="currency">US $</span>
              <span class="num">{{ product.price1 }}</span>
            </span>
          </p>
          <!-- description -->
          <dl class="item-property">
            <dt>Description</dt>
            <dd>
              <p>{{ product.description }}</p>
            </dd>
          </dl>
          <hr>
          <!-- properties -->
          <dl class="item-property">
            <dt>{{ 'Properties (aqui los iconos de SPHERIC, TORIC, UV' | translate }}</dt>
            <dd>
              <i class="fa fa-cart-plus"></i>
              <i class="fa fa-cart-plus"></i>
              <i class="fa fa-cart-plus"></i>
              <i class="fa fa-cart-plus"></i>
              <i class="fa fa-cart-plus"></i>
              <i class="fa fa-cart-plus"></i>
            </dd>
          </dl>
          <hr>
          <!-- product sheet -->
          <dl class="item-property">
            <dt>Product Sheet</dt>
            <dd>
              <a href="{{ product.url }}">{{ 'download' }}</a>
            </dd>
          </dl>
          <hr>
          <!-- info buy-->
          <div class="row">
            <div class="col-sm-3">
              <!-- price-detail-wrap .// -->
              <dl class="item-property">
                <dt>Stock</dt>
                <dd>
                  <p>{{ product.stock }}</p>
                </dd>
              </dl>
            </div>
            <div class="col-sm-3">
              <dl class="param param-inline">
                <dt>Quantity: </dt>
                <dd>
                  <input type='number' class="form-control" min="1" max="{{ product.stock }}" step="1"
                        ng-disabled="product.stock === 0" [(ngModel)]="quantity">
                </dd>
              </dl>
              <!-- item-property .// -->
            </div>
            <!-- col.// -->
            <div class="col-sm-6">
              <dl class="param param-inline">
                <dt>Total: </dt>
                <dd>
                  <span class="price h3 text-warning">
                    <span class="currency">US $</span>
                    <span class="num">{{ product.price1 * quantity }}</span>
                  </span>
                </dd>
              </dl>
              <!-- item-property .// -->
            </div>
            <!-- col.// -->
          </div>

          <!--buttons buy-->
          <hr>
          <div>
            <a routerLink="/products/{{product.id}}/product-details/{{'toBuy'}}" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>&nbsp;
            <a routerLink="/products/{{product.id}}/product-details/{{'toCart'}}" class="btn btn-lg btn-outline-primary text-uppercase">
              <i class="fa fa-cart-plus"></i> Add to cart 
            </a>
          </div>
        </article>
        <!-- card-body.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- card.// -->
  <div class="card">
    <div class="card-body">
      <ngb-tabset>
        <ngb-tab  *ngFor="let info of product.infoAditional">
          <ng-template ngbTabTitle>
            <div>
              <label>{{ info.name }}</label>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            <div *ngFor="let value of info.values">
              <label>{{ value.title }}: {{ value.description }}</label>
              <br>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<!--container.//-->


<br>
<br>
<br>
