@import '../../../../styles/spectrum/spectrum';

.content {
  padding: 2em;
  overflow-y: auto;
  overflow-x: hidden;

  .patient-info {
    padding: 1em 2em;
    display: inline-flex;

    label {
      flex-wrap: nowrap;
      font-weight: 600;
      align-self: flex-end;
      width: 15%;
    }
  }
}


#consultation-form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;

  .bold {
    font-weight: 600;
  }

  .flex {
    display: flex;
  }

  .owm {
    display: flex;
    padding: 0 0 1em 0;

    > div:nth-child(1), > div:nth-child(2) {
      width: 25%;
      input { width: 12%; }
    }

    > div:nth-child(3) {
      width: 50%
    }

    label {
      margin-right: 10px;
      align-self: flex-end;
    }

  }

  .eyes {
    display: flex;
    text-align: left;
    > div:nth-child(1) {
      display: inline-flex;
      padding-right: 20px;
      padding-left: 0;
      margin: 1.2em 0;

      label {
        padding-right: 10px;
      }
    }
  }

  .multiples-params {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: 100%;
    text-align: left;

    .param-titles {
      display: flex;
      flex-direction: column;
      width: 30%;
      font-weight: 600;
    }

    .content-params {
      display: flex;
      flex-wrap: wrap;
      width: 70%;

      .sub-params {
        width: 40%;
        margin: 0.2% 5%;
        display: inline-flex;

        span { width: 60%; }

        .params-checkbox {
          width: 100%;

          > input {
            margin-right: 20px;
          }
        }
      }
    }

    .single-checkbox {
      width: 60%;
      margin-left: 10%;

      > input {
        margin-right: 20px;
      }
    }
  }

  .w-46 {
    display: inline-flex;
    width: 46%;
    > label {
      font-weight: 600;
      width: 45%;
    }
  }

  .left {
    text-align: left;
  }

  .half-display {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: left;

    > div {
      display: inline-flex;
      width: 46%;
      > span {
        font-weight: 600;
        width: 45%;
      }
    }

    > div:nth-child(1) {
      margin-right: 5%;
    }
  }
}


.field-disabled {
  background-color: #e9ecef;
  opacity: 1;

  display: block;
  padding: 0.1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.radio-buttons {
  display: inline-flex;
  width: 100%;

  .name {
    width: 43%;
  }

  .button-space {
    display: inline-flex;
    margin-left: 1rem;
    width: 50%;

      label {
        width: 50%;
        //margin-right: 1rem;
      }
    // margin-right: 20px;
  }
}



