<div class="info-breadcrumbs" *ngIf="product">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Product Details' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/products']">
          <i class="fa fa-edit"></i> {{ 'Products List' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-eye"></i> {{ 'Product Details' | translate}}</li>
    </ol>
  </div>
</div>
<div class="padding-detail" *ngIf="product">
  <div class="card">
    <div class="">
      <!-- row (name-price-image) -->
      <div class="row wrapper">
        <div class="preview col-md-12">
          <!-- name-price -->
          <div class="main-info">
            <h3 class="product-title">{{'Order Form For' | translate }}:
              <br>
              <i>{{ product.name }}</i>
            </h3>
          </div>
          <!-- image -->
          <!-- <div class="preview-pic tab-content main-info">
            <div class="tab-pane active" id="pic-1">
              <img src="{{ product.mainImg }}" />
            </div>
          </div>-->
        </div>
      </div>

      <div class="img-medmont">
        <img src="assets/images/products/medmont/equipo.png">
      </div>

      <div class="row product-info" >
        <div class="item-properties col-md-12" >
          <p>{{'The Medmont E300 USB Corneal Topographer offers the practitioner extreme accuracy for the mapping of a patients cornea. Using a PC, the patients full corneal history can be stored and accessed quickly and efficiently. A huge range of display options is now available providing the user with information that they previously would only have dreamed about.' | translate }} </p>
        </div>

        <div class="item-properties col-md-12">
          <p>{{'The Advantages of the E300 Topographer: Largest Capture Area of Any Placido Ring Topographer Providing Full Limbus to Limbus Coverage. Tear Film Surface Quality (TFSQ) Algorithm, Understand and Analyse Tear Film Breakup. Exceptional Accuracy With a Standard Deviation of Error of 2 μm, Considered the Gold Standard for Fitting Specialty Contact Lenses. Comprehensive Database of Contact Lens and Orthokeratology Lens Designs.' | translate }} </p>
        </div>
      </div>

      <!-- row (pacient, client, shipping address) -->
      <div class="row product-info">
        <!-- client -->
        <div class="col-lg-4">
          <dt class="title">{{ 'Account Name' | translate }}</dt>
          <div class="row info-content" [hidden]="user.role.idRole !== 3">
            <input class="form-control" type="text" placeholder="{{ 'Enter name customer' | translate }}" required
              [(ngModel)]="product.client" disabled>
          </div>
          <div class="row info-content" [hidden]="user.role.idRole === 3">
            <ng-select [items]="listCustomers" (change)="onSelectedClient($event)" [(ngModel)]="CustomersSelected"
              required [virtualScroll]="true" bindLabel="fullName" bindValue="idUser" placeholder="{{ 'Select value' | translate }}">
            </ng-select>
          </div>
        </div>
        <!--shipping address-->
         <!--shipping address-->
        <div class="col-lg-5">
          <span class="title">{{ 'Shipping Address' | translate }}</span>
          <div class="row info-content ">
            <input class="form-control readonly-input" type="text" [(ngModel)]="product.shippingAddress" placeholder="{{ 'This field is filled when the client is selected.' | translate }}"
              readonly>
          </div>
        </div>
        <div class="col-lg-3">
          <span class="title">{{ 'More Information' | translate }}</span>
          <div class="row info-content ">
            <a href="{{ product.url }}" target="_blank">{{ 'View' | translate }}</a>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 buy-btns">
          <button class="btn btn-lg btn-outline-primary text-uppercase margin-button" (click)="getQuote()"
            [disabled]="!formIsValid()">
           {{ 'Get a quote' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
