<div *ngIf="user.role.idRole !== 3">
  <span class="title">{{ 'Order Type' | translate }}</span>
  <div class="d-flex">
    <div class="custom-control custom-radio mr-3">
      <input type="radio" id="order-new" name="orderType" value="new" [(ngModel)]="product.typeOrder"
        class="custom-control-input" [checked]="product.typeOrder === 'new'">
      <label class="custom-control-label" for="order-new">{{ 'New' | translate }}</label>
    </div>
    <div class="custom-control custom-radio mr-3">
      <input type="radio" id="order-duplicate" name="orderType" value="duplicate" [(ngModel)]="product.typeOrder"
        class="custom-control-input" [checked]="product.typeOrder === 'duplicate'">
      <label class="custom-control-label" for="order-duplicate">{{ 'Duplicate' | translate }}</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="order-warranty" name="orderType" value="warranty" [(ngModel)]="product.typeOrder"
        class="custom-control-input" [checked]="product.typeOrder === 'warranty'">
      <label class="custom-control-label" for="order-warranty">{{ 'Warranty' | translate }}</label>
    </div>
  </div>
</div>