<div>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Summary products' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-lg-12 label-title">
        <div class="col-lg-12 main-info">
          <div class="confirm">
            <span>{{ 'Please confirm the selected products' | translate }} {{ '(' + quantity + ') ?' }}</span>
          </div>
        </div>
        <div class="row padding-params display-params">
          <div class="col-sm-4">
            <dl>
              <dt>
                <p class="font-weight-bold" translate>{{'Order Summary'}}</p>
                <p class="font-weight-normal" translate>{{'Item(s) Subtotal'}}</p>
                <p class="font-weight-normal" translate>{{'Shipping & handling'}}</p>
                <p class="font-weight-bold" translate>{{'Order Total'}}</p>
              </dt>
            </dl>
          </div>
          <div class="col-sm-3">
            <dl class="align-item">
              <dt>
                <p class="font-weight-bold" translate>{{'Totals'}}</p>
                <p class="font-weight-normal" translate>
                  <span>{{subtotal | currency : "USD $" }}</span>
                </p>
                <p class="font-weight-normal" translate>
                  <span>{{'0' | currency : "USD $" }}</span>
                </p>
                <p class="font-weight-bold">{{total | currency : "USD $" }}</p>
              </dt>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Close' | translate }}&nbsp;
      <i class="fa fa-times"></i>
    </button>
    <button type="button" class="btn btn-main" (click)="generateOrder()">{{ 'Place Order' | translate }}&nbsp;
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
