@import "../../../../../styles/spectrum/spectrum";

.confirm{
  text-align: center;
}

.content {
  padding: 2em;
  overflow-y: auto;
  overflow-x: hidden;

  .main-info {
    text-align: center;
  }

  .display-params {
    justify-content: center;
  }

  .padding-params {
    padding:  1.5em 5em;
  }

  .label-title {
    padding-top: 1.5em;
  }

  .align-item{
    text-align: left;
  }

}
