<div>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Summary products' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body table-responsive row">
    <div class="confirm">
      <span>{{ 'You are sure you want to buy the selected products' | translate }} {{ '(' }}{{ quantity }}{{ ') ?' }}</span>
    </div>
    <br>
    <div class="container pp rounded">
      <div class="row justify-content-md-center order-summary">
        <div class="col-md-4 pull-right">
          <p class="font-weight-bold" translate>{{'Summary Costs'}}</p>
          <p class="font-weight-normal" translate>{{'Item(s) Subtotal'}}</p>
          <p class="font-weight-normal" translate>{{'Shipping Costs'}}</p>
          <p class="font-weight-bold" translate>{{'Total'}}</p>
        </div>
        <div class="col-md-2">
          <p class="font-weight-bold text-left" translate>{{'Totals'}}</p>
          <p class="font-weight-normal" translate>
            <span>{{'US $'}}{{subtotal}}</span>
          </p>
          <p class="font-weight-normal" translate>
            <span>{{'US $'}}{{'0'}}</span>
          </p>
          <p class="font-weight-bold text-left">{{'US $'}}{{total}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Close' | translate }}&nbsp;
      <i class="fa fa-times"></i>
    </button>
    <button type="button" class="btn btn-main" (click)="generateOrder()">{{ 'Save' | translate }}&nbsp;
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
