<app-page-header class="page-header-fixed" [heading]="'Order'" [icon]="'fa fa-folder-open'"></app-page-header>
<div class="sp-container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            <div class="card-header">{{ 'Order Details' | translate }}</div>
          </div>
          <div class="align-btn-detail">
            <button [hidden]="!generar" type="button" (click)="generateOrder(order)" class="btn btn-outline-primary" translate>
              Generate Order
            </button>
          </div>
        </div>
        <div class="div-order">{{'Ordered on'| translate}} {{order.date | date:'mediumDate'}}
          <span>|</span>
          {{'Order#'| translate}} {{order? order.number:''}}
        </div>
        <br>
        <div class="container pp rounded">
          <div class="row justify-content-md-center order-summary">
            <div class="col-md-6">
              <p class="font-weight-bold text-left">{{'Shipping Addresses'| translate}}</p>
              <span class="font-weight-bold">{{'Name' | translate }}:</span>&nbsp;
              <span>{{order? order.nameUser:''}}</span>
              <br>
              <span class="font-weight-bold">{{'Address' | translate }}:</span>&nbsp;
              <span>{{order.address? order.address.name:''}}</span>
              <br>
              <span class="font-weight-bold">{{'City' | translate }}:</span>&nbsp;
              <span>{{order.address? order.address.city:''}}</span>
              <br>
              <span class="font-weight-bold">{{'State' | translate }}:</span>&nbsp;
              <span>{{order.address? order.address.state:''}}</span>
              <br>
              <span class="font-weight-bold">{{'Country' | translate }}:</span>&nbsp;
              <span>{{order.address? order.address.country:''}}</span>
              <br>
              <br>
            </div>
            <div class="col-md-4 pull-right">
              <p class="font-weight-bold" translate>{{'Summary Costs'}}</p>
              <p class="font-weight-normal" translate>{{'Item(s) Subtotal'}}</p>
              <p class="font-weight-bold" translate>{{'Total'}}</p>
            </div>
            <div class="col-md-2">
              <p class="font-weight-bold text-left" translate>{{'Totals'}}</p>
              <p class="font-weight-normal" translate>
                <span>{{'US $'}}{{order? order.subtotal:''}}</span>
              </p>
              <p class="font-weight-bold text-left">{{'US $'}}{{order? order.total:''}}</p>
            </div>
          </div>
        </div>
        <div class="card-header products-label" *ngIf="listDetails.length > 0">{{ 'Your Products' | translate }}</div>
        <div class="container product-list" *ngFor="let list of listDetails">
          <hr>
          <div class="row">
            <aside class="col-sm-3">
              <img class="imag-product" src={{list.urlImage}}>
            </aside>
            <aside class="col-sm-9">
              <article class="card-body p-5">
                <div>
                  <div *ngFor="let specification of list.productRequested.detail">
                    <div class="container-list">
                      <div class="div-name">
                        <div>
                          <h3>{{list.productRequested.product.name}} - </h3>
                        </div>
                        <div>
                          <span class="price h5 text-warning">
                            <h3> ({{specification.name}})</h3>
                          </span>
                        </div>
                        <br>
                        <br>
                      </div>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-2">
                          <dl class="param param-feature">
                            <dt>{{'Patient'| translate}}
                            <dt>
                            <dt>
                              <span [ngStyle]="{'font-weight':'normal'}">{{list.patient}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-1">
                          <dl class="param param-feature">
                            <dt>{{'Eye'| translate}}
                            </dt>
                            <dt>
                              <span [ngStyle]="{'font-weight':'normal'}">{{specification.eye}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col">
                            <dl class="param param-feature">
                              <dt>
                                <span [ngStyle]="{'font-weight':'normal'}"></span>
                              </dt>
                            </dl>
                        </div>
                      </div>
                      <br>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-2">
                          <dl class="param param-feature">
                            <dt>{{'Quantity'| translate}} </dt>
                            <dt>
                              <span [ngStyle]="{'font-weight':'normal'}">{{list.productRequested.quantity}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2">
                          <dl class="param param-feature">
                            <dt>{{'Price'| translate}}</dt>
                            <dt>
                              <span [ngStyle]="{'font-weight':'normal'}">{{'US $'}}{{list.productRequested.price}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col">
                          <dl class="param param-feature">
                            <dt>{{'Subtotal'| translate}}</dt>
                            <dt>
                              <span class="text-warning">{{'US $'}}{{list.productRequested.price*list.productRequested.quantity}}</span>
                            </dt>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </aside>
            <div class="card-body table-responsive">
              <div *ngFor="let specification of list.productRequested.detail">
                <label class="label-specifications">{{'Technical specifications'| translate}}</label>
                <br>
                <br>
                <div class="row justify-content-md-center div-parametros">
                  <div class="col" *ngFor="let param of specification.parameters">
                    <dl class="param param-feature">
                      <dt>{{param.name}}</dt>
                      <dt>
                        <span [ngStyle]="{'font-weight':'normal'}"> {{param.selected}}</span>
                      </dt>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">
        <div class="pagination-list" [hidden]="listDetails.length === 0">
          <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="listDetailsAux.length"
            [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
          </ngb-pagination>
          <span class="count-elements">{{ listDetails.length + ' ' + ('of' | translate) + ' ' + listDetailsAux.length + ' ' + ('register(s)' | translate)
            }}
          </span>
        </div>
      </div>
    </div>
  </div>
