<div class="context">
  <div class="menu">
    <ul>
      <li routerLink="/seller/{{id}}/edit" [routerLinkActive]="['router-link-active']">
        <a>
          <span>
            {{ 'Personal Info' | translate }}
          </span>
        </a>
      </li>
      <li routerLink="/seller/{{id}}/edit-client" [routerLinkActive]="['router-link-active']">
        <a>
          <span>
            {{ 'Customer Info' | translate }}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <section >
    <router-outlet></router-outlet>
  </section>
  </div>
  