
@import "../../../../../styles/spectrum/spectrum";

.list-basket {
  //max-height: 630px;
  padding: 2em;
  overflow-y: auto;
  overflow-x: hidden;

  .main-info {
    text-align: center;
  }

  .img-product {
    width: 45%;
    height: 9.5em;
  }

  .display-row {
    display: flex;
    justify-content: space-between;
  }

  .display-header {
    display: flex;
    justify-content: space-evenly;
  }

  .selected-power{
    height: 38px !important;
  }
  .display-price {
    justify-content: center;
  }

  .padding-params {
    padding:  0 2em;

    .parameters{
      color: #868e96;
      margin-bottom: 0.5rem;
      font-weight: 600;
      padding-top: 1rem;
    }

    .justify-steps{
      justify-content: center;
      padding-left: 2rem;
      padding-right: 8rem;
    }

    .content-title{
      padding-left: 2rem;
    }
  }

  .params {
    padding-top: 1em;

    .separator {
      margin-bottom: 1em;
    }
  }

  .title {
    font-weight: 600;
  }

  .label-title {
    padding-top: 1.5em;
  }

  .patient-info {
    padding-bottom: 1.5em;
  }

  .eye-info {
    color:#868e96;
    padding: 0 2em;
  }

  .align-item{
    text-align: center;
  }

  .param-power {
    display: flex;
    justify-content: space-evenly;
  }

  .content-steps {
    .selection {
      padding-right: 1.5rem;
      padding-top: 30px;
    }
    .sub-label {
      padding-left: 25px;

      .row {
        padding-top: 5px;
        padding-left: 15px;
      }

      .items{
        color:#868e96;
      }
    }

  }
}
