<div *ngIf="product">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Edit Product' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="list-basket">
    <div class="row">
      <!--Image-->
      <div class="col-lg-12 main-info">
        <div>
          <span class="title">{{ product.name }}</span>
        </div>
        <div>
          <img class="img-product" src="{{ basket.urlImage }}">
        </div>
        <div class="col-lg-12 title label-title patient-info">
          <span>{{ 'Patient' | translate }}</span>
          <div class="col-lg-12 main-info">
            <input class="form-control main-info" type="text" placeholder="{{ 'Introduce name patient' | translate }}" [(ngModel)]="patient">
          </div>
        </div>
        <div class="col-lg-12 title eye-info">
          <span>{{ 'Eye' | translate }}</span>&nbsp;&nbsp;
          <span>{{ detail.eye | translate }}</span>
        </div>
      </div>
      <!--PARAMETERS-->
      <div class="col-lg-12 label-title">
        <div class="row display-header padding-params">
          <div class="col-sm-3" [hidden]="!editPrice">
            <dl>
              <dt>{{'Price'| translate}}
              </dt>
              <dl>
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="form-group input-group">
                    <div class="input-group-append">
                      <span class="input-group-text">$</span>
                    </div>
                    <input class="form-control" type="number" step=1 min="1" [(ngModel)]="price" oninput="validity.valid||(value='');" placeholder="{{ 'Enter price' | translate }}"
                           name="price1">
                  </div>
                </div>
              </dl>
            </dl>
          </div>
          <!--Header-->
          <div class="col-sm-3" *ngFor="let parameter of product.header">
              <dl>
                <dt>{{ parameter.name| translate}}</dt>
                <dl>
                  <dt>
                    <div *ngIf="parameter.type === 'selected'">
                      <ng-select class="display-row" [items]="parameter.values" [(ngModel)]="parameter.selected"
                                  bindValue="item" placeholder="{{ 'Select value' | translate }}">
                        <ng-template ng-label-tmp let-item="item">
                          <div class="supplier-body">
                            <span>{{ item | translate }}</span>
                          </div>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          <div class="supplier-body">
                            <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                  </dt>
                </dl>
              </dl>
            </div>
          <!--Fin header-->
        </div>
      </div>
      <div class="col-lg-12 label-title">
          <div class="row padding-params">
            <div class="col-sm-12">
                <div class="parameters">{{ "Parameters" | translate }}:</div>
            </div>
            <!--Quantity-->
            <div class="col-sm-3">
              <dl>
                <dt>{{'Quantity'| translate}}
                </dt>
                <dl>
                  <div>
                    <input [disabled]="true" class="form-control" type="number" step=1 min="1" [(ngModel)]="quantity" oninput="validity.valid||(value='');">
                  </div>
                </dl>
              </dl>
            </div>
             <!--Fin Quantity-->
            <!--Parameters-->
            <div class="col-sm-3" *ngFor="let parameter of product.parameters">
              <dl>
                <dt>{{ parameter.name| translate}}</dt>
                <dl>
                  <dt>
                    <div *ngIf="parameter.type === 'selected'">
                      <ng-select class="display-row" [items]="parameter.values" [(ngModel)]="parameter.selected"
                                  bindValue="item" placeholder="{{ 'Select value' | translate }}">
                        <ng-template ng-label-tmp let-item="item">
                          <div class="supplier-body">
                            <span>{{ item | translate }}</span>
                          </div>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          <div class="supplier-body">
                            <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                    <!--Only Power-->
                    <div *ngIf="parameter.type === 'input' && parameter.name === 'Power'" class="select-values col-sm-12 param-power">
                      <ng-select class="selected-power" [items]="['+', '-']" [(ngModel)]="signPower" bindLabel="item" bindValue="item" placeholder="{{ 'Sign' | translate }}"
                                [clearable]="false">
                                {{item}}
                      </ng-select>
                      <input class="form-control col-sm-10" type="number" placeholder="{{ parameter.placeholder | translate }}"
                             [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" min="0">
                    </div>
                    <div *ngIf="parameter.type === 'input' && parameter.name === 'Base Curve (mm)'" class="separator">
                      <input class="form-control col-sm-12" type="number" min="00.00" step="00.01" placeholder="{{ parameter.placeholder | translate }}" [(ngModel)]="parameter.selected" (change)="changeSelect(parameter, parameter.selected)"
                        oninput="validity.valid||(value='');">
                    </div>
                    <div *ngIf="parameter.type === 'input' && parameter.name !== 'Base Curve (mm)' && parameter.name !== 'Power'" class="separator">
                      <input class="form-control col-sm-12" type="number" placeholder="{{ parameter.placeholder | translate }}" [(ngModel)]="parameter.selected" (change)="changeSelect(parameter, parameter.selected)"
                        oninput="validity.valid||(value='');">
                    </div>
                  </dt>
                </dl>
              </dl>
            </div>
             <!--Fin parameters-->
          </div>
      </div>
       <!--Pasos-->
       <div class="col-lg-12">
          <div class="row padding-params">
            <div class="col-sm-12">
                <div class="parameters">{{ "Steps" | translate }}:</div>
            </div>
            <div class="col-sm-12" *ngFor="let PC of product.steps">
                <dl>
                  <dt>{{ PC.name| translate}}</dt>
                  <dl>
                    <div class="row">
                        <div class="col-md-6 content-title" *ngFor="let paso of PC.values">
                          <label class="form-check-label title">{{ paso.name | translate }}</label>&nbsp;&nbsp;
                          <div class="row justify-steps">
                            <div *ngFor="let value of paso.values" class="col-md-6 custom-control custom-checkbox">
                              <input class="custom-control-input" type="checkbox" id="{{PC.name + paso.name + value.name }}"
                                      [(ngModel)]="value.selected" (click)="setChecked(value, PC)">
                              <label class="custom-control-label items" for="{{ PC.name + paso.name + value.name }}">{{ value.name | translate }}</label>
                            </div>
                          </div>
                        </div>
                    </div>
                  </dl>
                </dl>
              </div>
          </div>
          <!--Fin pasos-->
        </div>
      <!--comments-->
      <div class="col-lg-12">
        <div class="row padding-params">
          <div class="col-sm-12">
            <dl>
              <dt>{{'Comments'| translate}}
              </dt>
              <dl>
                <div>
                  <textarea style="overflow-x: hidden;" class="form-control col-md-12 comment" type="text" [(ngModel)]="observations" placeholder="{{ 'Introduces observations' | translate }}"></textarea>
                </div>
              </dl>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Cancel' | translate }}&nbsp;
      <i class="fa fa-times"></i>
    </button>
    <button type="button" class="btn btn-main" (click)="save()" [disabled]="!formIsValid()">{{ 'Save' | translate }}&nbsp;
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
