<div class="modal-header">
  <h4 class="modal-title">{{ 'User Information' | translate }}</h4>
  <button type="button" class="close close-modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true"> &times; </span>
  </button>
</div>
<div class="content">
  <div class="modal-body">
    <form [formGroup]="form">
      <h5>{{ 'Contact Information' | translate }}</h5>
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Full Name' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter name' | translate }}" name="name" formControlName="name" required>
          </fieldset>
          <div class="message-error" [hidden]="name.valid || name.pristine">
            <span>{{ 'Name is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Email' | translate }}</label>
            <input type="email" class="form-control" placeholder="{{ 'Enter email' | translate }}" name="email" formControlName="email"
              required>
          </fieldset>
          <div class="message-error" [hidden]="email.pristine">
            <span *ngIf="email.errors && !!email.errors.required">{{'Email is required' | translate }}</span>
            <span *ngIf="email.errors && !!email.errors.email">{{ 'Email is not valid' | translate }}
            </span>
          </div>
        </div>

        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'City' | translate }}</label>
            <input id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" name="city" formControlName="city"
              [inputFormatter]="formatter" (selectItem)="findPlace($event)" #instance="ngbTypeahead" placeholder="{{ 'Enter city' | translate }}"
              required />
          </fieldset>
          <div *ngIf="searching" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="message-error" [hidden]="city.valid || city.pristine">
            <span>{{ 'City is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'State' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter state' | translate }}" name="state" formControlName="state" required>
          </fieldset>
          <div class="message-error" [hidden]="state.valid || state.pristine">
            <span>{{ 'State is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Country' | translate }}</label>
            <ng-select [items]="listCountries" formControlName="idCountry" notFoundText="{{ 'No country found' | translate }}" [searchable]="false"
              [(ngModel)]="selectedCountry" bindValue="idCountry" placeholder="{{ 'Select country' | translate }}" required>
              <ng-template ng-label-tmp let-item="item">
                <div class="supplier-body">
                  <span>{{ item.name | translate }}</span>
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="supplier-body">
                  <h6 [ngOptionHighlight]="search">{{ item.name | translate }}</h6>
                </div>
              </ng-template>
            </ng-select>
          </fieldset>
          <div class="message-error" [hidden]="idCountry.valid || idCountry.pristine">
            <span>{{ 'Country is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Postal Code' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter postal code' | translate }}" name="postal" formControlName="postal">
          </fieldset>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Phone' | translate }}</label>
            <int-phone-prefix name="phone" formControlName="phone" data-toggle="tooltip" data-placement="right" title="{{'Select a country by clicking on the map' | translate }}">
            </int-phone-prefix>
          </fieldset>
          <div class="message-error" [hidden]="phone.value.length === 0 || phone.pristine || phone.value.length > 7">
            <span>{{ 'Phone not valid' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-12">
          <fieldset class="form-group">
            <label>{{ 'Address' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter address' | translate }}" name="address" formControlName="address">
          </fieldset>
        </div>
      </div>
      <br>
      <h5>{{ 'Company Information ' | translate }}</h5>
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Company Name' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter company' | translate }}" name="companyName" formControlName="companyName"
              required>
          </fieldset>
          <div class="message-error" [hidden]="companyName.valid || companyName.pristine">
            <span>{{ 'Company name is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Company contact name' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter company contact name' | translate }}" name="companyContactName" formControlName="companyContactName"
              required>
          </fieldset>
          <div class="message-error" [hidden]="companyContactName.valid || companyContactName.pristine">
            <span>{{ 'Company contact name is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Business types' | translate }}</label>
            <select class="form-control" name="idBusinessType" formControlName="idBusinessType" required>
              <option *ngFor="let bussinesType of businessTypes" [ngValue]="bussinesType.idBusinessType">{{ bussinesType.name | translate }}</option>
            </select>
          </fieldset>
          <div class="message-error" [hidden]="idBusinessType.valid || idBusinessType.pristine">
            <span>{{ 'Business type is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Email' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter email' | translate }}" name="companyEmail" formControlName="companyEmail"
              required>
          </fieldset>
          <div class="message-error" [hidden]="companyEmail.pristine">
            <span *ngIf="companyEmail.errors && !!companyEmail.errors.required">{{'Email is required' | translate }}</span>
            <span *ngIf="companyEmail.errors && !!companyEmail.errors.companyEmail">{{ 'Email is not valid' | translate }}
            </span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Phone' | translate }}</label>
            <!--<input (keypress)="validatePhone($event)" class="form-control" placeholder="{{ 'Enter phone' | translate }}" name="companyPhone"
              formControlName="companyPhone" required>-->
            <int-phone-prefix name="companyPhone" formControlName="companyPhone" data-toggle="tooltip" data-placement="right" title="{{'Select a country by clicking on the map' | translate }}">
            </int-phone-prefix>
          </fieldset>
          <div class="message-error" [hidden]="companyPhone.value.length === 0 || companyPhone.pristine || companyPhone.value.length > 7">
            <span>{{ 'Phone not valid' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'City' | translate }}</label>
            <input id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" name="companyCity"
              formControlName="companyCity" [inputFormatter]="formatter" (selectItem)="findPlaceCompany($event)" #instance="ngbTypeahead"
              placeholder="{{ 'Enter city' | translate }}" required />
          </fieldset>
          <div *ngIf="searching" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="message-error" [hidden]="companyCity.valid || companyCity.pristine">
            <span>{{ 'City is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'State' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter state' | translate }}" name="companyState" formControlName="companyState"
              required>
          </fieldset>
          <div class="message-error" [hidden]="companyState.valid || companyState.pristine">
            <span>{{ 'State is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Country' | translate }}</label>
            <ng-select [items]="listCountriesCompany" formControlName="idCompanyCountry" notFoundText="{{ 'No country found' | translate }}" [searchable]="false"
              [(ngModel)]="selectedCountryCompany" bindValue="idCountry" placeholder="{{ 'Select country' | translate }}" required>
              <ng-template ng-label-tmp let-item="item">
                <div class="supplier-body">
                  <span>{{ item.name | translate }}</span>
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="supplier-body">
                  <h6 [ngOptionHighlight]="search">{{ item.name | translate }}</h6>
                </div>
              </ng-template>
            </ng-select>
          </fieldset>
          <div class="message-error" [hidden]="idCompanyCountry.valid || idCompanyCountry.pristine">
            <span>{{ 'Country is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Postal Code' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter postal code' | translate }}" name="companyPostal" formControlName="companyPostal">
          </fieldset>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Address' | translate }}
            </label>
            <input class="form-control" placeholder="{{ 'Enter address' | translate }}" name="companyAddress" formControlName="companyAddress"
              required>
          </fieldset>
          <div class="message-error" [hidden]="companyAddress.valid || companyAddress.pristine">
            <span>{{ 'Address is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Payment Method' | translate }}</label>
            <div class="row">
              <div class="col-xl-6" *ngFor="let method of listPaymentMethod; let i = index">
                <div class="col-xl-5 custom-control custom-radio">
                  <input type="radio" id="paymentMethod{{i}}" name="paymentMethod" [value]="method.id" (change)="assignCreditDays(method)" class="custom-control-input" >
                  <label class="custom-control-label" for="paymentMethod{{i}}">{{ method.name | translate }}</label>
                </div>
              </div>
            </div>
            <br>
            <div class="message-error">
              <span [hidden]="!msjPayment">{{'Should define the payment method' | translate}}</span>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="paymentMethod.valid || paymentMethod.pristine">
            <span>{{ 'Payment Method is required' | translate }}</span>
          </div>
        </div>
        <div *ngIf="postpaid" class="col-xl-6">
          <label>{{ 'Credit limit' | translate }}</label>
          <div class="form-group input-group">
            <div class="input-group-append">
              <span class="input-group-text">$</span>
            </div>
            <input class="form-control" type="number"  min="1" placeholder="{{ 'Enter credit limit' | translate }}" name="creditLimit" formControlName="creditLimit"
              required>
          </div>
          <div class="message-error" [hidden]="creditLimit.valid || creditLimit.pristine">
            <span>{{ 'Credit Limit is required' | translate }}</span>
          </div>
        </div>
        <div *ngIf="postpaid" class="col-xl-6">
          <label>{{ 'Credit balance' | translate }}</label>
          <div class="form-group input-group">
            <div class="input-group-append">
              <span class="input-group-text">$</span>
            </div>
            <input class="form-control" type="number" placeholder="{{ 'Enter credit balance' | translate }}" name="balance" formControlName="balance">
          </div>
        </div>
        <div *ngIf="postpaid" class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Credit Days' | translate }}</label>
            <select class="form-control" name="creditDays" formControlName="creditDays" required>
              <option *ngFor="let creditDays of listCreditDays" value="{{creditDays}}">{{ creditDays + ' '}}{{ 'days' | translate }}</option>
            </select>
          </fieldset>
          <div class="message-error" [hidden]="creditDays.valid || creditDays.pristine">
            <span>{{ 'Credit Days is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Membership' | translate }}</label>
            <select class="form-control" name="membershipId" formControlName="membershipId" required>
              <option *ngFor="let membership of memberships" [ngValue]="membership.idMembership">{{ membership.name | translate}}</option>
            </select>
          </fieldset>
          <div class="message-error" [hidden]="membershipId.valid || membershipId.pristine">
            <span>{{ 'Membership is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <span [hidden]="listSuppliers.length === 0">{{'Number of defined suppliers:' | translate}} {{listSuppliers.length}} </span>
          <a [hidden]="listSuppliers.length === 0" class="link" (click)="openModalSupplier()">{{ 'Edit' | translate }}</a>
          <a [hidden]="listSuppliers.length !== 0" class="link" (click)="openModalSupplier()">{{ 'Define suppliers' | translate }}</a><br><br>
          <div class="message-error">
            <span [hidden]="listSuppliers.length !== 0">{{'Should define at least one supplier' | translate}}</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" [disabled]="form.invalid || (companyPhone.value.length > 1 && companyPhone.value.length < 8) || (phone.value.length > 1 && phone.value.length < 8) || listSuppliers.length === 0"
    class="btn btn-main" (click)="save()">{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>

<ng-template #rt let-r="result" let-t="term">
  {{ r.description}}
</ng-template>
