@import '../../../../../styles/spectrum/spectrum';

.content {
  overflow-y: auto;
  max-height: 600px;

  h5 {
    font-weight: 600;
  }

  .spinner {
    width: 50px;
    height: 50px;
    top: 62px;
    left: 340px;

    > div {
      width: 10px;
      height: 10px;
    }
  }

  .phone > div {

    background: red;
  }

  .input-group {
    background: red;
  }

}

.input-group .form-control:not(:first-child) {
  border-left: 5px solid red;
}

.input-group .form-control:not(:first-child), .input-group .custom-select:not(:first-child) {
  border-left: 5px solid red;
}

.input-group {
  background: red !important;
}
