<div class="modal-header">
  <h4 class="modal-title">{{ 'Product Detail' | translate }}</h4>
  <button type="button" class="close close-modal" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true"> &times; </span>
  </button>
</div>
<div class="content">
  <div class="modal-body">
    <form [formGroup]="form">
      <h5>{{ 'Product Information' | translate }}</h5>
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Name' | translate }}</label>
            <input class="form-control" maxlength="40" placeholder="{{ 'Enter product name' | translate }}" name="name" formControlName="name"
              required>
          </fieldset>
          <div class="message-error" [hidden]="name.valid || name.pristine">
            <span>{{ 'Name is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Short description' | translate }}</label>
            <input class="form-control" maxlength="40" placeholder="{{ 'Enter description' | translate }}" name="descriptionShort" formControlName="descriptionShort"
              required>
          </fieldset>
          <div class="message-error" [hidden]="descriptionShort.valid || descriptionShort.pristine">
            <span>{{ 'Short description is required' | translate }}</span>
          </div>
        </div>
        <!--Gold-->
        <div class="col-xl-12">
          <label>{{ 'Price Gold' | translate }}</label>
          <br>
          <div class="row">
            <div class="col-xl-6">
              <fieldset class="form-group">
                <label class="label-prices">{{ 'Not guaranteed' | translate }}</label>
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="form-group input-group">
                    <div class="input-group-append">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" min="0.0" step="0.1" class="form-control" placeholder="{{ 'Enter price' | translate }}" name="price1"
                      formControlName="price1">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-xl-6">
              <fieldset class="form-group">
                <label class="label-prices">{{ 'Guaranteed' | translate }}</label>
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="form-group input-group">
                    <div class="input-group-append">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" min="0.0" step="0.1" class="form-control" placeholder="{{ 'Enter price' | translate }}" name="priceGW1"
                      formControlName="priceGW1">
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
         <!-- <div class="message-error" [hidden]="(priceGo1.valid || priceGo1.pristine) && (priceGo2.valid || priceGo2.pristine) && ( priceGo3.valid || priceGo3.pristine)">
            <span>{{ 'Price Gold is required' | translate }}</span>
          </div>-->
        </div>
        <!--Fin Gold-->
        <!--Diamond-->
        <div class="col-xl-12">
          <label>{{ 'Price Diamond' | translate }}</label>
          <br>
          <div class="row">
            <div class="col-xl-6">
              <fieldset class="form-group">
                <label class="label-prices">{{ 'Not guaranteed' | translate }}</label>
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="form-group input-group">
                    <div class="input-group-append">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" min="0.0" step="0.1" class="form-control" placeholder="{{ 'Enter price' | translate }}" name="price2"
                      formControlName="price2">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-xl-6">
              <fieldset class="form-group">
                <label class="label-prices">{{ 'Guaranteed' | translate }}</label>
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="form-group input-group">
                    <div class="input-group-append">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" min="0.0" step="0.1" class="form-control" placeholder="{{ 'Enter price' | translate }}" name="priceDW2"
                      formControlName="priceDW2">
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
         <!-- <div class="message-error" [hidden]="(priceDi1.valid || priceDi1.pristine) && (priceDi2.valid || priceDi2.pristine) && ( priceDi3.valid || priceDi3.pristine)">
            <span>{{ 'Price Diamond is required' | translate }}</span>
          </div>-->
        </div>
        <!--Fin Diamond-->
        <!--Preferred-->
        <div class="col-xl-12">
          <label>{{ 'Price Preferred' | translate }}</label>
          <br>
          <div class="row">
            <div class="col-xl-6">
              <fieldset class="form-group">
                <label class="label-prices">{{ 'Not guaranteed' | translate }}</label>
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="form-group input-group">
                    <div class="input-group-append">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" min="0.0" step="0.1" class="form-control" placeholder="{{ 'Enter price' | translate }}" name="price3"
                      formControlName="price3">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-xl-6">
              <fieldset class="form-group">
                <label class="label-prices">{{ 'Guaranteed' | translate }}</label>
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="form-group input-group">
                    <div class="input-group-append">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" min="0.0" step="0.1" class="form-control" placeholder="{{ 'Enter price' | translate }}" name="pricePW3"
                      formControlName="pricePW3">
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
         <!-- <div class="message-error" [hidden]="(pricePr1.valid || pricePr1.pristine) && (pricePr2.valid || pricePr2.pristine) && ( pricePr3.valid || pricePr3.pristine)">
            <span>{{ 'Price Preferred is required' | translate }}</span>
          </div>-->
        </div>
        <!--Fin Preferred-->
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Status' | translate }}</label>
            <div class="status">
              <div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="status" class="custom-control-input" (change)="assignStatus(0)" [checked]="(product.status === 0) ? true : false">
                  <label class="custom-control-label" for="customRadio1">{{ 'Inactive' | translate }}</label>
                </div>
              </div>
              <div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio2" name="status" class="custom-control-input" (change)="assignStatus(1)" [checked]="(product.status === 1) ? true : false">
                  <label class="custom-control-label" for="customRadio2">{{ 'Active' | translate }}</label>
                </div>
              </div>
            </div>

          </fieldset>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" [disabled]="form.invalid" class="btn btn-main" (click)="save()">{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>
