<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <form [formGroup]="form">
        <div class="form-options">
          <span class="sp-title">{{ 'Personal info' | translate }}</span>
          <button class="btn btn-main" (click)="edit()" [hidden]="canEdit" *ngIf="connected">{{ 'Edit' | translate }}&nbsp;
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-main disabled" placement="top" ngbTooltip="{{'To update a customer you must authorize to Quickbooks to complete the integration' | translate }}" (click)="edit()" [hidden]="canEdit" *ngIf="!connected">{{ 'Edit' | translate }}&nbsp;           
            <i class="fa fa-edit"></i>
          </button>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Name' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.name }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter name' | translate }}" name="name" formControlName="name"
                  required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="name.valid || name.pristine">
              <span>{{ 'Name is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Email' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.email }}</span>
                <input [hidden]="!canEdit" type="email" class="form-control" placeholder="{{ 'Enter email' | translate }}" name="email" formControlName="email"
                  required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="email.pristine">
              <span *ngIf="email.errors && !!email.errors.required">{{'Email is required' | translate }}</span>
              <span *ngIf="email.errors && !!email.errors.pattern">{{ 'Email is not valid' | translate }}
              </span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Price List' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.membership.name }}</span>
                <select [hidden]="!canEdit" class="form-control" name="membershipId" formControlName="membershipId" required>
                  <option *ngFor="let membership of memberships" [ngValue]="membership.idMembership">{{ membership.name }}</option>
                </select>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="membershipId.valid || membershipId.pristine">
              <span>{{ 'Price List is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'City' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.city }}</span>
                <input [hidden]="!canEdit" id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt"
                  name="cityPlace" formControlName="cityPlace" [inputFormatter]="formatter" (selectItem)="findPlace($event)" #instance="ngbTypeahead"
                  placeholder="{{ 'Enter city' | translate }}" required />
              </div>
            </fieldset>
            <div *ngIf="searching" class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="message-error" [hidden]="cityPlace.valid || cityPlace.pristine">
              <span>{{ 'City is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'State' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.state }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter state' | translate }}" name="state" formControlName="state">
              </div>
            </fieldset>
            <div class="message-error" [hidden]="state.valid || state.pristine">
              <span>{{ 'State is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Country' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.country? (user.country.name | translate) : '' }}</span>
                <ng-select [hidden]="!canEdit" [items]="listCountries" formControlName="idCountry" notFoundText="{{ 'No country found' | translate }}" [(ngModel)]="selectedCountry" bindValue="idCountry" placeholder="{{ 'Select country' | translate }}" [searchable]="false" required>
                  <ng-template ng-label-tmp let-item="item">
                    <div class="supplier-body">
                      <span>{{ item.name | translate }}</span>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <div class="supplier-body">
                      <h6 [ngOptionHighlight]="search">{{ item.name | translate }}</h6>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="idCountry.valid || idCountry.pristine">
              <span>{{ 'Country is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Postal Code' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.postalCode }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter postal code' | translate }}" name="postal" formControlName="postal">
              </div>
            </fieldset>
            <div class="message-error" [hidden]="postal.valid || postal.pristine">
              <span>{{ 'Postal code is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Phone' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.phone }}</span>
                <!--<input [hidden]="!canEdit" class="form-control" name="phone" formControlName="phone">-->
                <int-phone-prefix [hidden]="!canEdit" name="phone" formControlName="phone" data-toggle="tooltip" data-placement="right" title="{{'Select a country by clicking on the map' | translate }}"></int-phone-prefix>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="!canEdit || phone.value.length === 0 || phone.value.length > 7">
              <span>{{ 'Phone not valid' | translate }}</span>
            </div>
            <!--
            <div class="message-error" [hidden]="!canEdit || phone.value!=''">
              <span>{{ 'Phone is required' | translate }}</span>
            </div>
            -->
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Card Code' | translate }}  ({{ 'Field required for MarkEnnovy' | translate}})</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.cardCode }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter card code' | translate }}" name="cardCode" formControlName="cardCode">
              </div>
            </fieldset>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Certification Code' | translate }}  ({{ 'Field required for Euclid' | translate}})</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.certificationCode }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter certification code' | translate }}" name="certificationCode" formControlName="certificationCode">
              </div>
            </fieldset>
          </div>
          <div class="col-xl-12">
            <fieldset class="form-group">
              <label>{{ 'Address' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.address }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter address' | translate }}" maxlength="255" name="address" formControlName="address">
              </div>
            </fieldset>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Seller' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ user.nameSeller ? user.nameSeller : ('No seller assigned' | translate) }}</span>
                <button class="btn btn-main" (click)="openSeller()" *ngIf="canEdit && !nameSeller">{{ 'Assign seller' | translate }}&nbsp;</button>
                <div *ngIf="canEdit && nameSeller">
                  <span>{{ nameSeller }}</span>
                  &nbsp;
                  <a class="link" (click)="unlink()">{{ 'Unlink' | translate }}</a>
                  &nbsp;
                  <a class="link" (click)="openSeller()">{{ 'Edit' | translate }}</a>
                </div>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="postal.valid || postal.pristine">
              <span>{{ 'Postal code is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Username' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span >{{ user.username }}</span>
              </div>
            </fieldset>
          </div>
          <a class="active" [style.pointer-events]="!canEdit ? 'none' : 'auto'" (click)="resetKey(user)">
            <span>
              <i class="fa fa-key"></i>&nbsp; {{ 'Password recovery' | translate }}
            </span>
          </a>
        </div>
        <br>
        <div class="footer-form">
          <button class="btn btn-secondary" (click)="cancel()" [disabled]="saving" [hidden]="!canEdit">{{ 'Cancel' | translate }}&nbsp;
            <i class="fa fa-times"></i>
          </button>
          &nbsp;&nbsp;
          <!--<button class="btn btn-main" (click)="save()" [disabled]="form.invalid || phone.value =='' ||  (phone.value.length < 8 && !!phone.value.length) || saving" [hidden]="!canEdit">{{ 'Save' | translate }}&nbsp;-->
          <button class="btn btn-main" (click)="save()" [disabled]="form.invalid || saving" [hidden]="!canEdit">{{ 'Save' | translate }}&nbsp;
            <i class="fa fa-save"></i>
          </button>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
<ng-template #rt let-r="result" let-t="term">
  {{ r.description}}
</ng-template>
