<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <br>
      <form [formGroup]="form">
        <div class="form-options">
          <span class="sp-title">{{ 'Company Info' | translate }}</span>
          <button class="btn btn-main" (click)="edit()" [hidden]="canEdit">{{ 'Edit' | translate }}&nbsp;
            <i class="fa fa-edit"></i>
          </button>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Name' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.companyName }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter name' | translate }}" name="name" formControlName="name"
                  required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="name.valid || name.pristine">
              <span>{{ 'Name is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Company contact name' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.contactName }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter company contact name' | translate }}" name="contactName"
                  formControlName="contactName" required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="contactName.valid || contactName.pristine">
              <span>{{ 'Company contact name is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Business types' | translate }}</label>
              <select class="form-control" name="idBusinessType" formControlName="idBusinessType" required>
                <option *ngFor="let bussinesType of businessTypes" [ngValue]="bussinesType.idBusinessType">{{ bussinesType.name | translate }}</option>
              </select>
            </fieldset>
            <div class="message-error" [hidden]="idBusinessType.valid || idBusinessType.pristine">
              <span>{{ 'Business type is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Email' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.email }}</span>
                <input [hidden]="!canEdit" type="email" class="form-control" placeholder="{{ 'Enter email' | translate }}" name="email" formControlName="email"
                  required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="email.pristine">
              <span *ngIf="email.errors && !!email.errors.required">{{'Email is required' | translate }}</span>
              <span *ngIf="email.errors && !!email.errors.pattern">{{ 'Email is not valid' | translate }}
              </span>
            </div>
          </div>
          <div class="col-xl-6 place">
            <fieldset class="form-group">
              <label>{{ 'City' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.city }}</span>
                <input [hidden]="!canEdit" id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="result"
                  name="cityPlace" formControlName="cityPlace" [inputFormatter]="formatter" (selectItem)="findPlace($event)"
                  #instance="ngbTypeahead" placeholder="{{ 'Enter city' | translate }}" required />
              </div>
            </fieldset>
            <div *ngIf="searching" class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="message-error" [hidden]="cityPlace.valid || cityPlace.pristine">
              <span>{{ 'City is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'State' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.state }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter state' | translate }}" name="state" formControlName="state">
              </div>
            </fieldset>
            <div class="message-error" [hidden]="state.valid || state.pristine">
              <span>{{ 'State is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Country' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.country? (company.country.name | translate) : '' }}</span>
                <ng-select [hidden]="!canEdit" [items]="listCountries" formControlName="idCountry" notFoundText="{{ 'No country found' | translate }}" [searchable]="false"
                  [(ngModel)]="selectedCountry" bindValue="idCountry" placeholder="{{ 'Select country' | translate }}">
                  <ng-template ng-label-tmp let-item="item">
                    <div class="supplier-body">
                      <span>{{ item.name | translate }}</span>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <div class="supplier-body">
                      <h6 [ngOptionHighlight]="search">{{ item.name | translate }}</h6>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="idCountry.valid || idCountry.pristine">
              <span>{{ 'Country is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Postal Code' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.postalCode }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter postal code' | translate }}" name="postalCode" formControlName="postalCode">
              </div>
            </fieldset>
            <div class="message-error" [hidden]="postalCode.valid || postalCode.pristine">
              <span>{{ 'Postal code is required' | translate }}</span>
            </div>
          </div>

          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Address' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.address }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter address' | translate }}" name="address" maxlength="255"
                  formControlName="address">
              </div>
            </fieldset>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Phone' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.phone }}</span>
                <int-phone-prefix [hidden]="!canEdit" name="phone" formControlName="phone" data-toggle="tooltip" data-placement="right" title="{{'Select a country by clicking on the map' | translate }}"></int-phone-prefix>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="!canEdit || phone.value.length === 0 || phone.value.length > 7">
              <span>{{ 'Phone not valid' | translate }}</span>
            </div>
            <div class="message-error" [hidden]="!canEdit || phone.value!=''">
              <span>{{ 'Phone is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-12">
            <fieldset class="form-group">
              <label>{{ 'Shipping Instructions' | translate }}
              </label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.shippingInstructions }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter shipping instructions' | translate }}" name="shippingInstructions" formControlName="shippingInstructions" maxlength="255"
                required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="shippingInstructions.valid || shippingInstructions.pristine">
              <span>{{ 'Shipping instructions are required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Payment Method' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ method | translate}}</span>
                <div [hidden]="!canEdit" class="row">
                  <div class="col-xl-3">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio1" name="paymentMethod" class="custom-control-input" (change)="assignCreditDays(0)" [checked]="company && company.paymentMethod === 0 ? true : false">
                      <label class="custom-control-label" for="customRadio1">{{ 'Prepaid' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-xl-3">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio2" name="paymentMethod" class="custom-control-input" (change)="assignCreditDays(1)" [checked]="company && company.paymentMethod === 1 ? true : false">
                      <label class="custom-control-label" for="customRadio2">{{ 'Postpaid' | translate }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="paymentMethod.valid || paymentMethod.pristine">
              <span>{{ 'Payment Method is required' | translate }}</span>
            </div>
          </div>
          <div *ngIf="postpaid" class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Credit limit' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.creditLimit | currency }}</span>
                <div class="form-group input-group">
                  <div [hidden]="!canEdit" class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
                  <input [hidden]="!canEdit" class="form-control" min="1" type="number" placeholder="{{ 'Enter credit limit' | translate }}" name="creditLimit"
                    formControlName="creditLimit" (change)="newBalance($event)" required>
                </div>
              </div>
              <div class="message-error" [hidden]="creditLimit.valid || creditLimit.pristine">
                <span>{{ 'Credit Limit is required' | translate }}</span>
              </div>
            </fieldset>
          </div>
          <div *ngIf="postpaid" class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Credit balance' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.balance | currency }}</span>
                <div class="form-group input-group">
                  <div [hidden]="!canEdit" class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
                  <input [hidden]="!canEdit" class="form-control" type="number" placeholder="{{ 'Enter credit balance' | translate }}" name="balance"
                    formControlName="balance" required>
                </div>
              </div>
              <div class="message-error" [hidden]="balance.valid || balance.pristine">
                <span>{{ 'Credit balance is required' | translate }}</span>
              </div>
            </fieldset>
          </div>
          <div *ngIf="postpaid" class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Credit Days' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ company.creditDays + ' '}}{{ 'days' | translate }}</span>
                <select [hidden]="!canEdit" class="form-control" name="creditDays" formControlName="creditDays" required>
                  <option *ngFor="let creditDays of listCreditDays" value="{{creditDays}}">{{ creditDays + ' '}}{{ 'days' | translate }}</option>
                </select>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="creditDays.valid || creditDays.pristine">
              <span>{{ 'Credit Days is required' | translate }}</span>
            </div>
          </div>
        </div>
        <!--br>-->
        <div class="footer-form">
          <button class="btn btn-secondary" (click)="cancel()" [disabled]="saving" [hidden]="!canEdit">{{ 'Cancel' | translate }}&nbsp;
            <i class="fa fa-times"></i>
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-main" (click)="save()" [disabled]="form.invalid || phone.value =='' || (phone.value.length < 8 && !!phone.value.length) || saving"
            [hidden]="!canEdit">{{ 'Save' | translate }}&nbsp;
            <i class="fa fa-save"></i>
          </button>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
<ng-template #result let-r="result" let-t="term">
  {{ r.description}}
</ng-template>
