<div class="row page-header-fixed">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Basket' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/list-basket']">
          <i class="fa fa-shopping-cart"></i> {{ 'All Basket' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-shopping-cart"></i> {{ 'Basket' | translate}}</li>
    </ol>
  </div>
</div>
<div class="sp-container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="sp-card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            {{ 'All Basket' | translate }}
          </div>
        </div>
        <div class="row">
          <div class="col-xl-1">
            <div class="sp-card-header">{{ 'Filters:' | translate }}</div>
          </div>
          <div class="col-xl-1">
            <h6 class="ng-tns-c6-0 h5-filter">{{ 'Patient' | translate }}</h6>
          </div>
          <div class="col-xl-3 filter">
            <div class="row search">
              <div class="col col-xl-12 col-lg-12">
                <input class="form-control" (keyup)="getItems($event)" placeholder="{{'Enter patient search ...' | translate }}">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-5 align-select">
            <div class="custom-control custom-checkbox">
              <input id="checkboxAll" type="checkbox" name="checkboxGroupAll" [(ngModel)]="checkboxModel.value1" (click)="onSelectionAll(checkboxModel.value1)"
                class="custom-control-input">
              <label class="custom-control-label" for="checkboxAll">{{ 'Select all' | translate }}</label>
            </div>
          </div>
          <div class="col-xl-1 align-btn-detail">
            <button type="button" (click)="buy()" class="btn btn-outline-primary" [disabled]="productRequestedToBuy.length === 0">
              {{ 'Buy Now' | translate }}
            </button>
          </div>

          <!--PRODUCTS BASKET-->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="list-basket col-lg-5" *ngFor="let basket of listBasket; let i = index">
                <div class="row">
                  <div class="col-lg-1">
                    <div class="custom-control custom-checkbox">
                      <input id="checkbox{{i}}" type="checkbox" name="checkboxGroup" [(ngModel)]="basket.checked" (click)="onSelection(basket, basket.checked)"
                        class="custom-control-input">
                      <label class="custom-control-label" for="checkbox{{i}}"></label>
                    </div>
                  </div>
                  <div class="col-lg-10">
                    <span>{{ basket.date | date:'yyyy-MM-dd' }}</span>
                  </div>
                  <div class="col-lg-1">
                    <i class="fa fa-trash" (click)="delete(basket.idBasketProductRequested)" placement="top" ngbTooltip="{{ 'Delete' | translate }}"></i>
                    <!--<a class="ng-tns-c4-0 link" (click)="delete(basket.idBasketProductRequested)" translate>Delete</a>&nbsp;-->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <!--Image-->
                    <div>
                      <img class="img-product" src={{basket.urlImage}}>
                    </div>
                    <!--Details-->
                    <div class="details">
                      <div>
                        <span>{{ basket.productRequested.product.name }}</span>
                      </div>
                      <div class="price h5 text-warning">
                        <h6>{{ basket.productRequested.detail[0].name }}</h6>
                      </div>
                      <div>
                        <span>{{ basket.productRequested.detail[0].eye }} {{ 'Eye' | translate }} </span>
                      </div>
                      <div>
                        <span>{{ basket.productRequested.patient }}</span>
                      </div>
                    </div>

                  </div>

                  <div class="col-lg-4 params">
                    <div class="col-lg-12" *ngFor="let specification of basket.productRequested.detail">
                      <div *ngFor="let param of specification.parameters">
                        <dl class="param">
                          <dt>{{ param.name }}:</dt>
                          <dt>{{ param.selected }}</dt>
                        </dl>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <br>
            <div class="table-empty" [hidden]="listBasket.length !== 0" translate>
              <p class="no-records">
                {{ 'No records have been added yet' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
