<div class="info-breadcrumbs" *ngIf="product">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Product Details' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/products']">
          <i class="fa fa-edit"></i> {{ 'Products List' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-eye"></i> {{ 'Product Details' | translate}}</li>
    </ol>
  </div>
</div>
<div class="padding-detail" *ngIf="product">
  <div class="card">
    <div class="">
      <!-- row (name-price-image) -->
      <div class="row wrapper">
        <div class="preview col-md-12">
          <!-- name-price -->
          <div class="main-info">
            <h4 class="product-title">{{ product.name }}</h4>
            <h1 class="price" [hidden]="product.priceSale===''">
              <span>{{ product.priceSale | currency : "USD $" }}</span>
            </h1>
          </div>
          <!-- image -->
          <div class="preview-pic tab-content main-info">
            <div class="tab-pane active" id="pic-1">
              <img src="{{ product.mainImg }}" />
            </div>
          </div>
        </div>
      </div>

      <!-- row (properties-material-replacement-warranty-sheet) -->
      <div class="row product-info">
        <div class="item-properties col-md-2">
          <dt>{{ product.properties.name | translate }}</dt>
          <p>
            <!--<img *ngFor="let property of product.properties.values" placement="top" ngbTooltip="{{ property.title }}"
              class="" src="{{ property.image }}" width="30" height="30">&nbsp;-->
          </p>
        </div>
        <div class="col-md-3">
          <dt>{{ 'Material' | translate }}</dt>
          <dd>
            <a>{{ product.material }}</a>
          </dd>
        </div>
        <div class="col-md-3">
          <dt>{{ 'Replacemente Period' | translate }}</dt>
          <p>{{ product.replacementPeriod | translate }}</p>
        </div>
        <div class="col-md-2">
          <dt>{{ 'Warranty' | translate }}</dt>
          <p>{{ product.warranty }} {{ 'days' | translate }}</p>
        </div>
        <div class="col-md-2">
          <dt>{{ 'Product Sheet' | translate }}</dt>
          <dd>
            <a href="{{ product.url }}" target="_blank">{{ 'Download' | translate}}</a>
          </dd>
        </div>
      </div>

      <!-- row (pacient, client, shipping address) -->
      <div class="row product-info">
        <!-- patient -->
        <div class="col-md-3">
          <dt class="title">{{ 'Patient Full Name' | translate }}</dt>
          <div class="row col-md-12">
            <input class="form-control" type="text" placeholder="{{ 'Enter name patient' | translate }}"
              [(ngModel)]="product.patient" required>
          </div>
        </div>

        <!-- client -->
        <div class="col-md-3">
          <dt class="col-md-12">{{ 'Customer Full Name' | translate }}</dt>
          <div class="col-md-12" [hidden]="user.role.idRole !== 3">
            <input class="form-control" type="text" placeholder="{{ 'Enter name customer' | translate }}"
              [(ngModel)]="product.client" disabled required>
          </div>
          <div class="col-md-12" [hidden]="user.role.idRole === 3">
            <ng-select [items]="listCustomers" (change)="onSelectedClient($event)" [(ngModel)]="CustomersSelected"
              [virtualScroll]="true" bindLabel="name" bindValue="idUser" placeholder="{{ 'Select value' | translate }}" required>
            </ng-select>
          </div>
        </div>
        <!--shipping address-->
        <div class="col-md-6">
          <span class="title">{{ 'Shipping Address' | translate }}</span>
          <div class="row col-md-12">
            <input class="form-control readonly-input" type="text" [(ngModel)]="product.shippingAddress" placeholder="{{ 'This field is filled when the client is selected.' | translate }}"
              readonly>
          </div>
        </div>
      </div>

      <div class="row product-info">
        <div class="col-md-12 title">
          <label> {{ 'Please specific your product' | translate }}</label>
        </div>
      </div>

      <!-- row (parameters) -->
      <div class="row header-params">
        <!-- row (parameters right) -->
        <div class="col-md-12 custom-control custom-checkbox">
          <!--header-->
          <input id="right" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('right')" [checked]="product.eyeRight"
            class="custom-control-input">
          <label class="custom-control-label" for="right">{{ 'Eye Right' | translate }}</label>

          <!--row header right (contamac / hydrapeg / insertors)-->
          <div class="row col-md-12">
            <div class="col-md-2" *ngFor="let header of product.headerRight">
              <div class="row">
                <div class="label">
                  <label class="form-check-label">{{ header.name | translate }}</label>&nbsp;&nbsp;
                </div>

                <div class="select-values" *ngIf="header.type === 'selected'">
                  <ng-select (change)="changeSelect('right', header, $event)" [items]="header.values" [disabled]="!product.eyeRight"
                    [(ngModel)]="header.sel" bindValue="item" placeholder="{{ 'Select value' | translate }}" [required]="product.eyeRight">
                    <ng-template ng-label-tmp let-item="item">
                      <div class="supplier-body">
                        <span>{{ item | translate }}</span>
                      </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <div class="supplier-body">
                        <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>

          <div class="title">{{ 'Parameters' | translate }}</div>
          <div class="row">
            <!--quantity right-->
            <div class="col-md-1 quantity">
              <div class="row">
                <label class="form-check-label">{{ 'Quantity' | translate }}</label>
              </div>
              <div class="row">
                  <input class="form-control col-sm-8" type="number" value="1" [(ngModel)]="product.quantityRight"
                          oninput="validity.valid||(value='');" [disabled]="true" [required]="product.eyeRight">
              </div>
            </div>
            <!--params right-->
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-2" *ngFor="let parameter of product.parametersRight">
                  <div>
                    <!--param name-->
                    <div class="row label">
                      <label class="form-check-label">{{ parameter.name | translate }}</label>&nbsp;&nbsp;
                    </div>
                    <!--param values-->
                    <div class="row">
                      <div *ngIf="parameter.type === 'selected'" class="select-values col-sm-10">
                        <ng-select (change)="changeSelect('right', parameter, $event)" [items]="parameter.values" [disabled]="!product.eyeRight" [required]="product.eyeRight"
                                    [(ngModel)]="parameter.sel" bindLabel="item" bindValue="item" placeholder="{{ 'Select value' | translate }}">
                                {{item}}
                        </ng-select>
                      </div>

                      <!--Only Power-->
                      <div *ngIf="parameter.type === 'input' && parameter.name === 'Power'" class="select-values col-sm-10 param-power">
                        <ng-select [items]="['+', '-']" [disabled]="!product.eyeRight" [required]="product.eyeRight"
                                   [(ngModel)]="signPowerRight" bindLabel="item" bindValue="item" placeholder="{{ 'Sign' | translate }}"
                                   [clearable]="false">
                                   {{item}} 
                        </ng-select>
                        <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}" 
                               [required]="product.eyeRight" [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');"
                               [disabled]="!product.eyeRight" min="0">
                      </div>

                      <!--Only Base Curve-->
                      <div *ngIf="parameter.type === 'input' && parameter.name === 'Base Curve (mm)'" class="select-values col-sm-10">
                        <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}"
                               [required]="product.eyeRight" [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');"
                               [disabled]="!product.eyeRight" min="00.00" step="00.01" (change)="parameter.selected = format(parameter.selected)">
                      </div>
                      
                      <div *ngIf="parameter.type === 'input' && parameter.name !== 'Power' && parameter.name !== 'Base Curve (mm)'" class="select-values col-sm-10">
                        <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}" [required]="product.eyeRight"
                                [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeRight">
                      </div>

                      <div *ngIf="parameter.type === 'selected-double'" class="select-values col-sm-10">
                        <div class="row selected-double">
                          <div class="col-sm-6">
                            <input class="form-control" type="number" placeholder="{{ parameter.values[0].placeholder | translate }}" [required]="product.eyeRight"
                                    [(ngModel)]="parameter.values[0].selected" (change)="setNotch(parameter)" oninput="validity.valid||(value='');" [disabled]="!product.eyeRight">
                          </div>
                          <div class="col-sm-6">
                            <input class="form-control" type="number" placeholder="{{ parameter.values[1].placeholder | translate }}" [required]="product.eyeRight"
                                    [(ngModel)]="parameter.values[1].selected" (change)="setNotch(parameter)" oninput="validity.valid||(value='');" [disabled]="!product.eyeRight">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--row steps right-->
          <br>
          <div class="row content-steps">
            <div class="col-md-4 title" *ngFor="let PC of product.pasosRight">
              <label class="form-check-label">{{ PC.name }}</label>&nbsp;&nbsp;
              <div class="row steeps">
                <div class="col-md-6 sub-label" *ngFor="let paso of PC.values">
                  <label class="form-check-label">{{ paso.name | translate }}</label>&nbsp;&nbsp;
                  <div class="row">
                    <div *ngFor="let value of paso.values" class="col-md-6 custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="{{ 'right' + PC.name + paso.name + value.name }}"
                              [(ngModel)]="value.selected" (click)="setChecked(value, PC)" [disabled]="!product.eyeRight" [required]="product.eyeRight">
                      <label class="custom-control-label" for="{{ 'right'  + PC.name + paso.name + value.name }}">{{ value.name | translate }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>
        </div>


        <!-- row (parameters left) -->
        <div class="col-md-12 custom-control custom-checkbox">
          <!--header-->
          <input id="left" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('left')" [checked]="product.eyeLeft"
            class="custom-control-input">
          <label class="custom-control-label" for="left">{{ 'Eye Left' | translate }}</label>

          <!--row header left (contamac / hydrapeg / insertors)-->
          <div class="row col-md-12">
            <div class="col-md-2" *ngFor="let header of product.headerLeft">
              <div class="row">
                <div class="label">
                  <label class="form-check-label">{{ header.name }}</label>&nbsp;&nbsp;
                </div>

                <div class="select-values" *ngIf="header.type === 'selected'">
                  <ng-select (change)="changeSelect('left', header, $event)" [items]="header.values" [disabled]="!product.eyeLeft" [required]="product.eyeLeft"
                    [(ngModel)]="header.sel" bindValue="item" placeholder="{{ 'Select value' | translate }}">
                    <ng-template ng-label-tmp let-item="item">
                      <div class="supplier-body">
                        <span>{{ item | translate }}</span>
                      </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <div class="supplier-body">
                        <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>

          <div class="title">{{ 'Parameters' | translate }}</div>
          <div class="row">
            <!--quantity left-->
            <div class="col-md-1 quantity">
              <div class="row">
                <label class="form-check-label">{{ 'Quantity' | translate }}</label>
              </div>
              <div class="row">
                  <input class="form-control col-sm-8" type="number" value="1" [(ngModel)]="product.quantityLeft" [required]="product.eyeLeft"
                          oninput="validity.valid||(value='');" [disabled]="true" >
              </div>
            </div>
            <!--params left-->
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-2" *ngFor="let parameter of product.parametersLeft">
                  <div>
                    <!--param name-->
                    <div class="row label">
                      <label class="form-check-label">{{ parameter.name | translate }}</label>&nbsp;&nbsp;
                    </div>
                    <!--param values-->
                    <div class="row">
                      <div *ngIf="parameter.type === 'selected'" class="select-values col-sm-10">
                        <ng-select (change)="changeSelect('left', parameter, $event)" [items]="parameter.values" [disabled]="!product.eyeLeft" [required]="product.eyeLeft" [(ngModel)]="parameter.sel"
                                    bindLabel="item" bindValue="item" placeholder="{{ 'Select value' | translate }}">
                            {{item}}
                        </ng-select>
                      </div>

                      <!--Only Power-->
                      <div *ngIf="parameter.type === 'input' && parameter.name === 'Power'" class="select-values col-sm-10 param-power">
                        <ng-select [items]="['+', '-']" [disabled]="!product.eyeLeft" [required]="product.eyeLeft"
                                    [(ngModel)]="signPowerLeft" bindLabel="item" bindValue="item" placeholder="{{ 'Sign' | translate }}">
                                    {{item}} 
                        </ng-select>
                        <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}"
                               [required]="product.eyeLeft" [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');"
                               [disabled]="!product.eyeLeft" min="0">
                      </div>

                       <!--Only Base Curve-->
                      <div *ngIf="parameter.type === 'input' && parameter.name === 'Base Curve (mm)'" class="select-values col-sm-10">
                        <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}"
                               [required]="product.eyeLeft" [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');"
                               [disabled]="!product.eyeLeft" min="00.00" step="00.01" (change)="parameter.selected = format(parameter.selected)">
                      </div>

                      <div *ngIf="parameter.type === 'input' && parameter.name !== 'Power' && parameter.name !== 'Base Curve (mm)'" class="select-values col-sm-10">
                        <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}" [required]="product.eyeLeft"
                                [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft">
                      </div>

                      <div *ngIf="parameter.type === 'selected-double'" class="select-values col-sm-10">
                        <div class="row selected-double">
                          <div class="col-sm-6">
                            <input class="form-control" type="number" placeholder="{{ parameter.values[0].placeholder | translate }}" [required]="product.eyeLeft"
                                    [(ngModel)]="parameter.values[0].selected" (change)="setNotch(parameter)" oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft">
                          </div>
                          <div class="col-sm-6">
                            <input class="form-control" type="number" placeholder="{{ parameter.values[1].placeholder | translate }}" [required]="product.eyeLeft"
                                    [(ngModel)]="parameter.values[1].selected" (change)="setNotch(parameter)" oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--row steps left-->
          <br>
          <div class="row content-steps">
            <div class="col-md-4 title" *ngFor="let PC of product.pasosLeft">
              <label class="form-check-label">{{ PC.name }}</label>&nbsp;&nbsp;
              <div class="row steeps">
                <div class="col-md-6 sub-label" *ngFor="let paso of PC.values">
                  <label class="form-check-label">{{ paso.name | translate }}</label>&nbsp;&nbsp;
                  <div class="row">
                    <div *ngFor="let value of paso.values" class="col-md-6 custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="{{ 'left' + PC.name + paso.name + value.name }}" [required]="product.eyeLeft"
                              [(ngModel)]="value.selected" (click)="setChecked(value, PC)" [disabled]="!product.eyeLeft">
                      <label class="custom-control-label" for="{{ 'left'  + PC.name + paso.name + value.name }}">{{ value.name | translate }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <br>

      <div class="buy-btns">
        <button [hidden]="user.role.idRole === 3" class="btn btn-lg btn-primary btn-outline-primary text-uppercase" (click)="formIsValid() && addToCart(2)" [disabled]="!formIsValid()">
          {{ 'Buy Now' | translate }}
        </button>
        <button class="btn btn-lg btn-outline-primary text-uppercase" (click)="formIsValid() && addToCart(1)" [disabled]="!formIsValid()">
          <i class="fa fa-cart-plus"></i> {{ 'Add to cart' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
