.info-breadcrumbs {
  margin-top: 80px;
  margin-left: 3%;
}

.padding-detail {
  padding: 10px 40px 10px 40px;
}

.select-values {
  padding-left: 0px;
}

.card-body {
  padding: 20px !important;
}

.gallery-wrap .img-big-wrap img {
  height: 343px;
  width: auto;
  display: inline-block;
  cursor: zoom-in;
}

.gallery-wrap .img-small-wrap .item-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  margin: 7px 2px;
  display: inline-block;
  overflow: hidden;
}

.gallery-wrap .img-small-wrap {
  text-align: center;
}

.gallery-wrap .img-small-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: zoom-in;
}

//new
body {
  font-family: 'open sans';
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  >div:nth-child(2) {
    margin-top: 10px;
  }
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.card {
  background: #eee;
  padding: 2em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  >div:nth-child(2) { //description
    padding-top: 20px
  }

  >div:nth-child(3) { //characteristics
    padding-top: 35px;

   .info-content {
      margin-top: 10px;
    }
  }

  
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #ff9f1a;
}

.rating,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
  background: #b36800;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}

.buy-btns {
  text-align: right;
}
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.fa-arrow-left {
  margin-top: 10px;
}

.title {
  font-weight: 600;
}

.info-content {
  margin-left: 15px;
  margin-bottom: 0px;
}

.item-properties {
  img {
    width: 30px;
  }
}

.more-info {

  >div:nth-child(1) { 
    >div:nth-child(1) { //header
      .header {
        margin-left: 5px;
      }
  
      .content {
        margin-left: 25px;
  
        .label{
          margin-top: 17px;
        }
  
        .selection{
          margin-top: 5px;
        }
      }
  
      >div:nth-child(4) {
        margin-top: 35px;
        margin-left: 5px;
  
        >div:nth-child(2) {
          max-width: 48%;
        }
      }
    }

    >div:nth-child(2) { //specifications technicals
      .header {
        margin-left: 5px;
      }
  
      .content {
        margin-left: 25px;
  
        .label{
          margin-top: 17px;
        }
  
        .selection{
          margin-top: 5px;
        }
      }
  
      >div:nth-child(4) {
        margin-top: 35px;
        margin-left: 5px;
  
        >div:nth-child(2) {
          max-width: 48%;
        }
      }
    }

    >div:nth-child(3) { //comments
      margin-top: 30px;

      .header {
        margin-left: 15px;
      }
  
      .content {
        margin-left: 15px;
      }
    }
  }

  >div:nth-child(2) {

    >div:nth-child(2) {
      margin-top: 30px;
      .row {
        .title {
          margin-left: 15px;
        }
      }
    }

    >div:nth-child(3) {
      margin-top: 30px;
      .row {
        .title {
          margin-left: 15px;
        }
      }
    }

    .filters {
      margin-top: 10px;
    }

  }

  .radio-scleral {
    width: 120px;
    display: flex;
    justify-content: space-between;
  }

  
}