<div class="info-breadcrumbs" *ngIf="product">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Product Details' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/products/' + product.supplier.idSupplier + '/internal']">
          <i class="fa fa-edit"></i> {{ 'Products List' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-eye"></i> {{ 'Product Details' | translate}}</li>
    </ol>
  </div>
</div>

<div class="padding-detail" *ngIf="product">
  <div class="card">
    <div>
      <!-- row (name-price-image) -->
      <div class="row wrapper">
        <div class="preview col-md-12">
          <!-- name-price -->
          <div class="main-info">
            <h3 class="product-title">{{'Consultation Form' | translate }}:
              <br>
              <i>{{ product.name }}</i>
            </h3>
          </div>
        </div>
      </div>

      <!-- row (pacient, client, shipping address) -->
      <div class="row product-info">
        <!-- patient -->
        <div class="col-lg-3">
          <dt class="title">{{ 'Patient Full Name' | translate }}</dt>
          <div class="row info-content">
            <input class="form-control" type="text" maxlength="20" placeholder="{{ 'Enter name patient' | translate }}" [(ngModel)]="product.patient"
              required>
          </div>
        </div>
        <!-- client -->
        <div class="col-lg-4">
          <dt class="title">{{ 'Account Name' | translate }}</dt>
          <div class="row info-content" [hidden]="user.role.idRole !== 3">
            <input class="form-control" type="text" placeholder="{{ 'Enter name customer' | translate }}" required
              [(ngModel)]="product.client" disabled>
          </div>
          <div class="row info-content" [hidden]="user.role.idRole === 3">
            <ng-select [items]="listCustomers" (change)="onSelectedClient($event)" [(ngModel)]="CustomersSelected"
              required [virtualScroll]="true" bindLabel="fullName" bindValue="idUser" placeholder="{{ 'Select value' | translate }}">
            </ng-select>
          </div>
        </div>
        <!--shipping address-->
         <!--shipping address-->
        <div class="col-lg-5">
          <span class="title">{{ 'Shipping Address' | translate }}</span>
          <div class="row info-content ">
            <input class="form-control readonly-input" type="text" [(ngModel)]="product.shippingAddress" placeholder="{{ 'This field is filled when the client is selected.' | translate }}"
              readonly>
          </div>
        </div>
      </div>

      <div id="consultation-form">
        <div>
          <div class="owm">
            <div *ngFor="let param of generalParams">
              <div  *ngIf="param.type === 'checkbox'"  class="flex custom-control custom-checkbox">
                <input *ngIf="param.type === 'checkbox'" id="{{ param.name + 'checkbox' }}" type="checkbox" (click)="setCheckbox(param)" [checked]="param.selected"
                    class="custom-control-input">

                <label class="bold custom-control-label" for="{{ param.name + 'checkbox' }}">{{ param.name | translate }}</label>
              </div>

              <div  *ngIf="param.type === 'input'" class="flex">
                <label class="bold" for="{{ param.name + 'checkbox' }}">{{ param.name | translate }}</label>
                <input *ngIf="param.type === 'input'" type="text" class="form-control" required [(ngModel)]="param.selected">
              </div>
            </div>
          </div>

          <div *ngFor="let eyeView of eyes">

            <div class="eyes">
              <div *ngIf="eyeView.eye === 'right'" class="col-lg-12 custom-control custom-checkbox">
                <input id="OD" type="checkbox" name="checkboxOD" (click)="setValueEye('right')" [checked]="product.eyeRight"
                    class="custom-control-input">
                <label class="bold custom-control-label" for="OD">{{ 'OD' }}</label>
              </div>

              <div *ngIf="eyeView.eye === 'left'" class="col-lg-12 custom-control custom-checkbox">
                <input id="OS" type="checkbox" name="checkboxOS" (click)="setValueEye('left')" [checked]="product.eyeLeft"
                    class="custom-control-input">
                <label class="bold custom-control-label" for="OS">{{ 'OS' }}</label>
              </div>
            </div>
            <div class="form-group " *ngFor="let param of eyeView.params; let i = index">
              <!--Multiples INPUTS-->
              <div *ngIf="param.type === 'multiple'" class="multiples-params">
                <div class="param-titles">
                  <span>{{ param.name | translate }}</span>
                  <span>{{ param.subname | translate }}</span>
                </div>
                <div class="content-params">
                  <div class="sub-params" *ngFor="let subParam of param.values; let isub = index">
                    <span *ngIf="subParam.type !== 'select'">{{ subParam.name | translate}}</span>
                    <!--Input TEXT-->
                    <input *ngIf="subParam.type === 'input'" type="text" class="form-control" required [(ngModel)]="subParam.selected" 
                    [disabled]="isDisabled(eyeView.eye)">

                    <!--Input SELECT-->
                    <select *ngIf="subParam.type === 'select'" class="form-control" required [(ngModel)]="subParam.selected" [disabled]="isDisabled(eyeView.eye)"
                        name="options" #options="ngModel" >
                      <option *ngFor="let value of subParam.values" [value]="value" >{{value | translate}}</option>
                    </select>

                    <!-- Input RADIO -->
                    <div *ngIf="subParam.type === 'radio'" class="radio-buttons">
                      <div class="button-space custom-control custom-radio">
                        <input type="radio" id="radio-yes-{{ eyeView.eye + '-'+ i + '-' + isub }}" name="customRadio-yes-{{ eyeView.eye + '-'+ i + '-' + isub }}" 
                        [disabled]="isDisabled(eyeView.eye)" value="Yes" class="custom-control-input" [(ngModel)]="subParam.selected">
                        <label class="custom-control-label" for="radio-yes-{{ eyeView.eye + '-'+ i + '-' + isub }}">{{ 'Yes' | translate }}</label>
                      </div>

                      <div class="custom-control custom-radio">
                        <input type="radio" id="radio-no-{{ eyeView.eye + '-'+ i + '-' + isub }}" name="customRadio-no-{{ eyeView.eye + '-'+ i + '-' + isub }}" 
                        [disabled]="isDisabled(eyeView.eye)" value="No" class="custom-control-input" [(ngModel)]="subParam.selected">
                        <label class="custom-control-label" for="radio-no-{{ eyeView.eye + '-'+ i + '-' + isub }}">{{ 'No' | translate }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Input RADIO -->
              <div *ngIf="param.type === 'radio'" class="multiples-params radio-buttons">
                <div class="name">
                  <span>{{ param.name | translate}}</span>
                </div>

                <div class="button-space custom-control custom-radio">
                  <input type="radio" id="radio-yes-{{ eyeView.eye + '-'+ i }}" name="customRadio-yes-{{ eyeView.eye + '-'+ i }}" value="Yes" 
                  [disabled]="isDisabled(eyeView.eye)" class="custom-control-input" [(ngModel)]="param.selected">
                  <label class="custom-control-label" for="radio-yes-{{ eyeView.eye + '-'+ i }}">{{ 'Yes' | translate }}</label>
                </div>

                <div class="custom-control custom-radio">
                  <input type="radio" id="radio-no-{{ eyeView.eye + '-'+ i }}" name="customRadio-no-{{ eyeView.eye + '-'+ i }}" value="No" 
                  [disabled]="isDisabled(eyeView.eye)" class="custom-control-input" [(ngModel)]="param.selected">
                  <label class="custom-control-label" for="radio-no-{{ eyeView.eye + '-'+ i }}">{{ 'No' | translate }}</label>
                </div>
              </div>

              <!--Input TEXT DOUBLES-->
              <div *ngIf="param.type === 'input-double'" class="half-display">
                <div class="sub-params" *ngFor="let subParam of param.values">
                  <span *ngIf="subParam.type !== 'select'">{{ subParam.name | translate }}</span>
                  <!--Input TEXT-->
                  <input *ngIf="subParam.type === 'input'" type="text" class="form-control" required [disabled]="isDisabled(eyeView.eye)" [(ngModel)]="subParam.selected">
                </div>
              </div>

              <!--Input TEXT-->
              <div *ngIf="param.type === 'input'" class="w-46">
                <label class="bold">{{ param.name| translate }}</label>
                <input type="text" class="form-control" required [(ngModel)]="param.selected" [disabled]="isDisabled(eyeView.eye)">
              </div>

              <!--Input TEXTAREA-->
              <div *ngIf="param.type === 'text-area'">
                <label class="bold">{{ param.name| translate }}</label>
                <textarea type="text" class="form-control" [(ngModel)]="param.selected" [disabled]="isDisabled(eyeView.eye)"></textarea>
              </div>
            </div>

            <!--Input File-->
            <div class="documents col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="">
                    <dt class="title">{{ 'Documents | Attach Consultation Form' | translate }}</dt>
                    <div class="custom-file">
                      <input id="selectedFiles{{eyeView.eye}}" type="file" class="custom-file-input" ng2FileSelect [uploader]="getUploader(eyeView.eye)"
                      [disabled]="isDisabled(eyeView.eye)" multiple />
                      <label class="custom-file-label" for="FS">{{ 'Choose file' | translate }}...</label>
                      <div class="invalid-feedback">Example invalid custom file feedback</div>
                      <div class="message-error">
                        <span translate>{{'Max files size:' | translate}} 25MB</span>
                        <span> / </span>
                        <span translate>{{'Maximum files number:' | translate }} 5</span>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="" style="margin-bottom: 40px" *ngIf="getUploader(eyeView.eye).queue.length > 0">
                    <div class="row justify-content-end" *ngIf="getUploader(eyeView.eye).queue.length > 1">
                      <button type="button" class="btn btn-danger btn-s" (click)="getUploader(eyeView.eye).clearQueue()" [disabled]="!getUploader(eyeView.eye).queue.length">
                        <span class="fa fa-trash-o"></span> {{ 'Remove all' | translate }}
                      </button>
                    </div>
                    <br>
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="50%">{{ 'Name' | translate }}</th>
                          <th>{{ 'Size' | translate }}</th>
                          <th>{{ 'Actions' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of getUploader(eyeView.eye).queue">
                          <td><strong>{{ item?.file?.name }}</strong></td>
                          <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                          <td nowrap>
                            <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item, eyeView.eye)">
                              <span class="fa fa-trash-o"></span> {{ 'Remove' | translate }}
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>


      <br>
      <div class="row">
        <div class="col-md-12 save-btns">
          <button class="btn btn-lg btn-primary btn-outline-primary text-uppercase margin-button"
            (click)="formIsValid() && saveConsultationForm()" [disabled]="!formIsValid()">
            {{ 'Save' | translate }}
          </button>
      </div>
    </div>
  </div>
</div>
