@import '../../../styles/spectrum/spectrum';
.info-breadcrumbs {
  margin-top: 80px;
  margin-left: 3%;

  .header-body {
    width: 100%;
    background: $bg-white;
    box-shadow: -2px 5px 5px -5px rgba(0, 0, 0, 0.5);

    .link {
      color: $bg-blue;
      padding-left: 0px;
    }

    .breadcrumb {
      background-color: transparent;
      border-radius: 0px;
      //padding-left: 15px;
      border-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    h4 {
      padding-left: 15px;
    }
  }
}

.padding-detail {
  padding: 10px 40px 10px 40px;

  .card {
    background: $bg-product-detail;
    padding: 2em;
    line-height: 1.5em;

    .main-info {
      text-align: center;

      .img-color {
        border-radius: 35px;
      }
    }
  }
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }

  .margin-button {
    margin-bottom: 3%;
  }

}

.margin-button {
  margin-right: 2%;
}


.product-title {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.product-title {
  margin-top: 0;
}

#consultation-form {
  display: flex;
  flex-direction: column;

  .bold {
    font-weight: 600;
  }

  .flex {
    display: flex;
  }

  .owm {
    display: flex;

    > div:nth-child(1), > div:nth-child(2) {
      width: 25%;
    }

    > div:nth-child(3) {
      width: 50%
    }

    label {
      margin-right: 10px;
    }
  }

  .eyes {
    display: flex;

    > div:nth-child(1) {
      padding-right: 20px;
    }
  }

  .multiples-params {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: 100%;

    .param-titles {
      display: flex;
      flex-direction: column;
      width: 40%;
    }

    .content-params {
      display: flex;
      flex-wrap: wrap;
      width: 60%;

      .sub-params {
        width: 40%;
        margin-left: 10%;

        .params-checkbox {
          width: 100%;

          > input {
            margin-right: 20px;
          }
        }
      }
    }

    .single-checkbox {
      width: 60%;
      margin-left: 10%;

      > input {
        margin-right: 20px;
      }
    }
  }

  .w-47 {
    width: 47.5%;
  }

  .half-display {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    > div {
      width: 47.5%;
    }

    > div:nth-child(1) {
      margin-right: 5%;
    }
  }
}