@import '../../../styles/spectrum/spectrum';
.info-breadcrumbs {
  margin-top: 80px;
  margin-left: 3%;

  .header-body {
    width: 100%;
    background: $bg-white;
    box-shadow: -2px 5px 5px -5px rgba(0, 0, 0, 0.5);

    .link {
      color: $bg-blue;
      padding-left: 0px;
    }

    .breadcrumb {
      background-color: transparent;
      border-radius: 0px;
      //padding-left: 15px;
      border-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    h4 {
      padding-left: 15px;
    }
  }
}

.padding-detail {
  padding: 10px 40px 10px 40px;

  .card {
    background: $bg-product-detail;
    padding: 2em;
    line-height: 1.5em;

    .main-info {
      text-align: center;

      .img-color {
        border-radius: 35px;
      }
    }
  }
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }

  .margin-button {
    margin-bottom: 3%;
  }

}

.margin-button {
  margin-right: 2%;
}

.product-info {
  padding: 1em 2em 0 2em;

  .item-properties {
    img {
      width: 30px;
      cursor: pointer;
    }
  }
}

.info-content {
  margin-left: 0;
  margin-bottom: 0px;
  line-height: 30px;

}

.title {
  font-weight: 600;
}

.ng-select{
  width: 100%;
}

.product-title {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.product-title {
  margin-top: 0;
}

#consultation-form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  margin: 0 -15px;

  .bold {
    font-weight: 600;
  }

  .flex {
    display: flex;
  }

  .owm {
    display: flex;
    padding: 1em 0;
    align-items: center;

    > div {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }

    > div:nth-child(1), div:nth-child(2){
      padding-right: 15px;
      padding-left: 15px;
    }

    > div:nth-child(3) {
      padding-left: 15px;
      align-self: center;
    }

    label {
      margin-right: 10px;
    }
  }

  .eye-container {
    margin: 3% 0;
  }

  .eyes {
    display: flex;
    padding-left: 15px;
    padding-bottom: 15px;

    > div:nth-child(1) {
      padding-left: 15px;
    }

    .custom-control-label {
      margin-left: 0.275rem;
    }
  }

  .form-group {
    padding-left: 30px;
  }

  .multiples-params {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: 100%;

    .param-titles {
      display: flex;
      flex-direction: column;
      flex: 0 0 32%;
      max-width: 32%;
    }

    .content-params {
      display: flex;
      flex-wrap: wrap;
      width: 68%;

      .sub-params {
        width: 49%;
        margin: 0.8% 0 0.8% 1%;

        .params-checkbox {
          width: 100%;
          display: flex;

          > input {
            margin-right: 20px;
          }

          .button-space {
            margin-right: 20px;
          }
        }
      }
    }

    .single-checkbox {
      width: 60%;
      margin-left: 10%;

      > input {
        margin-right: 20px;
      }
    }
  }

  .w-46 {
    width: 49%;
  }

  .half-display {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    > div {
      width: 49%;
    }

    > div:nth-child(1) {
      margin-right: 2%;
      span { font-weight: 600;}
    }
  }
}

.documents {
  padding: 0;
  margin: 3em 0;

  .title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .files {
    margin-top: 2rem;
  }

  .message-error {
    color: #cc0000;
    font-size: 0.85rem;
    margin-top: 0;
  }
}

.radio-buttons {
  display: flex;

  .name {
    flex: 0 0 32%;
    max-width: 32%;
  }

  .button-space {
    margin-right: 20px;
  }

  > div:nth-child(2) {
    margin: 0.8% 0 0.8% 0.7%;
    display: flex;
  }
}

.save-btns {
  text-align: right;
}