<div class="info-breadcrumbs" *ngIf="product">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Product Details' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/products/' + product.supplier.idSupplier + '/internal']">
          <i class="fa fa-edit"></i> {{ 'Products List' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-eye"></i> {{ 'Product Details' | translate}}</li>
    </ol>
  </div>
</div>
<div class="padding-detail" *ngIf="product">
  <div class="card">
    <div class="">
      <!-- row (name-price-image) -->
      <div class="row wrapper">
        <div class="preview col-md-12">
          <!-- name-price -->
          <div class="main-info">
            <h3 class="product-title">{{'Order Form For' | translate }}:
              <br>
              <i>{{ product.name }}</i>
            </h3>
          </div>
          <!-- image -->
          <!-- <div class="preview-pic tab-content main-info">
            <div class="tab-pane active" id="pic-1">
              <img src="{{ product.mainImg }}" />
            </div>
          </div>-->
        </div>
      </div>

      <div *ngIf="user.role.idRole !== 3">
        <span class="title">{{ 'Order Type' | translate }}</span>
        <div class="d-flex">
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="order-new" name="orderType" value="new" [(ngModel)]="typeOrder"  class="custom-control-input" [checked]="typeOrder === 'new'">
            <label class="custom-control-label" for="order-new">{{ 'New' | translate }}</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="order-duplicate" name="orderType" value="duplicate" [(ngModel)]="typeOrder" class="custom-control-input" [checked]="typeOrder === 'duplicate'">
            <label class="custom-control-label" for="order-duplicate">{{ 'Duplicate' | translate }}</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="order-warranty" name="orderType" value="warranty" [(ngModel)]="typeOrder" class="custom-control-input" [checked]="typeOrder === 'warranty'">
            <label class="custom-control-label" for="order-warranty">{{ 'Warranty' | translate }}</label>
          </div>
        </div>
      </div>

      <!-- row (properties-material-replacement-warranty-sheet) -->
      <div class="row product-info" *ngIf="product.properties.values.length === 3">
        <div class="item-properties col-md-4" *ngFor="let property of product.properties.values">
          <i class="{{ property.class }}"></i>
          <p>{{ property.text | translate }}</p>
        </div>
      </div>

      <div class="row product-info" *ngIf="product.properties.values.length === 4">
        <div class="item-properties col-md-6" *ngFor="let property of product.properties.values">
          <i class="{{ property.class }}"></i>
          <p>{{ property.text | translate }}</p>
        </div>
      </div>

      <!-- row (pacient, client, shipping address) -->
      <div class="row product-info">
        <!-- client -->
        <div class="col-lg-4">
          <dt class="title">{{ 'Account Name' | translate }}</dt>
          <div class="row info-content" [hidden]="user.role.idRole !== 3">
            <input class="form-control" type="text" placeholder="{{ 'Enter name customer' | translate }}" required
              [(ngModel)]="product.client" disabled>
          </div>
          <div class="row info-content" [hidden]="user.role.idRole === 3">
            <ng-select [items]="listCustomers" (change)="onSelectedClient($event)" [(ngModel)]="CustomersSelected"
              required [virtualScroll]="true" bindLabel="fullName" bindValue="idUser" placeholder="{{ 'Select value' | translate }}">
            </ng-select>
          </div>
        </div>
        <!--shipping address-->
         <!--shipping address-->
        <div class="col-lg-5">
          <span class="title">{{ 'Shipping Address' | translate }}</span>
          <div class="row info-content ">
            <input class="form-control readonly-input" type="text" [(ngModel)]="product.shippingAddress" placeholder="{{ 'This field is filled when the client is selected.' | translate }}"
              readonly>
          </div>
        </div>
         <!--Price-->
         <div class="col-lg-3">
          <h4 class="padding-price" [hidden]="(priceFrom==='' && priceUp==='') || product.priceSale !==''">
            <span>{{ priceFrom | currency : "USD $"}}{{priceFrom ? ' - ':''}}{{ priceUp | currency : "$"}}</span>
            <!--<span></span>-->
          </h4>
          <h4 class="padding-price" [hidden]="product.priceSale===''">
            <span>{{ product.priceSale | currency : "USD $" }}</span>
          </h4>
        </div>
      </div>

      <div class="row product-info">
        <div class="col-md-12 title">
          <label> {{ 'Please specify your product' | translate }}</label>
        </div>
      </div>
      <!--quantity right-->
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
              <label class="form-check-label">{{ 'Box Quantity' | translate }}</label>
          </div>
          <div class="col-lg-6">
            <ng-select [items]="quantityValues.values" [ngClass]="{'error-quantity':  product.quantity && (product.quantity < 250 || product.quantity > 2000) }"
                      [(ngModel)]="product.quantity" bindValue="item" (change)="product.quantity < 250 || product.quantity > 2000 ? product.quantity = '' : '';setPriceBoxes(product.quantity)" required>
            </ng-select>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 buy-btns">
          <button [hidden]="user.role.idRole === 3" class="btn btn-lg btn-primary btn-outline-primary text-uppercase margin-button"
            (click)="formIsValid() && addToCart(2)" [disabled]="!formIsValid()">
            {{ 'Buy Now' | translate }}
          </button>
          <button *ngIf="typeOrder === 'new'" class="btn btn-lg btn-outline-primary text-uppercase margin-button" (click)="formIsValid() && addToCart(1)"
            [disabled]="!formIsValid()">
            <i class="fa fa-cart-plus"></i> {{ 'Add to cart' | translate }}
          </button>
        </div>
        <div class="col-md-12 message-quantity">
          <span>{{'To make the order the minimum quantity is' | translate }} 250 {{ 'boxes' | translate }}</span>&nbsp;
          <span>{{'and maximum 1000 boxes' | translate}}</span>
        </div>
      </div>
    </div>
  </div>
