<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <form [formGroup]="form">
        <div class="form-options">
          <span class="sp-title">{{ 'Personal information' | translate }}</span>
          <button class="btn btn-main" (click)="edit()" [hidden]="canEdit">{{ 'Edit' | translate }}&nbsp;
            <i class="fa fa-edit"></i>
          </button>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Full Name' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ seller ? seller.name : '' }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter name' | translate }}" name="name" formControlName="name"
                  required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="name.valid || name.pristine">
              <span>{{ 'Full Name is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Email' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ seller ? seller.email : '' }}</span>
                <input [hidden]="!canEdit" type="email" class="form-control" placeholder="{{ 'Enter email' | translate }}" name="email" formControlName="email"
                  required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="email.pristine">
              <span *ngIf="email.errors && !!email.errors.required">{{'Email is required' | translate }}</span>
              <span *ngIf="email.errors && !!email.errors.email">{{ 'Email is not valid' | translate }}
              </span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'City' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ seller ? seller.city : '' }}</span>
                <input [hidden]="!canEdit" id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt"
                  name="city" formControlName="city" [inputFormatter]="formatter" (selectItem)="findPlace($event)" #instance="ngbTypeahead"
                  placeholder="{{ 'Enter city' | translate }}" required />
              </div>
            </fieldset>
            <div *ngIf="searching" class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="message-error" [hidden]="city.valid || city.pristine">
              <span>{{ 'City is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'State' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ seller ? seller.state : '' }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter state' | translate }}" name="state" formControlName="state"
                  required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="state.valid || state.pristine">
              <span>{{ 'State is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Country' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ seller ? seller.country : '' }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter country' | translate }}" name="country" formControlName="country"
                  required>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="country.valid || country.pristine">
              <span>{{ 'Country is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Postal Code' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ seller ? seller.postalCode : '' }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter postal code' | translate }}" name="postal" formControlName="postal">
              </div>
            </fieldset>
            <div class="message-error" [hidden]="postal.valid || postal.pristine">
              <span>{{ 'Postal code is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Phone' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <h6 class="phone" [hidden]="canEdit">{{ seller ? seller.phone : '' }}</h6>
                <int-phone-prefix [hidden]="!canEdit" name="phone" formControlName="phone" data-toggle="tooltip" data-placement="right" title="{{'Select a country by clicking on the map' | translate }}"></int-phone-prefix>
              </div>
            </fieldset>
            <div class="message-error" [hidden]="!canEdit || phone.value.length === 0 || phone.value.length > 7">
              <span>{{ 'Phone Number is not valid' | translate }}</span>
            </div>

          </div>
          <div class="col-xl-12">
            <fieldset class="form-group">
              <label>{{ 'Address' | translate }}</label>
              <div class="mb-2 mr-sm-2 mb-sm-0">
                <span [hidden]="canEdit">{{ seller ? seller.address : '' }}</span>
                <input [hidden]="!canEdit" class="form-control" placeholder="{{ 'Enter address' | translate }}" name="address" formControlName="address">
              </div>
            </fieldset>
          </div>
          <a class="active" (click)="resetKey(seller)">
            <span>
              <i class="fa fa-key"></i>&nbsp; {{ 'Password recovery' | translate }}
            </span>
          </a>
        </div>
        <br>
        <div class="footer-form">
          <button class="btn btn-secondary" (click)="cancel()" [hidden]="!canEdit">{{ 'Cancel' | translate }}&nbsp;
            <i class="fa fa-times"></i>
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-main" (click)="save()" [hidden]="!canEdit">{{ 'Save' | translate }}&nbsp;
            <i class="fa fa-save"></i>
          </button>
        </div>
      </form>
      <hr>
    </div>
  </div>
</div>
<ng-template #rt let-r="result" let-t="term">
  {{ r.description}}
</ng-template>