
@import '../../../styles/spectrum/spectrum';

.margin-breadcrumb {
  margin-left: 3%;
}

.margin-list {
  margin-left: 20% !important;
}

.title-collapse {
  color: $bg-white;
}

.container {
  padding: 0px;
}

.search {
  padding-bottom: 1.5rem;

  i {
    position: absolute;
    top: 10px;
    right: 30px;
    color: $bg-imput;
  }
}

.middleBar {
  padding: 0px 25px 15px 35px;

  .display-table {
    padding-right: 20px !important;
  }
}

.padding-list {
  padding: 0px 40px 0px 40px;
}

.btn-align{
  text-align: center;
  padding-bottom: 20px;
}

.card {
  margin-top: 30px;
}

.card-img-top {
  border-radius: 12px;
  cursor: pointer;
}

.product-name {
  text-align: center;
  color: $bg-blue;
  padding-top: 10px;
  cursor: pointer;
}

.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

.card-product .price-new, .card-product .price {
  margin-right: 5px
}

.price-base {
  color: #999;
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px;
}

.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .title {
  margin-top: 0;
}

body {
  margin-top:50px
}

.glyphicon {
  margin-right:10px;
}

.panel-body {
  padding:0px;
}

.panel-body table tr td {
  padding-left: 15px;
}

.panel-body .table {
  margin-bottom: 0px;
}

.product-btns {
  text-align: right;
}