@import "../../../styles/spectrum/spectrum";

.margin-breadcrumb {
  margin-left: 3%;
}

.margin-list {
  margin-left: 20% !important;
}

.title-collapse {
  color: $bg-white;
}

.container {
  padding: 0px;
}

.search {
  padding-bottom: 1.5rem;

  i {
    position: absolute;
    top: 10px;
    right: 30px;
    color: $bg-imput;
  }
}

.middleBar {
  padding: 0px 25px 15px 35px;

  .display-table {
    padding-right: 20px !important;
  }
}

.padding-list {
  padding: 0px 40px 0px 40px;
}

.btn-align {
  text-align: center;
  padding-bottom: 20px;
}

.card {
  margin-top: 30px;
}

.card-img-top {
  border-radius: 40px;
  height: 220px;
  width: 80%;
  margin-left: 10%;
  padding: 5%;
  opacity: 0.9;
}

.card-img-top:hover {
  cursor: pointer;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1.2, 1.2);
  transition: all 0.8s cubic-bezier(0.1, -0.5, 0, 3);
  opacity: 1;
  z-index: 1;
  filter: contrast(150%);
}

/*
.box-shadow {
  border: 1px solid gray;
  border-radius: 12px;
}
*/

.card-body {
  padding-top: 2px;
}

.product-name {
  text-align: center;
  color: $bg-blue;
  padding-top: 10px;
  cursor: pointer;
  height: 75px;
}

.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

.card-product .price-new,
.card-product .price {
  margin-right: 5px;
}

.price-base {
  color: #999;
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px;
}

.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .title {
  margin-top: 0;
}

body {
  margin-top: 50px;
}

.glyphicon {
  margin-right: 10px;
}

.panel-body {
  padding: 0px;
}

.panel-body table tr td {
  padding-left: 15px;
}

.panel-body .table {
  margin-bottom: 0px;
}

.product-btns {
  text-align: right;
}

.fa-exclamation-triangle {
  color: $bg-red;
}

.box {
  border: 1px solid #555657;
  border-radius: 1.45em;
  z-index: 1;
}

.prodTeaser {
  background: #fff;
  border-right: 1px solid #dcddde;
  border-bottom: 1px solid #dcddde;
  -webkit-box-shadow: inset 0 0 0 0 transparent;
  box-shadow: inset 0 0 0 0 transparent;
  //height: 278px;
  height: 15vw;
  padding: 30px 60px;
  //display: block;
  position: relative;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.prodTeaser-overlay {
  background: rgba(25, 155, 215, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  //height: 100%;
  height: 220px;
  margin-top: 10%;
  //margin-left: 10%;
  padding: 5%;
  //opacity: .9;
  opacity: 0;
  transition: all 0.35s ease-out;
  position: absolute;
  &:hover {
    opacity: 1;
  }
}

.prodTeaser-inner:focus,
a:active,
a:hover {
  outline: 0;
}

.card-img-top-teaser {
  border-radius: 40px;
  height: 220px;
  width: 80%;
  //margin-left: 10%;
  //padding: 5%;
  opacity: 0.9;
  display: flex;
  -webkit-box-pack: center;
}

.prodTeaser-more {
  background: #fff;
  border-radius: 50%;
  font-size: 2.3em;
  line-height: 86px;
  font-style: normal;
  width: 90px;
  height: 90px;
  //width: 80%;
  //height: 100%;
  //height: 220px;
  top: 50%;
  left: 50%;
  //margin: -45px 0 0 -45px;
  display: block;
  position: absolute;
  transition: all 0.35s ease-out;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  opacity: 1;
  text-align: center;
}

.prodTeaser-inner {
  max-width: 100%;
  transition: all 0.35s ease-out;
  -webkit-box-direction: normal;
}
