@import '../../../../../styles/spectrum/spectrum';

@include tr-sizes((5%, 30%, 25%, 40%));
.container-modal {
  .search {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    i {
      position: absolute;
      top: 10px;
      right: 30px;
      color: $bg-imput;
    }
  }
  .sp-container {
    padding-top: 0;
  }

  .footer-form {
    display: flex;
    justify-content: flex-end;
  }

  .check-plataform {
    display: flex;

    >input:nth-child(2) {
      width: 20px;
    height: 10px;
    margin-left: 20px; 
    }
  }   

}

.container-modal {
  height: 600px;
}