<app-page-header class="page-header-fixed" [heading]="'Orders List'" [icon]="'fa fa-folder-open'"></app-page-header>

<div class="sp-container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="sp-card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            {{ 'All orders' | translate }}
          </div>
        </div>
        <div class="row">
          <div class="col-xl-1">
            <div class="sp-card-header">{{ 'Filters:' | translate }}</div>
          </div>
          <div class="col-xl-1">
            <h6 class="ng-tns-c6-0 h5-filter">{{ 'Client' | translate }}</h6>
          </div>
          <div class="col-xl-2 filter">
            <div class="row search">
              <div class="col col-xl-12 col-lg-12">
                <input class="form-control" (keyup)="getItems($event)" placeholder="{{'Enter client search ...' | translate }}">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
          <div class="col-xl-1">
            <h6 class="ng-tns-c6-0 h5-filter">{{ 'Status' | translate }}</h6>
          </div>
          <div [formGroup]="formOrder" class="col-xl-2 filter">
            <select class="form-control" name="selectedStatus" id="selectedStatus" [(ngModel)]="selectedStatus" (change)="filter(selectedStatus)"
              formControlName="selectedStatOrd">
              <option value="" disabled [selected]="true" translate>Select</option>
              <option *ngFor="let status of filterStatus" value="{{status.id}}">{{ status.name | translate }}</option>
            </select>
          </div>
          <div class="col-xl-1">
            <h6 class="ng-tns-c6-0 h5-filter">{{ 'Date' | translate }}</h6>
          </div>
          <div class="col-xl-2 filter">
            <div>
              <div [formGroup]="formOrder1" class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model1" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="filter1(model1)"
                  formControlName="fechaSelecOrd">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
              <!--<pre>Model: {{model1 | json  }}</pre>-->
            </div>
          </div>
          <div class="col-xl-2 btn-clean">
            <button class="btn btn-outline-secondary" [routerLink]="['/order-list-client-byseller']" translate [hidden]="!valid1" (click)="clean()">Clean Filters</button>
          </div>
          <div class="card-body table-responsive">
            <div>
              <div class="list-orden" *ngFor="let order of listOrders">
                <div class="row">
                  <div class="col-lg-2">
                    <div>
                      <span>{{'ORDER'| translate }}</span>
                    </div>
                    <div>
                      <span>{{'#'}}{{order.number}}</span>
                    </div>
                  </div>
                  <div class="col-lg-1">
                    <div>
                      <span>{{'Client'| translate }}</span>
                    </div>
                    <div>
                      <span>{{order? order.nameUser:''}}</span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="title-status">
                      <span>{{ 'Status' | translate }}</span>
                    </div>
                    <div class="div-status">
                      <span *ngIf='order.status==0' class="div-pending">
                        <div translate>Pending</div>
                      </span>
                      <span *ngIf='order.status==1' class="div-pay">
                        <div translate>Pay</div>
                      </span>
                      <span *ngIf='order.status==2' class="div-processed">
                        <div translate>Processed</div>
                      </span>
                      <span *ngIf='order.status==3' class="div-sent">
                        <div translate>Sent</div>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div>
                      <span class="span_total">Total</span>
                    </div>
                    <div>
                      <span class="span_total">{{'$'}}{{order.total}}</span>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="div-date">
                      <span>{{order.date | date:'yyyy-MM-dd'}}</span>
                    </div>
                    <div class="div-date">
                      <a class="ng-tns-c4-0 link" routerLink="/details-order-client/{{order.idOrder}}/view" translate>View Details</a>&nbsp;
                      <a [hidden]="!mostrarStatus" class="link" (click)="open(order)" translate>{{ 'Change Status' | translate }}</a>
                    </div>
                  </div>
                </div>
                <div class="row product" *ngFor="let listDetails of order.listProductRequested">
                  <div class="col-lg-2">
                    <div *ngFor="let specification of listDetails.productRequested.detail">
                      <span>{{listDetails.productRequested.product.name}}</span>
                    </div>
                    <div>
                      <span>{{listDetails.productRequested.detail[0].name}}</span>
                    </div>
                    <div>
                      <span>{{listDetails.productRequested.detail[0].eye}}</span>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div>
                      <span>{{'Material'| translate}}{{': '}}{{listDetails.productRequested.product.material}}</span>
                    </div>
                    <div>
                      <span>{{'Replacement period'| translate}}{{': '}}{{listDetails.productRequested.product.replacementPeriod}}</span>
                    </div>
                    <div>
                      <span>{{'Warranty'| translate}}{{': '}}{{listDetails.productRequested.product.warranty}}</span>
                    </div>
                    <div>
                      <span>{{'Supplier'| translate}}{{': '}}{{order.supplier.companyName}}</span>
                    </div>
                    <div>
                      <span>{{'$'}}{{listDetails.productRequested.price}}</span>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div>
                      <span>{{'Quantity'| translate}}</span>
                    </div>
                    <div>
                      <span>{{listDetails.productRequested.quantity}}</span>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div>
                      <span>{{'$'}}{{listDetails.productRequested.price*listDetails.productRequested.quantity}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
            <div class="table-empty" [hidden]="listOrders.length !== 0" translate>
              <p class="no-records">
                {{ 'No records have been added yet' | translate }}
              </p>
            </div>
            <div class="pagination-list" [hidden]="listOrders.length === 0">
              <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="listOrdersAux.length"
                [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
              </ngb-pagination>
              <span class="count-elements">{{ listOrders.length + ' ' + ('of' | translate) + ' ' + listOrdersAux.length + ' ' + ('register(s)' | translate)
                }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
