@import '../../../../styles/spectrum/spectrum';
@include tr-sizes((25%, 25%, 25%, 25%));

.search {
  padding-bottom: 1.4rem;

  i {
    position: absolute;
    top: 10px;
    right: 25px;
    color: $bg-imput;
  }
}

.filters {
  padding-left: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sp-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: $bg-white;

  > div {
    background-color: $bg-white;
    border-bottom: 0;
  }
}

.sp-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.div-pending {
  > div {
    text-align: center;
    background: $pending-status;
    color: $bg-white;
    border-radius: 12px;
    width: 85%;
    font-size: 13px;
  }
}

.div-shipped {
  >div {
    text-align: center;
    background:$paid-status;
    color: $bg-white;
    border-radius: 12px;
    width: 85%;
    font-size: 13px;
  }
}

.div-authorized {
  > div {
    text-align: center;
    background: $authorized-status;
    color: $bg-white;
    border-radius: 12px;
    width: 85%;
    font-size: 13px;
  }
}

.div-processed {
  > div {
    text-align: center;
    background: $processed-status;
    color: $bg-white;
    border-radius: 12px;
    width: 85%;
    font-size: 13px;
  }
}

.div-ready {
  >div {
    text-align: center;
    background: $sent-status;
    color: $bg-white;
    border-radius: 12px;
    width: 85%;
    font-size: 13px;
  }
}

.div-canceled {
  >div {
    text-align: center;
    background:$cancel-status;
    color: $bg-white;
    border-radius: 12px;
    width: 85%;
    font-size: 13px;
  }
}

.h5-filter {
  padding-top: 20px;
}

.btn-clean {
  padding-top: 10px;
}

.filter {
  padding-top: 10px;
}

.active {
  cursor: pointer;
  & span:hover {
    color: $bg-blue;
  }
}

.div-status{
  text-align: center;
  padding-left: 15%;
  font-size: 14px;

  .center-span {
    margin-right: 20px;
  }
}

.div-date{
  text-align: right;
  padding-right: 10px;
}

.div-dropdown{
  text-align: right;
}

.btn-dd{
  font-size: 0.9rem;
  padding-left: 0px;
}

.title-status{
  font-size: 14px;
  font-weight: 600;
  text-align: center;

  &.left-span {
    text-align: left;
  }

  &.right-span {
    text-align: rigth;
  }


}

.title-payment{
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 14px;
}

.list-orden {
  border: solid 1px #bfbfbf;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  padding-bottom: 10px;
  margin-top: .5em;

  > div {
    &:first-child {
      font-size: .9em;
      color: gray;
      padding: .4em 0;

      div:nth-child(2) {
        color: grey;

        > div {
          text-align: center;
        }
      }

      /*
      div:nth-child(3) {
        font-size: .8em;
        color: grey;
        font-weight: bold;
      }
      */
    }

    &.product {
      padding-top: 1em;

      div:nth-child(1) {
        div:first-child {
          font-weight: bold;
        }

        div:last-child {
          font-weight: bold;
        }
      }

      div:nth-child(2) {
        font-size: 0.8em;
        color: gray;

        div:last-child {
          font-weight: 600;
        }
      }

      div:nth-child(3) > div {
        text-align: center;
      }

      div:nth-child(4) > div {
        font-weight: 600;
        padding-left: 90px;
      }
    }

    &:nth-child(2) {
      border-top: 1px solid #bfbfbf;
    }
  }

  .link {
    color: $bg-blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .more-details {
    display: flex;
    justify-content: flex-end;

    .more-link {
      color: $bg-blue;
    }

    label:hover {
      color: $bg-blue;
      cursor: pointer;
    }
  }
}

.page-header-fixed {
  margin-left: 15px;
}

.header-body {
  width: 100%;
  background: $bg-white;
  box-shadow: -2px 5px 5px -5px rgba(0, 0, 0, 0.5);

  .link {
    color: $bg-blue;
    padding-left: 0px;
  }

  .breadcrumb {
    background-color: transparent;
    border-radius: 0px;
    //padding-left: 15px;
    border-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  h4 {
    padding-left: 15px;
  }
}

.dropdown-menu-actions{
  left: -70% !important;
  font-size: 0.8rem;
  width: 9.1rem;
  &::before {
    position: absolute;
    top: -7px;
    left: 103px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  &::after {
    position: absolute;
    top: -6px;
    left: 104px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $bg-white;
    border-left: 6px solid transparent;
    content: '';
  }
}

.dropdown-menu-invoice{
  right: 15% !important;
  top: 85% !important;
  font-size: 0.8rem;
  width: 7.8rem;
  &::before {
    position: absolute;
    top: -7px;
    left: 103px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  &::after {
    position: absolute;
    top: -6px;
    left: 104px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $bg-white;
    border-left: 6px solid transparent;
    content: '';
  }
}

@media screen and (max-width: 992px) {
  .list-orden {
    padding-left: 15px;
    padding-right: 15px;

    > div {
      &:first-child {
        font-size: .8em;
        padding: .4em 0;

        div:nth-child(2) {
          > div {
            text-align: left;
          }
        }

        div:nth-child(3) {
          font-size: .8em;
          text-align: left;
        }
      }

      &.product {
        padding-top: 1em;


        div:nth-child(3) > div {
          text-align: left;
        }

        div:nth-child(4) > div {
          font-weight: 600;
          padding-left: 0px;
        }
      }
    }

    .link {
      color: $bg-blue;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .div-date{
    text-align: left;
    padding-left: 0px;
  }
  .title-payment{
    padding-left: 0px;
  }
  .div-dropdown{
    padding-right: 0px;
    text-align: left;
  }

  .dropdown-menu-actions{
    left: -15% !important;
    font-size: 0.8rem;
    width: 8rem;
    &::before {
      position: absolute;
      top: -7px;
      left: 103px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    &::after {
      position: absolute;
      top: -6px;
      left: 104px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $bg-white;
      border-left: 6px solid transparent;
      content: '';
    }
  }

  .dropdown-menu-invoice{
    left: 10% !important;
    top: 80% !important;
    font-size: 0.8rem;
    width: 7.8rem;
    &::before {
      position: absolute;
      top: -7px;
      left: 103px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    &::after {
      position: absolute;
      top: -6px;
      left: 104px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $bg-white;
      border-left: 6px solid transparent;
      content: '';
    }
  }

}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .list-orden {

    > div {
      &:first-child {
        font-size: .8em;
        padding: .4em 0;

        div:nth-child(2) {
          > div {
            text-align: left;
          }
        }

        div:nth-child(3) {
          font-size: .8em;
          text-align: left;
        }
      }

      &.product {
        padding-top: 1em;


        div:nth-child(3) > div {
          text-align: left;
        }

        div:nth-child(4) > div {
          font-weight: 600;
        }
      }
    }

    .link {
      color: $bg-blue;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .div-date{
    text-align: right;
    padding-left: 0px;
  }
  .title-payment{
    text-align: center;
    padding-left: 0px;
  }

  .btn-dd{
    font-size: 0.8rem;
    padding-left: 0px;
    word-wrap: break-word;
    text-align: right;
    white-space: initial;
  }

  .dropdown-menu-actions{
    left: -85% !important;
    font-size: 0.8rem;
    width: 8rem;
    &::before {
      position: absolute;
      top: -7px;
      left: 103px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    &::after {
      position: absolute;
      top: -6px;
      left: 104px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $bg-white;
      border-left: 6px solid transparent;
      content: '';
    }
  }

  .dropdown-menu-invoice{
    left: -43% !important;
    top: 85% !important;
    font-size: 0.8rem;
    width: 7.8rem;
    &::before {
      position: absolute;
      top: -7px;
      left: 103px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    &::after {
      position: absolute;
      top: -6px;
      left: 104px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $bg-white;
      border-left: 6px solid transparent;
      content: '';
    }
  }

}

.selection-all{
  margin-left: 1rem;
}

.margin {
  margin-left: 0.3rem;
  margin-top: -2rem;
}

::ng-deep .modal-dialog {
  max-width: 1000px;
  width: 120%;
}

.btn-disabled {
  cursor: not-allowed !important;
  border-color: gray;
  opacity: .5;
}
