@import "../../../../styles/spectrum/spectrum";

.font-text{
  font-weight:normal !important;
  align-content: center !important;
}

.align-item{
  text-align: center !important;
}

.display-edit {
  justify-content: flex-end;
  font-size: 20px;
  color: $icon-edit-detail;
}

.padding-params {
  padding:  0 2em;
}

.edit{
  margin-top: -13%;
  margin-bottom: 13%;
}

@media only screen and (max-width: 575px) {
  .edit{
    margin-top: -82%;
    margin-bottom: 82%;
  }
}
