@import '../../../styles/spectrum/spectrum';

.info-breadcrumbs {
  margin-top: 80px;
  margin-left: 3%;

  .header-body {
    width: 100%;
    background: $bg-white;
    box-shadow: -2px 5px 5px -5px rgba(0, 0, 0, 0.5);

    .link {
      color: $bg-blue;
      padding-left: 0px;
    }

    .breadcrumb {
      background-color: transparent;
      border-radius: 0px;
      //padding-left: 15px;
      border-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    h4 {
      padding-left: 15px;
    }
  }
}

.padding-detail {
  padding: 10px 40px 10px 40px;

  .card {
    background: #fbfbfb;
    padding: 3em;
    line-height: 1.5em;

    .main-info {
      text-align: center;

      .img-color {
        border-radius: 35px;
      }
    }
  }
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  #pic-1 {
    img {
      height: 15em;
      width: 25em;
      border-radius: 12px;
    }
  }

  >div:nth-child(2) {
    margin-top: 10px;
  }
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.hand-over {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

.product-title {
  margin-top: 0;
}

.product-info {
  padding-top: 3em;

  .item-properties {
    img {
      width: 30px;
      cursor: pointer;
    }
  }

  .input-align {
    padding-left: 0px;
  }
}

.specifications {
  padding-top: 2em;
  align-items: center;

  .generals {
    display: flex;
  }

  .params {
    display: flex;
    justify-content: space-around;

    .select-values {
      padding-left: 0px;
    }
  }

  .error-quantity {
    color:red;
  }

  &.btn-box {
    justify-content: flex-start;
  }
}

img {
  max-width: 100%;
}



.checked,
.price span {
  color: #ff9f1a;
}

.rating,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.buy-btns {
  padding-top: 3em;
  display: flex;
  justify-content: flex-end;

  :first-child {
    padding-right: 1em;
  }
}


@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.title {
  font-weight: 600;

  &.align-title {
    padding-left: 1em;
  }
}

.readonly-input {
  background-color: $bg-white;
}

.custom-control-label::before {
  border: solid 1px #c3c2c2;
}

.padding-price{
  padding-top: 1.1em;
}
