<div class="container bootstrap snippet">
  <div class="row justify-content-md-center">
    <!--/col-12-->
    <div class="col-md-6">
      <hr>
      <form [formGroup]="form">
        <div class="form-options">
          <h4>{{ 'Change Temporary Password' | translate }}</h4>
          <label>{{ 'Please change the temporary password to access the system' | translate }}</label>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label>{{ 'Username' | translate }}</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" class="form-control" name="username" formControlName="username" placeholder="Username"
                  aria-describedby="usernameHelpBlock" readonly required>
              </div>
              <small id="usernameHelpBlock" class="form-text text-muted">
                {{'You can not edit your username' | translate }}
              </small>
            </fieldset>
            <div class="message-error" [hidden]="username.valid || username.pristine">
              <span>{{ 'Username is required' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label for="oldPassword" class="control-label">{{'Old Password' | translate}}</label>&nbsp;&nbsp;
              <i class="fa fa-lock" placement="top" ngbTooltip="{{'For security your password is encrypted' | translate}}"></i>
              <input type="password" class="form-control" name="oldPassword" formControlName="oldPassword" aria-describedby="passwordHelpBlock" required>
            </fieldset>
            <div class="message-error" [hidden]="oldPassword.valid || oldPassword.pristine">
              <span>{{ 'Password is not valid' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label for="password" class="control-label">{{'Password' | translate}}</label>&nbsp;&nbsp;
              <i class="fa fa-lock" placement="top" ngbTooltip="{{'For security your password is encrypted' | translate}}"></i>
              <input type="password" class="form-control" name="password" formControlName="password" aria-describedby="passwordHelpBlock"
                required>
            </fieldset>
            <div class="message-error" [hidden]="password.valid || password.pristine">
              <span>{{ 'Password is not valid' | translate }}</span>
            </div>
          </div>
          <div class="col-xl-6">
            <fieldset class="form-group">
              <label for="confirmedPassword" class="control-label">{{'Confirm Password' | translate}}</label>&nbsp;&nbsp;
              <i class="fa fa-lock" placement="top" ngbTooltip="{{'For security your password is encrypted' | translate}}"></i>
              <input type="password" class="form-control" name="confirmedPassword" formControlName="confirmedPassword"
                aria-describedby="passwordHelpBlock" [ngStyle]="{'border-left': (form.get(['password']).value != form.get(['confirmedPassword']).value
                                && form.get(['confirmedPassword']).value != null
                               || form.get(['password']).value === ''
                               || form.get(['confirmedPassword']).value === '') === false ? '5px solid green' : '5px solid red' }"
                required>
            </fieldset>
            <div class="message-error" *ngIf="form.get(['password']).value != form.get(['confirmedPassword']).value
                        && form.get(['confirmedPassword']).value != null">
              <span>{{ 'Passwords do not match' | translate }}</span>
            </div>
          </div>
        </div>
        <br>
        <div class="footer-form">
          <button class="btn btn-main" (click)="saveAccount()" [disabled]="form.get(['password']).value != form.get(['confirmedPassword']).value
                              && form.get(['confirmedPassword']).value != null
                              || form.get(['password']).value === ''
                              || form.get(['confirmedPassword']).value === ''
                              || form.get(['oldPassword']).value === ''">{{ 'Save' | translate }}&nbsp;
            <i class="fa fa-save"></i>
          </button>
        </div>
        <br>
      </form>
      <hr>
      <!--/tab-pane-->
    </div>
    <!--/tab-content-->
  </div>
  <!--/col-9-->
</div>
<!--/row-->
