<div class="container bootstrap snippet pl-5 pr-3">
  <div class="row">
    <ngb-tabset (tabChange)="beforeChange($event)">
      <ngb-tab id="{{supplier.idSupplier}}" *ngFor="let supplier of suppliers">
        <ng-template ngbTabTitle><b>{{ supplier.companyName }}</b></ng-template>
        <ng-template ngbTabContent>
          <div class="border-tab" [formGroup]="protocolForm">
            <div class="text-right pb-3">
              <button type="button" class="btn btn-main mr-3" *ngIf="!edit" (click)="enableEdit()">{{ 'Edit' | translate }}
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'ACC Number' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="accNumber"
                  maxlength="254"
                  *ngIf="false"
                />
                <div>
                  <span [ngClass]="{ unassigned: !protocol.accNumber }">{{ protocol.accNumber ? protocol.accNumber :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Country' | translate }}</label>
                <div>
                  <ng-select
                    [items]="countries"
                    [searchable]="true"
                    bindValue="idCountry"
                    bindLabel="name"
                    formControlName="country"
                    *ngIf="false"
                  >
                    <ng-template ng-label-tmp let-item="item">
                      <div>
                        <span>{{ item.name }}</span>
                      </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <div>
                        <span [ngOptionHighlight]="search">{{ item.name }}</span>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div *ngIf="true">
                  <span [ngClass]="{ unassigned: !protocol.countryName }">{{ protocol.countryName ? protocol.countryName :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Business Name' | translate}}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="businessName"
                  maxlength="254"
                  *ngIf="false"
                  placeholder="{{ 'Enter business name' | translate }}"
                />
                <div *ngIf="true">
                  <span [ngClass]="{ unassigned: !protocol.businessName }">{{ protocol.businessName ? protocol.businessName :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Recipient' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="recipient"
                  maxlength="254"
                  *ngIf="edit"
                  placeholder="{{ 'Enter recipient' | translate }}"
                />
                <div *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.recipient }">{{ protocol.recipient ? protocol.recipient :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Shipping Address' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="shippingAddress"
                  maxlength="254"
                  *ngIf="edit"
                  placeholder="{{ 'Enter shipping address' | translate }}"
                />
                <div *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.shippingAddress }">{{ protocol.shippingAddress ? protocol.shippingAddress :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Shipping Frecuency' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="shippingFrecuency"
                  maxlength="254"
                  *ngIf="edit"
                  placeholder="{{ 'Enter shipping frecuency' | translate }}"
                />
                <div *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.shippingFrecuency }">{{ protocol.shippingFrecuency ? protocol.shippingFrecuency :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Shipping Method' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="shippingMethod"
                  maxlength="254"
                  *ngIf="edit"
                  placeholder="{{ 'Enter shipping method' | translate }}"
                />
                <div *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.shippingMethod }">{{ protocol.shippingMethod ? protocol.shippingMethod :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Shipping Details' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="shippingDetail"
                  maxlength="254"
                  *ngIf="edit"
                  placeholder="{{ 'Enter shipping details' | translate }}"
                />
                <div *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.shippingDetail }">{{ protocol.shippingDetail ? protocol.shippingDetail :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Account Number for Shipping Carrier' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="accountNumber"
                  maxlength="254"
                  *ngIf="edit"
                  placeholder="{{ 'Enter account number for shipping carrier' | translate }}"
                />
                <div *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.accountNumber }">{{ protocol.accountNumber ? protocol.accountNumber :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Comments' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="comment"
                  maxlength="254"
                  *ngIf="edit"
                  placeholder="{{ 'Enter comments' | translate }}"
                />
                <div *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.comment }">{{ protocol.comment ? protocol.comment :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">

              <div class="form-group pr-3 half-flex">
                <label *ngIf="false">{{ 'DMV' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="dmv"
                  maxlength="254"
                  *ngIf="false"
                />
                <div *ngIf="false">
                  <span [ngClass]="{ unassigned: !protocol.dmv }">{{ protocol.dmv ? protocol.dmv :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label *ngIf="false">{{ 'Email Comments' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="emailComment"
                  maxlength="254"
                  *ngIf="false"
                />
                <div *ngIf="false">
                  <span [ngClass]="{ unassigned: !protocol.emailComment }">{{ protocol.emailComment ? protocol.emailComment :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="text-right pb-3">
              <button type="button" class="btn btn-secondary mr-3" [disabled]="saving" *ngIf="edit" (click)="cancel()">{{ 'Cancel' | translate }}&nbsp;
                <i class="fa fa-times"></i>
              </button>
              <button
                type="button"
                class="btn btn-main"
                *ngIf="edit"
                [disabled]="saving"
                (click)="update()"
              >{{ 'Save' | translate }}&nbsp;
                <i class="fa fa-save"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

