<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-beat"></ngx-spinner>
<div class="login-page"
     [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/spectrumLogo.png"
           width="500px"
           class="" />

      <form *ngIf="testing" [formGroup]="form">
        <div class="form-content">
          <div class="form-group">
            <input name="username"
                   formControlName="username"
                   type="text"
                   class="form-control input-underline input-lg"
                   placeholder="Username">
          </div>

          <div class="form-group">
            <input name="password"
                   formControlName="password"
                   type="password"
                   class="form-control input-underline input-lg"
                   placeholder="Password">
          </div>

          <div class="form-group">
            <a class="link"
               [routerLink]="['/recovery-password']">Forgot your password?</a>
          </div>

        </div>
        <!--<a  class="btn rounded-btn"
           [routerLink]="['/dashboard']"
           (click)="signIn(form.value)"> Log in </a>
        &nbsp;-->
        <button class="btn btn-lg btn-secondary button-login" [disabled]="form.invalid" (click)="signIn(form.value)">Log in</button>
        <!--
				<a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
        -->
      </form>
    </div>

    <div class="webinar col-md-12" *ngIf="!testing">
      <label>
        Nos encontramos realizando actualizaciones para mejorar la operatividad de la plataforma.
      </label>
      <br>
      <label>
        Te invitamos a que conozcas más detalles en nuestro próximo webinar.
      </label>

      <img src="assets/images/login/mantenimiento.png"
           width="400px"
           class="" />
    </div>

  </div>
</div>
