<div *ngIf="product">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Edit Product' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="list-basket">
    <div class="row">
      <!--Image-->
      <div class="col-lg-12 main-info">
        <div>
          <span class="title">{{ product.name }}</span>
        </div>
        <div *ngIf="typeEdit === 1">
          <img class="img-product" src="{{ basket.urlImage }}">
        </div>
        <div *ngIf="typeEdit === 2">
            <img class="img-product" src="{{ image }}">
        </div>
        <div class="col-lg-12 title label-title patient-info">
          <span>{{ 'Patient' | translate }}</span>
          <div class="col-lg-12 main-info">
            <input class="form-control main-info" type="text" maxlength="20" placeholder="{{ 'Introduce name patient' | translate }}" [(ngModel)]="patient" required>
          </div>
        </div>
        <div class="col-lg-12 title eye-info">
          <span>{{ detail.eye + ' Eye' | translate }}</span>&nbsp;&nbsp;
        </div>
      </div>
      <!--PARAMETERS-->
      <div class="col-lg-12 label-title">
        <div class="row padding-params">
          <div class="col-sm-3" [hidden]="!editPrice">
            <dl>
              <dt>{{'Price'| translate}}
              </dt>
              <dl>
                <div class="form-group input-group">
                  <div class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
                  <input class="form-control" type="text" currencyMask  [options] = " {prefix: '', miles: ',', decimal: '.'}" [(ngModel)]="price" oninput="validity.valid||(value='');" placeholder="{{ 'Enter price' | translate }}"
                    name="price1" required>
                </div>
              </dl>
            </dl>
          </div>
          <div class="col-sm-3">
            <dl>
              <dt>{{'Quantity'| translate}}
              </dt>
              <dl>
                <div>
                  <input class="form-control" type="number" step=1 min="1" [(ngModel)]="quantity" oninput="validity.valid||(value='');" required>
                </div>
              </dl>
            </dl>
          </div>
          <div class="col-sm-3" *ngFor="let parameter of product.parameters">
            <dl *ngIf="parameter.name !== 'Iris Code'">
              <dt>{{ parameter.name| translate}}</dt>
              <dl>
                <dt>
                  <div *ngIf="parameter.type === 'selected'">
                    <ng-select class="display-row" (change)="changeSelect(detail.eye, parameter, $event)" [items]="parameter.values" [(ngModel)]="parameter.selected"
                                bindValue="item" placeholder="{{ 'Select value' | translate }}" required>
                      <ng-template ng-label-tmp let-item="item">
                        <div class="supplier-body">
                          <span>{{ item | translate }}</span>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="supplier-body">
                          <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <div *ngIf="parameter.type === 'input' " class="separator">
                    <input class="form-control col-sm-12" type="number" min="{{getMin(parameter)}}" max="{{getMax(parameter)}}" step="{{getStep(parameter)}}" 
                      placeholder="{{ parameter.placeholder | translate }}" [(ngModel)]="parameter.selected" (change)="changeSelect(detail.eye, parameter, parameter.selected)"
                      oninput="validity.valid||(value='');" required>
                  </div>
                </dt>
              </dl>
            </dl>
          </div>
          <div class="col-sm-12" *ngFor="let parameter of product.parameters" >
            <dl *ngIf="parameter.name === 'Iris Code'" class="align-item">
              <dt>{{ parameter.name | translate }}</dt>
              <hr class="separators" />
              <div class="col-sm-12 codes-value">
                <div *ngFor="let value of parameter.selected" class="select-values col-lg-3">
                  <label>{{ value.name | translate }}</label>
                  <input type="number" class="form-control" [(ngModel)]="value.selected" (input)="changeSelect('right', value,  value.selected)" >
                </div>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <!--Fin parameters-->
      <!--comments-->
      <div class="col-lg-12">
        <div class="row padding-params">
          <div class="col-sm-12">
            <dl>
              <dt>{{'Comments'| translate}}
              </dt>
              <dl>
                <div>
                  <textarea style="overflow-x: hidden;" class="form-control col-md-12 comment" type="text" [(ngModel)]="observations" placeholder="{{ 'Introduces observations' | translate }}"></textarea>
                </div>
              </dl>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Cancel' | translate }}&nbsp;
      <i class="fa fa-times"></i>
    </button>
    <button type="button" class="btn btn-main" (click)="save()" [disabled]="!formIsValid()">{{ 'Save' | translate }}&nbsp;
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
