<div class="context">
  <div class="menu">
    <ul>
      <li routerLink="/user/{{id}}/edit" [routerLinkActive]="['router-link-active']">
        <a>
          <span>
            {{ 'Personal info' | translate }}
          </span>
        </a>
      </li>
      <li routerLink="/user/{{id}}/edit-company" [routerLinkActive]="['router-link-active']">
        <a>
          <span>
            {{ 'Company Info' | translate }}
          </span>
        </a>
      </li>
      <li routerLink="/user/{{id}}/edit-supplier" [routerLinkActive]="['router-link-active']">
        <a>
          <span>
            {{ 'Supplier Info' | translate }}
          </span>
        </a>
      </li>
      <li routerLink="/user/{{id}}/edit-shipping" [routerLinkActive]="['router-link-active']">
        <a>
          <span>
            {{ 'Shipping Protocol' | translate }}
          </span>
        </a>
      </li>
      <li routerLink="/user/{{id}}/edit-shipping-proforma" [routerLinkActive]="['router-link-active']">
        <a>
          <span>
            {{ 'Shipping Protocol Proforma' | translate }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
  <section class="margin-left">
    <router-outlet></router-outlet>
  </section>
