@import '../../../styles/spectrum/spectrum';

@include tr-sizes((80%,20%));

.dropdown-item {
  cursor: pointer;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.no-business{
  text-align: center;
}