<app-page-header class="page-header-fixed" [heading]="'Business Type List'" [icon]="'fa fa-building'"></app-page-header>
<div class="sp-container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            {{ 'All Business Type' | translate }}
          </div>
          <div class="ml-auto p-2">
            <button type="button" class="btn btn-main" (click)="open(content,'create')">{{ 'Add' | translate }}&nbsp;
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="table-tr header-column">
                  <span title="Name">{{ 'Name' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortBusinessType('name')"></i>
                  </span>
                  <span [hidden]="orderByField != 'name' || typeSort === 0" >
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortBusinessType('name')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortBusinessType('name')"></i>
                  </span>
                </th>
                <th class="table-tr"></th>
              </tr>
            </thead>
            <tbody [hidden]="businessTypes.length === 0">
              <tr *ngFor="let businessType of businessTypes">
                <td class="table-tr td-table"> {{ businessType.name | translate }}</td>

                <td class="table-tr">
                  <div class="d-flex flex-row justify-content-around">
                    <div ngbDropdown class="d-inline-block dropdown">
                      <button class="btn btn-dropdown-main" ngbDropdownToggle>{{ 'Actions' | translate }}</button>
                      <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="open(businessType,'edit')">
                          <i class="fa fa-edit"></i> {{ 'Edit' | translate }}</button>
                        <button class="dropdown-item" (click)="delete(businessType.idBusinessType)">
                          <i class="fa fa-trash"></i> {{ 'Delete' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-empty" [hidden]="businessTypes.length !== 0" translate>
            <p class="no-records">
              {{ 'No records have been added yet' | translate }}
            </p>
          </div>
          <div class="pagination-list" [hidden]="businessTypes.length === 0">
            <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="auxBusinessTypes.length"
              [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
            </ngb-pagination>
            <span class="count-elements">{{ businessTypes.length + ' ' + ('of' | translate) + ' ' + auxBusinessTypes.length + ' ' + ('register(s)' | translate) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
