<div>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Product Detail' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body table-responsive row">
    <div>
      <div class="list-basket">

        <div class="row">
          <div class="col-lg-6">
            <!--Image-->
            <div>
              <img class="img-product" src="{{ basket.urlImage }}">
            </div>
            <!--Details-->
            <div class="details">
              <div>
                <span>{{ product.name }}</span>
              </div>
              <div>
                <span>{{ productRequested.price * productRequested.quantity  | currency : "USD $" }}</span>
              </div>
            </div>

          </div>

          <div class="col-lg-6 params">
             <!--CONTENT INFO-->
            <div class="row">
              <!--PARAM NAME-->
              <div class="col-sm-6">
                <dl>
                  <dt>{{ 'Patient' | translate }}:</dt>
                </dl>
                <dl [hidden]="detail.eye===''">
                  <dt>{{ 'Eye' | translate }}:</dt>
                </dl>
                <dl>
                  <dt>{{ 'Quantity' | translate }}:</dt>
                </dl>
                <div *ngFor="let parameter of detail.parameters">
                  <dl>
                    <dt>{{ parameter.name }}:</dt>
                  </dl>
                </div>
              </div>
              <!--PARAMS-->
              <div class="col-sm-6">
                <div class="selected">
                  <dl class="param">
                    <dt>{{ productRequested.patient }}</dt>
                  </dl>
                </div>
                <div class="selected" [hidden]="detail.eye===''">
                  <dl class="param">
                    <dt *ngIf="detail.eye==='Left'">{{ 'Left' | translate }}</dt>
                    <dt *ngIf="detail.eye==='Right'">{{ 'Right' | translate }}</dt>
                  </dl>
                </div>
                <div class="selected">
                  <dl class="param">
                    <dt>{{ productRequested.quantity }}</dt>
                  </dl>
                </div>
                <div class="selected" *ngFor="let parameter of detail.parameters">
                  <dl>
                    <dt>{{ parameter.selected }}</dt>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Close' | translate }}&nbsp;
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
