
@import "../../../../../../styles/spectrum/spectrum";

.list-basket {
  //max-height: 630px;
  padding: 2em;
  overflow-y: auto;
  overflow-x: hidden;

  .main-info {
    text-align: center;
  }

  .img-product {
    width: 40%;
    border-radius: 12px;
    margin-top: 1em;
  }

  .display-row {
    display: flex;
    justify-content: space-between;
  }

  .display-price {
    justify-content: center;
  }

  .padding-params {
    padding:  0 2em;
  }

  .params {
    padding-top: 1em;

    .separator {
      margin-bottom: 1em;
    }
  }

  .title {
    font-weight: 600;
  }

  .label-title {
    padding-top: 1.5em;
  }

  .patient-info {
    padding-bottom: 1.5em;
  }

  .eye-info {
    color: $color-gray;
    padding: 0 2em;
  }

  .align-item{
    text-align: center;
  }

  .items{
     color: $color-gray;
   }

   .comments{
    padding: 0 2.5em;
  }

  .separators {
    border-top: 1.5px solid $color-separator;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .param{
    color: #f8ac59;
  }

  .comment{
    color: $color-gray;
    padding: 0 1.5em;
  }
}
