<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-beat"></ngx-spinner>
<div class="sp-container">
  <div class="row search">
    <div class="col col-xl-4 col-lg-4">
      <input class="form-control" (keyup)="getItems($event)" placeholder="{{'Enter seller search..' | translate}}">
      <i class="fa fa-search"></i>
    </div>
    <div class="col col-xl-1 col-lg-1">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" value="3" class="custom-control-input" (change)="filter(-1)" checked>
        <label class="custom-control-label" for="customRadio1">{{ 'All' | translate }}</label>
      </div>
    </div>
    <div class="col col-xl-1 col-lg-1">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" value="0" class="custom-control-input" (change)="filter(0)">
        <label class="custom-control-label" for="customRadio2">{{ 'Actives' | translate }}</label>
      </div>
    </div>
    <div class="col col-xl-1 col-lg-1">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio3" name="customRadio" value="1" class="custom-control-input" (change)="filter(1)">
        <label class="custom-control-label" for="customRadio3">{{ 'Inactives' | translate }}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            {{ 'All Sellers' | translate }}
          </div>
          <div class="ml-auto p-2">
            <button type="button" class="btn btn-main" (click)="openModal()">{{ 'Add' | translate }}
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="table-tr header-column">
                  <span title="{{ 'Status' | translate }}">{{ 'Status' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortSeller('status')"></i>
                  </span>
                  <span [hidden]="orderByField != 'status' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortSeller('status')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortSeller('status')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="{{ 'Full Name' | translate }}">{{ 'Full Name' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortSeller('name')"></i>
                  </span>
                  <span [hidden]="orderByField != 'name' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortSeller('name')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortSeller('name')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="{{ 'Email' | translate }}">{{ 'Email' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortSeller('email')"></i>
                  </span>
                  <span [hidden]="orderByField != 'email' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortSeller('email')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortSeller('email')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="{{ 'Country' | translate }}">{{ 'Country' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortSeller('country')"></i>
                  </span>
                  <span [hidden]="orderByField != 'country' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortSeller('country')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortSeller('country')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="{{ 'City' | translate }}">{{ 'City' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortSeller('city')"></i>
                  </span>
                  <span [hidden]="orderByField != 'city' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortSeller('city')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortSeller('city')"></i>
                  </span>
                </th>
                <th class="table-tr"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let seller of listSellers">
                <td *ngIf="seller.status === 0" class="table-tr" class="active">
                  <div>{{'Active' | translate}}</div>
                </td>
                <td *ngIf="seller.status === 1" class="table-tr" class="inactive">
                  <div>{{'Inactive' | translate }}</div>
                </td>
                <td class="table-tr td-table">{{seller.name}}</td>
                <td class="table-tr td-table">{{seller.email}}</td>
                <td class="table-tr td-table">{{seller.country? (seller.country.name | translate): '' }}</td>
                <td class="table-tr td-table">{{seller.city}}</td>
                <td class="table-tr">
                  <div class="d-flex flex-row justify-content-around">
                    <div ngbDropdown class="d-inline-block dropdown">
                      <button class="btn btn-dropdown-main" ngbDropdownToggle>{{ 'Actions' | translate }}</button>
                      <div ngbDropdownMenu>
                        <button class="dropdown-item" routerLink="/seller/{{seller.idUser}}">
                          <i class="fa fa-eye"></i> {{ 'View' | translate }}</button>
                        <button *ngIf="seller.status === 0" class="dropdown-item" (click)="changeStatus(seller.idUser)">
                          <i class="fa fa-times"></i> {{ 'Deactivate' | translate }}</button>
                        <button *ngIf="seller.status === 1" class="dropdown-item" (click)="changeStatus(seller.idUser)">
                          <i class="fa fa-check"></i> {{ 'Activate' | translate }}</button>
                        <button class="dropdown-item" (click)="delete(seller.idUser)">
                          <i class="fa fa-trash"></i> {{ 'Delete' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-empty" [hidden]="listSellers.length !== 0" translate>
            <p class="no-records">
              {{ 'No records have been added yet' | translate }}
            </p>
          </div>
          <div class="pagination-list" [hidden]="listSellers.length === 0">
            <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="listSellersAux.length"
              [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
            </ngb-pagination>
            <span class="count-elements">{{ listSellers.length + ' ' + ('of' | translate) + ' ' + listSellersAux.length + ' ' + ('register(s)' | translate)
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
