<div *ngIf="product">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Edit Product' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body table-responsive row">
    <div>
      <div class="list-basket">

        <div class="row">
          <div class="col-lg-6">
            <!--Image-->
            <div>
              <img class="img-product" src="{{ basket.urlImage }}">
            </div>
            <!--Details-->
            <div class="details">
              <div>
                <span class="title">{{ product.name }}</span>
              </div>
              <div class="row info">
                <div class="col-lg-12">
                  <span class="title">{{ 'Patient' | translate }}</span>
                  <div class="col-lg-9 input-patient">
                    <input class="form-control" type="text" placeholder="{{ 'Introduce name patient' | translate }}" [(ngModel)]="patient">
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-3 params">
            <!--CONTENT INFO-->
            <!--PARAM NAME-->
            <div class="col-sm-12 title">
              <div class="row label" [hidden]="!editPrice">
                <label class="form-check-label">{{ 'Price' | translate }}:</label>
              </div>
              <div class="row label-title">
                <label class="form-check-label">{{ 'Quantity' | translate }}:</label>&nbsp;&nbsp;
              </div>
              <div *ngFor="let parameter of product.parameters">
                <div *ngIf="parameter.values && parameter.values.length > 0">
                  <div class="row label-title">
                    <label class="form-check-label">{{ parameter.name | translate }}:</label>&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 params">
            <!--PARAMETERS-->
            <div class="col-sm-12 title">
              <div class="row selection width-input" [hidden]="!editPrice">
                <input type="number" class="form-control col-sm-11" placeholder="{{ 'Enter price' | translate }}" name="price1" [(ngModel)]="price">
              </div>
              <div [ngClass]="cl">
                <input class="form-control col-sm-11" type="number" step=1 min="1" [(ngModel)]="quantity" oninput="validity.valid||(value='');">
              </div>
              <div *ngFor="let parameter of product.parameters">
                <div *ngIf="parameter.values && parameter.values.length > 0">
                  <div class="row selection">
                    <div *ngIf="parameter.type === 'selected'" class="select-values col-sm-12">
                      <ng-select (change)="changeSelect(parameter, $event)" [items]="parameter.values" [(ngModel)]="parameter.selected" bindLabel="item"
                        bindValue="item" placeholder="{{ 'Select value' | translate }}">
                        {{item}}
                      </ng-select>
                    </div>
                    <div *ngIf="parameter.type === 'image'" class="select-values col-sm-12">
                      <ng-select [items]="tones" [(ngModel)]="parameter.selected" bindLabel="value" bindValue="value" placeholder="{{ 'Select value' | translate }}">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          <div>
                            <img height="100" width="100" [src]="item.image" />
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Fin parameters-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Cancel' | translate }}&nbsp;
      <i class="fa fa-times"></i>
    </button>
    <button type="button" class="btn btn-main" (click)="save()" [disabled]="!formIsValid()">{{ 'Save' | translate }}&nbsp;
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
