
  <div class="modal-header">
    <h4 class="modal-title">Shipping Address</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <fieldset class="form-group">
        <label>{{ 'Company' | translate}}</label>
        <select class="form-control" *ngFor="let company of companies">
          <option>{{ company.name }}</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label> {{ 'Address' }} </label>
        <textarea name="address" formControlName="address" rows="3"></textarea>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-main" (click)="save()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  </div>
