<div class="modal-header">
  <h4 *ngIf="action == 'new' || action == 'bulk'" class="modal-title">{{ 'Add Payment' | translate }}</h4>
  <h4 *ngIf="action == 'view'" class="modal-title">{{ 'View Payment' | translate }}</h4>
  <h4 *ngIf="action == 'edit'" class="modal-title">{{ 'Edit Payment' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="content">
  <div class="modal-body">
    <form [formGroup]="form">
      <h4>{{ 'Payment Information' | translate }}</h4>
      <br>
      <div class="row">
        <!-- Invoices -->
          <div *ngIf="action == 'bulk' || action == 'view'" class="col-md-12 card-body title-view">
              {{ 'Invoices' | translate }}
              <br>
              <div *ngIf="listAux.length > 0" class="row justify-content-md-center">
                <table class="table tb-invoice">
                  <thead>
                    <tr>
                      <th>{{ 'Number' | translate }}</th>
                      <th>{{ 'Date' | translate }}</th>
                      <th>{{ 'Amount' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let invoice of listAux">
                      <td>
                        <strong>{{ invoice?.number }}</strong>
                      </td>
                      <td nowrap>{{ invoice?.date | date:'yyyy-MM-dd' }}</td>
                      <td nowrap>{{ invoice?.total | currency : "USD $" }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label [ngClass]="{'title-view': action == 'view', title: action!='view'}">{{ 'Payment Type' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ listTypes[invoicePayment.typePayment]["name"] | translate }}</span>
              <select *ngIf="action != 'view'" class="form-control" name="typeId" formControlName="typeId" required>
                <option *ngFor="let type of listTypes" value="{{type.id}}">{{ type.name | translate }}</option>
              </select>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="typeId.valid || typeId.pristine">
            <span>{{ 'Payment Type is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label [ngClass]="{'title-view': action == 'view', title: action!='view'}" >{{ 'Date' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ invoicePayment.date | date:'yyyy-MM-dd' }}</span>
              <div *ngIf="action != 'view'" class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="date" formControlName="date" ngbDatepicker
                  #d="ngbDatepicker" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="date.valid || date.pristine">
            <span>{{'Date is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label [ngClass]="{'title-view': action == 'view', title: action!='view'}">{{ 'Bank Name' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ invoicePayment.bank }}</span>
              <input *ngIf="action != 'view'" class="form-control" placeholder="{{ 'Enter bank name' | translate }}"
                formControlName="bank" name="bank" required>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="bank.valid || bank.pristine">
            <span>{{'Bank name is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label [ngClass]="{'title-view': action == 'view', title: action!='view'}">{{ 'Reference Number' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ invoicePayment.referenceNumber }}</span>
              <input *ngIf="action != 'view'" class="form-control" placeholder="{{ 'Enter reference number' | translate }}"
                name="referenceNumber" formControlName="referenceNumber" required>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="referenceNumber.valid || referenceNumber.pristine">
            <span>{{'Reference number is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label [ngClass]="{'title-view': action == 'view', title: action!='view'}">{{ 'Amount' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ invoicePayment.amount | currency : "USD $" }}</span>
              <div *ngIf="action != 'view'" class="form-group input-group">
                <div class="input-group-append">
                  <span class="input-group-text">$</span>
                </div>
                <input type="number" min="0.0" step="0.1" class="form-control" placeholder="{{ 'Enter price' | translate }}"
                  name="amount" formControlName="amount" (keyup)="filterMaxAmount($event)" (input)="filterMaxAmount($event)" required>
              </div>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="(amount.valid || amount.pristine) && amountValid">
            <span *ngIf="action !== 'bulk'">{{'Amount is required' | translate }}</span>
            <span *ngIf="action === 'bulk'">{{'Amount must be greater than total of invoices' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label [ngClass]="{'title-view': action == 'view', title: action!='view'}">{{ 'Notes' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ invoicePayment.description }}</span>
              <input *ngIf="action != 'view'" class="form-control" placeholder="{{ 'Enter notes' | translate }}" name="notes"
                formControlName="notes" required>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="notes.valid || notes.pristine">
            <span>{{'Notes is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-12">
          <fieldset class="form-group">
            <label *ngIf="action != 'view'" class="title">{{ 'Attach file' | translate }}</label>
            <label *ngIf="action == 'view'" class="title-view">{{ 'Attached files' | translate }}</label>
           <div> <span *ngIf="(action == 'view') && (listFilePayment.length == 0) && (uploader.queue.length == 0)">{{ 'No Attach File' | translate }}</span></div>
            <div *ngIf="action != 'view'" class="custom-file">
              <input #selectedFiles type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader"
                [disabled]="uploader.queue.length > 4" multiple required />
              <label class="custom-file-label" for="FS">{{ 'Choose file' | translate }}...</label>
              <div class="invalid-feedback">Example invalid custom file feedback</div>
              <div class="message-error">
                <span translate>{{'Max files size:' | translate}} 25MB</span>
                <span> / </span>
                <span translate>{{'Maximum files number:' | translate }} 5</span>
              </div>
            </div>
          </fieldset>
          <!-- <div class="message-error" [hidden]>
          <span>{{'Attach file is required' | translate }}</span>
        </div>-->
          <div class="col-md-12" style="margin-bottom: 40px" *ngIf="(action != 'view') && (uploader.queue.length > 0)">
            <div class="row justify-content-end" *ngIf="uploader.queue.length > 1">
              <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash-o"></span> {{ 'Remove all' | translate }}
              </button>
            </div>
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'Name' | translate }}</th>
                  <th>{{ 'Size' | translate }}</th>
                  <th>{{ 'Actions' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td nowrap>
                    <button type="button" class="btn btn-danger btn-xs btn-files" (click)="removeFile(item)">
                      <span class="fa fa-trash-o"></span> {{ 'Remove' | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Documents -->
          <div *ngIf="action !== 'new'" class="col-md-12 card-body">
            <div *ngIf="listFilePayment.length > 0" class="row justify-content-md-center margin-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'Name' | translate }}</th>
                    <th>{{ 'Size' | translate }}</th>
                    <th>{{ 'Actions' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listFilePayment">
                    <td>
                      <strong>{{ item?.name }}</strong>
                    </td>
                    <td nowrap>{{ item?.size/1024/1024 | number:'.2' }} MB</td>
                    <td nowrap>
                      <button type="button" class="btn btn-success btn-xs btn-files" (click)="downloadFile(item)">
                        <span class="fa fa-download"></span> {{ 'Download' | translate }}
                      </button>
                      <button *ngIf="action === 'edit'" type="button" class="btn btn-danger btn-xs btn-files" (click)="deleteFile(item)">
                        <span class="fa fa-trash-o"></span> {{ 'Remove' | translate }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button [hidden]="action != 'view'" type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{
    'Back' |
    translate }}&nbsp;
    <i class="fa fa-arrow-left"></i>
  </button>
  <button type="button" [hidden]="action == 'view'" class="btn btn-secondary" (click)="modalReference.dismiss()">{{
    'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" [hidden]="action == 'view'" [disabled]="form.invalid" class="btn btn-main" (click)="save()">{{
    'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>
