<div class="modal-header">
  <h4 class="modal-title">{{ 'Add Payment' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form"> 
    <h4>{{ 'Payment Information' | translate }}</h4><br>
    <div class="row">
      <div class="col-xl-6">
        <fieldset class="form-group">
          <label class="title">{{ 'Payment Type' | translate }}</label>
          <select class="form-control" name="typeId" formControlName="typeId" required>
            <option *ngFor="let type of listTypes" value="{{type.id}}">{{ type.name | translate }}</option>
          </select>
        </fieldset>
        <div class="message-error" [hidden]="typeId.valid || typeId.pristine">
          <span>{{ 'Payment Type is required' | translate }}</span>
        </div>
      </div>
      <div class="col-xl-6">
        <fieldset class="form-group">
          <label>{{ 'Date' | translate }}</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="date" formControlName="date" ngbDatepicker #d="ngbDatepicker" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </fieldset>
        <div class="message-error" [hidden]="date.valid || date.pristine">
          <span>{{'Date is required' | translate }}</span>
        </div>
      </div>
      <div class="col-xl-6">
        <fieldset class="form-group">
          <label>{{ 'Bank Name' | translate }}</label>
          <input class="form-control" placeholder="{{ 'Enter bank name' | translate }}" formControlName="bank" name="bank" required>
        </fieldset>
        <div class="message-error" [hidden]="bank.valid || bank.pristine">
          <span>{{'Bank name is required' | translate }}</span>
        </div>
      </div>
      <div class="col-xl-6">
        <fieldset class="form-group">
          <label>{{ 'Reference Number' | translate }}</label>
          <input class="form-control" placeholder="{{ 'Enter reference number' | translate }}" name="referenceNumber" formControlName="referenceNumber" required>
        </fieldset>
        <div class="message-error" [hidden]="referenceNumber.valid || referenceNumber.pristine">
          <span>{{'Reference number is required' | translate }}</span>
        </div>
      </div>
      <div class="col-xl-6">
        <fieldset class="form-group">
          <label>{{ 'Amount' | translate }}</label>
          <div class="form-group input-group">
            <div class="input-group-append">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" min="0.0" step="0.1" class="form-control"  placeholder="{{ 'Enter price' | translate }}"
            name="amount" formControlName="amount" required>
          </div>
        </fieldset>
        <div class="message-error" [hidden]="amount.valid || amount.pristine">
          <span>{{'Amount is required' | translate }}</span>
        </div>
      </div>
      <div class="col-xl-6">
        <fieldset class="form-group">
          <label>{{ 'Attach file' | translate }}</label>
          <div class="custom-file">
            <input #selectedFiles type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" [disabled]="uploader.queue.length > 4"
              multiple />
            <label class="custom-file-label" for="FS">{{ 'Choose file' | translate }}...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
            <div class="message-error">
              <span translate>{{'Max files size:' | translate}} 25MB</span>
              <span> / </span>
              <span translate>{{'Maximum files number:' | translate }} 5</span>
            </div>
          </div>
        </fieldset>
        <div class="message-error">
          <span>{{'Attach file is required' | translate }}</span>
        </div>
      </div>
    </div>
    <br>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" [disabled]="form.invalid" class="btn btn-main" (click)="save()" >{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>
