<div class="card mb-3">
    <div class="card-header">
      Basic example
    </div>
    <div class="card-body table-responsive table-hover">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Company</th>
            <th>Username</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <div class="d-flex flex-row justify-content-around">
                <div>
                    <i class="fa fa-edit"></i>
                </div>
                <div>
                    <i class="fa fa-trash"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>