<app-page-header class="page-header-fixed" [heading]="'Shipping Address List'" [icon]="'fa-edit'"></app-page-header>
<div class="sp-container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            {{ 'All Shipping Address' | translate }}
          </div>
          <div class="ml-auto p-2">
            <button class="btn btn-main" (click)="open(content,'create')">{{ 'Add' | translate }}&nbsp;
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="table-tr header-column">
                  <span title="Company">{{ 'Company' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortAddress('company')"></i>
                  </span>
                  <span [hidden]="orderByField != 'company' || typeSort === 0" >
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortAddress('company')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortAddress('company')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="Address">{{ 'Address' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortAddress('address')"></i>
                  </span>
                  <span [hidden]="orderByField != 'address' || typeSort === 0" >
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortAddress('address')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortAddress('address')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="City">{{ 'City' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortAddress('city')"></i>
                  </span>
                  <span [hidden]="orderByField != 'city' || typeSort === 0" >
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortAddress('city')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortAddress('city')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="State">{{ 'State' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortAddress('state')"></i>
                  </span>
                  <span [hidden]="orderByField != 'state' || typeSort === 0" >
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortAddress('state')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortAddress('state')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="Country">{{ 'Country' | translate }}
                      <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortAddress('country')"></i>
                  </span>
                  <span [hidden]="orderByField != 'country' || typeSort === 0" >
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortAddress('country')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortAddress('country')"></i>
                  </span>
                </th>
                <th class="table-tr">
                  <span title="Country">{{ 'Main' | translate }}</span>
                </th>
                <th class="table-tr"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let address of addresses">
                <td class="table-tr td-table"> {{ address.company.companyName }}</td>
                <td class="table-tr td-table"> {{ address.name }}</td>
                <td class="table-tr"> {{ address.city }}</td>
                <td class="table-tr"> {{ address.state }}</td>
                <td class="table-tr"> {{ address.country? (address.country.name | translate) : '' }}</td>
                <td>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="radioGroup{{i}}" name="radioGroup" [value]="address.isMain" class="custom-control-input" [checked]="address.isMain===true" disabled>
                    <label class="custom-control-label" for="radioGroup{{i}}"></label>
                  </div>
                </td>

                <td class="table-tr">
                  <div class="d-flex flex-row justify-content-around">
                    <div ngbDropdown class="d-inline-block dropdown">
                      <button class="btn btn-dropdown-main" ngbDropdownToggle>{{ 'Actions' | translate }}</button>
                      <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="open(address,'edit')">
                          <i class="fa fa-edit"></i> {{ 'Edit' | translate }}</button>
                        <button class="dropdown-item" (click)="delete(address.idAddress)">
                          <i class="fa fa-trash"></i> {{ 'Delete' | translate }}</button>
                        <button class="dropdown-item" (click)="is_main(address.idAddress)">
                          <i class="fa fa-check"></i> {{ 'Main' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-empty" [hidden]="addresses.length !== 0" translate>
            <p class="no-records">
              {{ 'No records have been added yet' | translate }}
            </p>
          </div>
          <div class="pagination-list" [hidden]="addresses.length === 0">
            <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="auxAddresses.length"
              [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
            </ngb-pagination>
            <span class="count-elements">{{ addresses.length + ' ' + ('of' | translate) + ' ' + auxAddresses.length + ' ' + ('register(s)' | translate) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
