<div class="modal-header">
  <h4 class="modal-title">{{ 'Business Type' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-xl-12">
        <fieldset class="form-group">
          <label>{{ 'Name' | translate }}</label>
          <input class="form-control" placeholder="{{ 'Enter name' | translate }}" name="name" formControlName="name" required>
        </fieldset>
        <div class="message-error" [hidden]="name.valid || name.pristine">
          <span>{{ 'Name is required' | translate }}</span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" class="btn btn-main" [disabled]="form.invalid" (click)="save(action)">{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>

<ng-template #rt let-r="result" let-t="term">
  {{ r.description}}
</ng-template>
