<ngb-tabset>
  <ngb-tab title="{{'Technical specifications'| translate}}">
    <ng-template ngbTabContent>
      <div class="card-body table-responsive">
        <div *ngFor="let specification of lista.detail">
          <div class="d-flex flex-lg-wrap">
            <div
              class="col-sm-3"
              *ngFor="let param of specification.parameters"
            >
              <div class="container-supplier">
                <dl class="align-item">
                  <dt>{{ param.name | translate }}</dt>
                  <dt>
                    <span class="font-text"> {{ param.selected }}</span>
                    <hr />
                  </dt>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{ "Steps" | translate }}</ng-template>
    <ng-template ngbTabContent>
      <div class="card-body table-responsive">
        <div *ngFor="let specification of lista.detail">
          <div class="row justify-content-md-center div-parametros">
            <div class="col-sm-4" *ngFor="let param of specification.pasos">
                <dl>
                  <dt>{{ param.name | translate }}</dt>
                  <hr class="separators" />
                </dl>
                <div class="col-sm-12" *ngFor="let item of param.values">
                  <dl></dl>
                  <div class="row step-values">
                    <div class="col-sm-12">
                      <dt>{{ item.name | translate }}:</dt>
                    </div>
                    <div class="col-sm-6" *ngFor="let val of item.values">
                      <dl>
                        <dt class="item">
                          {{ val.name | translate }}:
                          <span *ngIf="val.selected === true">{{
                            "Yes" | translate
                          }}</span>
                          <span *ngIf="val.selected === false">{{
                            "No" | translate
                          }}</span>
                        </dt>
                      </dl>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{ "More info" | translate }}</ng-template>
    <ng-template ngbTabContent>
      <div class="card-body table-responsive">
        <div *ngFor="let specification of lista.detail">
          <div class="row  div-parametros">
            <div class="col-sm-2" *ngFor="let param of specification.header">
              <div class="container-supplier">
                <dl class="align-item">
                  <dt>{{ param.name | translate }}</dt>
                  <dt
                    *ngIf="
                      param.name !== 'Hidrapeg' &&
                      param.name !== 'Inserts (DMV)'
                    "
                  >
                    <span class="font-text"> {{ param.selected }}</span>
                    <hr />
                  </dt>
                  <dt
                    *ngIf="
                      param.name === 'Hidrapeg' ||
                      param.name === 'Inserts (DMV)'
                    "
                  >
                    <span *ngIf="param.selected === true" class="font-text">{{
                      "Yes" | translate
                    }}</span>
                    <span *ngIf="param.selected === false" class="font-text">{{
                      "No" | translate
                    }}</span>
                    <hr />
                  </dt>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="{{'Comments'| translate}}">
    <ng-template ngbTabContent>
      <div class="card-body table-responsive">
        <div class="row justify-content-md-center div-parametros">
          <div class="col-sm-12">
            <dl class="font-text" *ngIf="lista.observations ==='' || lista.observations ===null">
              <span translate>{{'No comments' | translate}}</span>
            </dl>
            <dl>
              <dt *ngIf="lista.observations !==''">
                <span class="font-text">{{lista.observations}}</span>
              </dt>
            </dl>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="files.length > 0" title="{{'Documents'| translate}}">
    <ng-template ngbTabContent>
      <!-- Documents -->
      <div class="card-body table-responsive">
        <br />
        <div class="row justify-content-md-center div-parametros">
          <table class="table">
            <thead>
              <tr>
                <th width="50%">{{ "Name" | translate }}</th>
                <th>{{ "Size" | translate }}</th>
                <th>{{ "Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of files">
                <td>
                  <strong>{{ item?.name }}</strong>
                </td>
                <td nowrap>{{ item?.size / 1024 / 1024 | number: ".2" }} MB</td>
                <td nowrap>
                  <button
                    type="button"
                    class="btn btn-success btn-xs"
                    (click)="downloadFile(item)"
                  >
                    <span class="fa fa-download"></span
                    >{{ "Download" | translate }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
