<app-page-header class="page-header-fixed" [heading]="'Profile'" [icon]="'fa-edit'"></app-page-header>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <div class="text-center">
        <br>
        <img src={{avatar}} class="avatar img-circle img-thumbnail" alt="avatar">
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" required />
        <label class="custom-file-label" for="FS">{{ 'Choose file' | translate }}...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
      <br>
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <hr>
      <form [formGroup]="form">
        <ngb-tabset>
          <ngb-tab title="{{ 'Personal Info'| translate}}">
            <ng-template ngbTabContent>
              <br>
              <div class="container-edit">
                <button class="btn btn-main btn-edit" (click)="editPersonal()" [disabled]="canEditPersonal">{{ 'Edit' | translate }}&nbsp;
                  <i class="fa fa-edit"></i>
                </button>
              </div>
              <h4 translate>Personal Info</h4>
              <br>
              <div class="row">
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label>{{ 'Name' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.name }}</h6>
                    <input [hidden]="!canEditPersonal" class="form-control" placeholder="{{ 'Enter name' | translate }}" name="name" formControlName="name"
                      required>
                  </fieldset>
                  <div class="message-error" [hidden]="name.valid || name.pristine">
                    <span>{{ 'Name is required' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label>{{ 'Email' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.email }}</h6>
                    <input [hidden]="!canEditPersonal" type="email" class="form-control" placeholder="{{ 'Enter email' | translate }}" name="email"
                      formControlName="email" aria-describedby="emailHelpBlock" required>
                  </fieldset>
                  <div class="message-error" [hidden]="email.valid || email.pristine">
                    <span *ngIf="email.errors && !!email.errors.required">{{'Email is required' | translate }}</span>
                    <span *ngIf="email.errors && !!email.errors.email">{{ 'Email is not valid' | translate }}
                    </span>
                  </div>
                </div>
                <div class="col-xl-6" *ngIf="user.role.idRole==3">
                  <fieldset class="form-group">
                    <label>{{ 'Phone' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.phone }}</h6>
                    <int-phone-prefix [hidden]="!canEditPersonal" name="phone" formControlName="phone" data-toggle="tooltip" data-placement="right"
                      title="{{'Select a country by clicking on the map' | translate }}">
                    </int-phone-prefix>
                  </fieldset>
                  <div class="message-error" [hidden]="!canEditPersonal || phone.value.length === 0 || phone.value.length > 7">
                    <span>{{ 'Phone not valid' | translate }}</span>
                  </div>
                  <div class="message-error" [hidden]="!canEditPersonal || phone.value!=''">
                    <span>{{ 'Phone is required' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6" *ngIf="user.role.idRole==1 || user.role.idRole==2">
                  <fieldset class="form-group">
                    <label>{{ 'Phone' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.phone }}</h6>
                    <int-phone-prefix [hidden]="!canEditPersonal" name="phone" formControlName="phone" data-toggle="tooltip" data-placement="right"
                      title="{{'Select a country by clicking on the map' | translate }}">
                    </int-phone-prefix>
                  </fieldset>
                  <div class="message-error" [hidden]="!canEditPersonal || phone.value.length === 0 || phone.value.length > 7">
                    <span>{{ 'Phone not valid' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label>{{ 'City' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.city }}</h6>
                    <input [hidden]="!canEditPersonal" id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt"
                      name="city" formControlName="city" [inputFormatter]="formatter" (selectItem)="findPlace($event)" #instance="ngbTypeahead"
                      placeholder="{{ 'Enter city' | translate }}" required/>
                  </fieldset>
                  <div *ngIf="searching" class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                  <div class="message-error" [hidden]="city.valid || city.pristine">
                    <span>{{ 'City is required' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label>{{ 'State' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.state }}</h6>
                    <input [hidden]="!canEditPersonal" class="form-control" placeholder="{{ 'Enter state' | translate }}" name="state" formControlName="state"
                      required>
                  </fieldset>
                  <div class="message-error" [hidden]="state.valid || state.pristine">
                    <span>{{ 'State is required' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label>{{ 'Country' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.country | translate }}</h6>
                    <ng-select [hidden]="!canEditPersonal" [items]="listCountries" formControlName="country" notFoundText="{{ 'No country found' | translate }}" [searchable]="false"
                      [(ngModel)]="selectedCountry" bindValue="name" placeholder="{{ 'Select country' | translate }}" required>
                      <ng-template ng-label-tmp let-item="item">
                        <div class="supplier-body">
                          <span>{{ item.name | translate }}</span>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="supplier-body">
                          <h6 [ngOptionHighlight]="search">{{ item.name | translate }}</h6>
                        </div>
                      </ng-template>
                    </ng-select>
                  </fieldset>
                  <div class="message-error" [hidden]="country.valid || country.pristine">
                    <span>{{ 'Country is required' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label>{{ 'Postal Code' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.postalCode }}</h6>
                    <input [hidden]="!canEditPersonal" class="form-control" placeholder="{{ 'Enter postal code' | translate }}" name="postal"
                      formControlName="postal">
                  </fieldset>
                  <!--
                  <div class="message-error" [hidden]="postal.valid || postal.pristine">
                    <span>{{ 'Postal code is required' | translate }}</span>
                  </div>
                  -->
                </div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label>{{ 'Address' | translate }}</label>
                    <h6 class="label-disabled" [hidden]="canEditPersonal">{{ user.userResponse.address }}</h6>
                    <input [hidden]="!canEditPersonal" class="form-control" placeholder="{{ 'Enter address' | translate }}" name="address" formControlName="address">
                  </fieldset>
                </div>
              </div>
              <div class="footer-form" [hidden]="!canEditPersonal">
                <button class="btn btn-secondary" (click)="editPersonal()" [disabled]="!canEditPersonal">{{ 'Cancel' | translate }}&nbsp;
                  <i class="fa fa-times"></i>
                </button>
                &nbsp;&nbsp;
                <button [hidden]="user.role.idRole!=3" class="btn btn-main" (click)="savePersonal()" [disabled]="!canEditPersonal || !name.valid || !email.valid || !city.valid || !state.valid || !country.valid || phone.value =='' ||  phone.value.length < 8 && !!phone.value.length">
                  {{ 'Save' | translate }}&nbsp;
                  <i class="fa fa-save"></i>
                </button>
                <button [hidden]="user.role.idRole==3" class="btn btn-main" (click)="savePersonal()" [disabled]="!canEditPersonal || !name.valid || !email.valid || !city.valid || !state.valid || !country.valid || phone.value.length < 8 && !!phone.value.length">
                  {{ 'Save' | translate }}&nbsp;
                  <i class="fa fa-save"></i>
                </button>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              {{ 'Account Info' | translate }}
            </ng-template>
            <ng-template ngbTabContent>
              <br>
              <div class="container-edit">
                <button class="btn btn-main btn-edit" (click)="editAccount()" [disabled]="canEditAccount">{{ 'Edit' | translate }}&nbsp;
                  <i class="fa fa-edit"></i>
                </button>
              </div>
              <div class="form-options">
                <h4>{{ 'Account Info' | translate }}</h4>
              </div>
              <br>
              <div class="row">
                <div class="col-xl-12">
                  <fieldset class="form-group">
                    <label>{{ 'Username' | translate }}</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <h6 class="label-disabled" [hidden]="canEditAccount">{{ user.userResponse.username }}</h6>
                      <input [hidden]="!canEditAccount" type="text" class="form-control" name="username" formControlName="username" placeholder="Username"
                        aria-describedby="usernameHelpBlock" readonly required>
                    </div>
                    <small id="usernameHelpBlock" class="form-text text-muted" [hidden]="!canEditAccount">
                      {{'You can not edit your username' | translate }}
                    </small>
                  </fieldset>
                  <div class="message-error" [hidden]="username.valid || username.pristine">
                    <span>{{ 'Username is required' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label for="oldPassword" class="control-label">{{'Old Password' | translate}}</label>&nbsp;&nbsp;
                    <i class="fa fa-lock" placement="top" ngbTooltip="{{'For security your password is encrypted' | translate}}"></i>
                    <h6 class="label-disabled" [hidden]="canEditAccount">{{ 'The password is secret' | translate }}</h6>
                    <input [hidden]="!canEditAccount" type="password" class="form-control" name="oldPassword" formControlName="oldPassword" aria-describedby="passwordHelpBlock"
                      required>
                  </fieldset>
                  <div class="message-error" [hidden]="oldPassword.valid || oldPassword.pristine || !canEditAccount">
                    <span>{{ 'Password is not valid' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6"></div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label for="password" class="control-label">{{'Password' | translate}}</label>&nbsp;&nbsp;
                    <i class="fa fa-lock" placement="top" ngbTooltip="{{'For security your password is encrypted' | translate}}"></i>
                    <h6 class="label-disabled" [hidden]="canEditAccount">{{ 'The password is secret' | translate }}</h6>
                    <input [hidden]="!canEditAccount" type="password" class="form-control" name="password" formControlName="password" aria-describedby="passwordHelpBlock"
                      required>
                  </fieldset>
                  <div class="message-error" [hidden]="password.valid || password.pristine || !canEditAccount">
                    <span>{{ 'Password is not valid' | translate }}</span>
                  </div>
                </div>
                <div class="col-xl-6">
                  <fieldset class="form-group">
                    <label for="confirmedPassword" class="control-label">{{'Confirm Password' | translate}}</label>&nbsp;&nbsp;
                    <i class="fa fa-lock" placement="top" ngbTooltip="{{'For security your password is encrypted' | translate}}"></i>
                    <h6 class="label-disabled" [hidden]="canEditAccount">{{ 'The password is secret' | translate }}</h6>
                    <input [hidden]="!canEditAccount" type="password" class="form-control" name="confirmedPassword" formControlName="confirmedPassword"
                      aria-describedby="passwordHelpBlock" [ngStyle]="{'border-left': (form.get(['password']).value != form.get(['confirmedPassword']).value
                                     && form.get(['confirmedPassword']).value != null
                                     || form.get(['password']).value === ''
                                     || form.get(['confirmedPassword']).value === '') === false ? '5px solid green' : '5px solid red' }"
                      required>
                    <!--
                          <small [hidden]="!canEdit" id="passwordHelpBlock" class="form-text text-muted">
                            {{'Password must be at least 8 characters' | translate }}
                          </small>
                          -->
                  </fieldset>
                  <div class="message-error" *ngIf="form.get(['password']).value != form.get(['confirmedPassword']).value
                              && form.get(['confirmedPassword']).value != null && canEditAccount">
                    <span>{{ 'Passwords do not match' | translate }}</span>
                  </div>
                </div>
              </div>
              <br>
              <div class="footer-form" [hidden]="!canEditAccount">
                <button class="btn btn-secondary" (click)="editAccount()" [disabled]="!canEditAccount">{{ 'Cancel' | translate }}&nbsp;
                  <i class="fa fa-times"></i>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-main" (click)="saveAccount()" [disabled]="!canEditAccount || form.get(['password']).value != form.get(['confirmedPassword']).value
                                    && form.get(['confirmedPassword']).value != null
                                    || form.get(['password']).value === ''
                                    || form.get(['confirmedPassword']).value === ''
                                    || form.get(['oldPassword']).value === ''">{{ 'Save' | translate }}&nbsp;
                  <i class="fa fa-save"></i>
                </button>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <br>
      </form>
      <hr>
      <!--/tab-pane-->
    </div>
    <!--/tab-content-->
  </div>
  <!--/col-9-->
</div>
<!--/row-->
<ng-template #rt let-r="result" let-t="term">
  {{ r.description}}
</ng-template>
