@import '../../../styles/spectrum/spectrum';

.custom-file-input {
  cursor: pointer;
  $custom-file-text: (
  placeholder: (
    en: "Choose file...",
    es: "Seleccionar archivo..."
  ),
  button-label: (
    en: "Browse",
    es: "Navegar"
  )
);
}

.container {
  padding: 100px 0px 0px 30px;
}

.spinner {
  width: 50px;
  height: 50px;
  top: 62px;
  left: 380px;

  > div {
    width: 10px;
    height: 10px;
  }
}

.form-options {
  display: flex;
  justify-content: space-between;
}

.footer-form {
  display: flex;
  justify-content: flex-end;
}

.label-disabled {
  color: $bg-sidebar;
}

.center-button {
  margin-top: 31px;
}

.container-edit{

  text-align: right;

  .btn-edit {
    position: absolute;
    margin-left: -94px;
    margin-top: -10px;
  }

}

.success {
  padding: 2em;

  > span {
    font-size: 2em;
    color: darkgreen;
    font-weight: bold;
    font-style: oblique
  }
}

