.items-footer {
  color: white;
}


.bg-primary {
  background-color: #CB4335   !important;
}

.bg-warning {
  background-color: #28B463   !important;
}

.bg-success {
  background-color: #D68910 !important;
}

.bg-danger {
  background-color: #7D3C98 !important;
}



