@import '../../../../styles/spectrum/spectrum';

.header-params {
  padding-left: 1em;

  .custom-control {
    margin-bottom: 1em;
  }

}

.custom-header {
  display: flex;
}

.radio-button {
  display: flex;
  justify-content: space-around;
}
