<div class="row header-params">
  <!-- row (parameters right) -->
  <div class="col-lg-12 custom-control custom-checkbox">
    <!--header-->
    <input id="{{eye}}" type="checkbox" name="checkboxGroupAll" (click)="selectEye()"
      class="custom-control-input">
    <label class="custom-control-label" for="{{eye}}">{{ 'OD' }}</label>
    <!--<div class="title">{{ 'Parameters' | translate }}</div>-->
    <div class="row  p-3">
      <!--quantity right-->
      <div class="col-lg-2 margin-col padding-col">
        <div class="row">
          <label class="form-check-label">{{ 'Quantity' | translate }}</label>
        </div>
        <div class="row">
          <div class="col-sm-12 pl-0">
            <input class="form-control" type="number" step=1 min="1" [(ngModel)]="product[quantity()]" oninput="validity.valid||(value='');"
            [disabled]="!eyeSelected" [required]="eyeSelected">
          </div>
        </div>
      </div>
      <div class="col-lg-2 margin-col padding-col pb-3" *ngFor="let parameter of getParams()">
        <div class="row">
          <label class="form-check-label">{{ parameter.name | translate }}</label>&nbsp;&nbsp;
        </div>
        <div class="row" [ngSwitch]="parameter.type">
          <div *ngSwitchCase="'selected'" class="select-values col-sm-12 pl-0">
            <ng-select [items]="parameter.values" [disabled]="!eyeSelected" [required]="eyeSelected"
              [(ngModel)]="parameter.selected" bindLabel="item" bindValue="item" placeholder="{{ 'Select value' | translate }}">
              {{item}}
            </ng-select>
          </div>
          <div *ngSwitchCase="'input-text'" class="select-values col-sm-12 pl-0">
            <input type="text" class="form-control" [(ngModel)]="parameter.selected" [disabled]="!eyeSelected" [required]="eyeSelected" />
          </div>

          <div *ngSwitchCase="'input-number'" class="select-values col-sm-12 pl-0">
            <input type="number" class="form-control" [(ngModel)]="parameter.selected" [disabled]="!eyeSelected" [required]="eyeSelected"/>
          </div>
      </div>
    </div>
  </div>
</div>