@import '../../../styles/spectrum/spectrum';

@include tr-sizes((25%,15%,25%,20%,15%,10%));

.card {
  border: 1px solid $border;
  box-shadow: 0 2px 2px $box-shadow, 0 0 2px $box-shadow1;
}

.align-btn-download {
  text-align: right;
}
