
<div>
  <app-page-header [heading]="'List of Suppliers'" [icon]="'fa-edit'"></app-page-header>
  <div class="card mb-3">
    <div class="card-header">
      {{ 'All Suppliers' | translate }}
      <button class="btn btn-main" (click)="open(content,'create')">{{ 'Add' | translate }}&nbsp;
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="table-tr">
              <span title="Company Name">{{ 'Company Name' | translate }}</span>
              <span [hidden]="orderByField != 'companyName'">  
                <i title="Ascendente" [hidden]="!reverseSort" class="fa fa-caret-up" (click)="reverseSort = !reverseSort; sortSupplier('companyName')"></i>
                <i title="Descendente" [hidden]="reverseSort" class="fa fa-caret-down" (click)="reverseSort = !reverseSort; sortSupplier('companyName')"></i>
              </span>
            </th> 
            <th class="table-tr">{{ 'Contact' | translate }}</th>
            <th class="table-tr">{{ 'Address' | translate }}</th>
            <th class="table-tr">{{ 'Telephone' | translate}}</th>
            <th class="table-tr">{{ 'Website' | translate}}</th>
          </tr>
        </thead>
        <tbody [hidden]="suppliers.length === 0">
          <tr *ngFor="let supplier of suppliers">
            <td class="table-tr">{{supplier.companyName}}</td>
            <td class="table-tr">{{supplier.contact}}</td>
            <td class="table-tr">{{supplier.address}}</td>
            <td class="table-tr">{{supplier.telephone}}</td>
            <td class="table-tr">{{supplier.website}}</td>

            <td class="table-tr">
              <div class="d-flex flex-row justify-content-around">
                <div ngbDropdown class="d-inline-block dropdown">
                  <button class="btn btn-dropdown-main" ngbDropdownToggle>{{ 'Actions' | translate }}</button>
                  <div ngbDropdownMenu>
                    <button class="dropdown-item" (click)="open(supplier,'edit')">
                      <i class="fa fa-edit"></i> {{ 'Edit' | translate }}</button>
                    <button class="dropdown-item" (click)="delete(supplier.idSupplier)">
                      <i class="fa fa-trash"></i> {{ 'Delete' | translate }}</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- EMPTY LIST -->
      <div class="table-empty" [hidden]="suppliers.length !== 0" translate>
        There aren't any suppliers added yet
      </div>
      <div class="pagination-list" [hidden]="suppliers.length === 0">
        <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="auxSuppliers.length"
          [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
        </ngb-pagination>
        <span class="count-elements">{{ suppliers.length + ' ' + ('of' | translate) + ' ' + auxSuppliers.length + ' ' + ('elements' | translate) }}</span>
      </div>
      
    </div>
  </div>
</div>

