<div class="col-lg-12">
  <div class="row padding-params display-edit" *ngIf="valueStatus === 0 && user.role.idRole !== 2 && valueClient !== 2">
    <button type="button" (click)="openEdit()" class="edit btn btn-outline-primary" translate>
      Edit
    </button>
  </div>
  <ngb-tabset>
    <ngb-tab title="{{'Technical specifications'| translate}}">
      <ng-template ngbTabContent>
        <div class="card-body table-responsive">
          <div *ngFor="let specification of lista.detail">
            <div class="d-flex flex-lg-wrap">
              <div class="col-sm-3">
                <dl class="align-item">
                  <dt>{{'Type'| translate}}
                  </dt>
                  <hr class="separators">
                  <dl>
                    <dt>
                      <span class="font-text">
                        {{ specification.typeLens }}
                      </span>
                    </dt>
                  </dl>
                </dl>
              </div>
              <div class="col-sm-3">
                <dl class="align-item">
                  <dt>{{'Design'| translate}}
                  </dt>
                  <hr class="separators">
                  <dl>
                    <dt>
                      <span class="font-text">
                        {{ specification.design }}
                      </span>
                    </dt>
                  </dl>
                </dl>
              </div>

              <div class="col-sm-3">
                <dl class="align-item">
                  <dt>{{'Material'| translate}}
                  </dt>
                  <hr class="separators">
                  <dl>
                    <dt>
                      <span class="font-text">
                        {{ specification.materials }}
                      </span>
                    </dt>
                  </dl>
                </dl>
              </div>

              <div class="col-sm-3 last-param">
                <dl class="align-item" *ngIf="specification.materials === 'Boston-XO'">
                  <dt>{{'Hydrapeg'| translate}}
                  </dt>
                  <hr class="separators">
                  <dl>
                    <dt>
                      <span class="font-text">
                        {{ specification.hydrapeg }}
                      </span>
                    </dt>
                  </dl>
                </dl>
              </div>
              
              <div class="col-sm-3" *ngFor="let param of getParams(specification)">
                <div class="container-supplier">
                  <dl class="align-item">
                    <dt *ngIf="param.name !== 'Axes Cylinder'">{{ param.name | translate }}</dt>
                    <dt *ngIf="param.name === 'Axes Cylinder'">{{ "Axes (º)" | translate }}</dt>
                    <dt>
                      <span class="font-text" *ngIf="param.selected !== null && param.selected !== '' && param.selected !== undefined"> {{ param.selected }}</span>
                      <span class="font-text" *ngIf="param.selected === null || param.selected === '' || param.selected === undefined"> {{ 'Unassigned' | translate }}</span>
                      <hr />
                    </dt>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="lista.observations !== null" title="{{'Comments'| translate}}">
      <ng-template ngbTabContent>
        <div class="card-body table-responsive">
          <div class="row justify-content-md-center div-parametros">
            <div class="col-sm-12">
              <dl class="font-text" *ngIf="lista.observations ==='' || lista.observations ===null">
                <span translate>{{'No comments' | translate}}</span>
              </dl>
              <dl>
                <dt *ngIf="lista.observations !==''">
                  <span class="font-text">{{lista.observations}}</span>
                </dt>
              </dl>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
