@import '../../../../styles/spectrum/spectrum';
@include tr-sizes((30%,10%,17%,17%,20%,6%));

.label-value {
  width: 100px;
}

.label {
  width: 100px;
  font-weight: bold;
}

.input-form {
  width: 160px;
  margin-bottom: .7em;
  display: inline-block;
  font-size: .85em;
}

.table > tbody > tr:nth-last-child(1) {
  height: 90%;
}

.input-group {
  width: 55%;
  display: inline-flex;
  .input-group-append {
    display: inline;
    .btn {
      font-size: .9rem;
    }
  }
}

.hand-over {
  cursor: pointer;
  /*display: flex;*/
  justify-content: space-evenly;
}

.margin-span {
  margin-right: 10%;
}


.input-date {
  width: 80px;
  margin-bottom: .7em;
  display: inline-block;
  font-size: .85em;
}

.address {
  width: 150px;
  align-items: center;
}

.address-client {
  padding-left: 50px;
  width: 250px;
  align-items: center;
}
.customer {
  margin-left: 35px;
  width: 95%;
}
.address-spectrum {
  text-align: right;
}
.title {
  color: lightblue;
}
.row-height {
  height: 30px;
}
.label-amount {
  text-align: right;
  width: 40%;
  /*padding-right: 15px;
  width: 150px;*/
}

.bold{
  font-weight: bold;
}

.label-order {
  margin-left: 5px;
  font-weight: 550;
}

.border-bottom {
  border-bottom: 2px solid cornflowerblue;
}

.total {
  text-align: right;
  padding-right: 15px;
}

.content {
  overflow-y: auto;
  max-height: 600px;
  font-size: 0.8rem;
}

.table > tbody > tr > td {
  border-bottom: 2px solid lightgray;
}

.table > thead > tr > th {
  border-bottom: 2px solid cornflowerblue;
}

.table-tr:nth-child(6) {
  vertical-align: middle;
}

.table > thead > tr > th:nth-child(5) {
  text-align: center;
}

.td-align {
  text-align: right;
  padding-right: 10%;
}

.amount-div {
  display: inline-flex;
}

.amount-total {
  width: 50%;
  text-align: right;
  padding-right: 10%;
  margin-left: 8%;
}

.align-row {
  align-items: center;
}

.address-top {
  border-top: lightgray solid 1px;
  border-left: lightgray solid 1px;
  border-right: lightgray solid 1px;
}
.address-down {
  border-bottom: lightgray solid 1px;
  border-left: lightgray solid 1px;
  border-right: lightgray solid 1px;
}

.address-middle {
  border-left: lightgray solid 1px;
  border-right: lightgray solid 1px;
}

