@import '../../../../styles/spectrum/spectrum';


#page_1 {
  position:relative;
  overflow: hidden;
  margin: 27px 0px 33px 24px;
  padding: 0px;
  border: none;
  width: 769px;
  height: 1063px;
}

.label-value {
  width: 200px;
  padding-left: 10px;
}

.label {
  width: 110px;
  padding-left: 10px;
}

.deliver {
  border: #000000 1px solid
}

.total {
  text-align: right;
  padding-right: 15px;
}


