<div class="modal-header">
  <h4 class="modal-title">{{ 'Generate Invoice' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col col-xl-12 col-lg-12">
    <div class="row">
      <div class="col-xl-4">
        <img src="assets/images/spectrumLogo.png" width="200px" class="" />
      </div>
      <div class="col-xl-8">
        <h4>Spectrum International</h4>
        <h6>Dallas, TX - Atlanta, GA</h6>
        <h6>Tel : +1 678 557 3322</h6>
      </div>
    </div>
  </div>
  <form [formGroup]="form">
    <span style="display: block;width: 50%;margin: 10px 0px;border-top: 0.5px solid #0a0a0a;margin: 20px auto;"></span>
    <div class="col col-xl-12 col-lg-12">
      <div class="row">
        <div class="col-xl-6">
          <label>{{order? order.nameUser:''}}</label>
          <label></label>
        </div>
        <div class="col-xl-6">
          <label class="label">{{ 'Order No' | translate }}</label>
          <label class="label-value">{{order.number}}</label>
        </div>
      </div>
    </div>
    <div class="col col-xl-12 col-lg-12">
      <div class="row">
        <div class="col-xl-6">
          <label>{{order? order.user.email:''}}</label>
          <label></label>
        </div>
        <div class="col-xl-6">
          <label class="label">{{ 'Order Date' | translate }}</label>
          <label class="label-value">{{order.date | date:'yyyy-MM-dd'}}</label>
        </div>
      </div>
    </div>
    <div class="col col-xl-12 col-lg-12">
      <div class="row">
        <div class="col-xl-6">
          <label>{{order? order.address.name :''}}</label>
        </div>
        <div class="col-xl-6">
          <label class="label">{{ 'Invoice No' | translate }}</label>
          <label class="label-value">{{invoice.number}}</label>
        </div>
      </div>
    </div>
    <div class="col col-xl-12 col-lg-12">
      <div class="row">
        <div class="col-xl-6">
          <label>{{order? (order.address.city + ' - '+order.address.state):''}}</label>
        </div>
        <div class="col-xl-6">
          <label class="label" >{{ 'Invoice Date ' | translate }}</label>
          <label class="label-value">{{today | date:'yyyy-MM-dd'}}</label>
        </div>
      </div>
    </div>
    <div class="col col-xl-12 col-lg-12">
      <div class="row">
        <div class="col-xl-6">
          <label>{{order? (order.address.country):''}}</label>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th class="table-tr">{{ 'QUANTITY' | translate }}</th>
                <th class="table-tr">{{ 'DESCRIPTION' | translate }}</th>
                <th class="table-tr">{{ 'UNIT PRICE' | translate }}</th>
                <th class="table-tr">{{ 'NET AMOUNT' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let productR of invoice.listProductRequested; let i = index">
                <td class="table-tr">{{productR.productRequested.quantity}}</td>
                <td class="table-tr">{{(productR.productRequested.product.name + " - "+ productR.productRequested.product.description)}}</td>
                <td class="table-tr">
                  <fieldset>
                    <input type="number" id="unitPrice{{i}}" [value]="productR.price" class="form-control" (change)="updateUnitPrice($event, i)" placeholder="{{ 'Enter unit price' | translate }}"
                    required>
                </fieldset>
                </td>
                <td class="table-tr">{{(productR.netAmount | currency : "USD $")}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col col-xl-12 col-lg-12">
        <div class="row">
          <div class="col-xl-6 deliver">
            <label>{{order? order.nameUser:''}}</label>
            <br>
            <label>{{order? order.user.email:''}}</label>
            <br>
            <label>{{order? order.address.name :''}}</label>
            <br>
            <label>{{order? (order.address.city + ' - '+order.address.state):''}}</label>
            <label>{{order? (order.address.country):''}}</label>
          </div>
          <div class="col-xl-6 deliver">
            <label class="label-amount">{{ 'Subtotal Amount' | translate }}</label>
            <label class="label-amount">{{invoice.subtotal}}</label>
            <br>
            <label class="label-amount">{{ 'Total Amount' | translate }}</label>
            <label class="label-amount">{{invoice.total}}</label>
          </div>
        </div>
      </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" class="btn btn-main" (click)="generateInvoice(order.idOrder)">{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
  <button type="button" class="btn btn-main" (click)="generateInvoice(order.idOrder)">{{ 'Save and Send' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>
