.btn-main {
  background: $bg-blue;
  color: $bg-white;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background: $bg-blue-hover;
  }
}

.btn-dropdown-main {
  color: $bg-blue;
  background-color: transparent;
  background-image: none;
  border-color: none;
  border-radius: 2px;

  &:focus {
    box-shadow: none;
  }

}

.dropdown-menu {
  min-width: 7rem;
  top: 28px !important;
  left: 10px !important;
}

.dropdown-menu::before {
  position: absolute;
  top: -7px;
  left: 59px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
  }
  .dropdown-menu::after {
  position: absolute;
  top: -6px;
  left: 60px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $bg-white;
  border-left: 6px solid transparent;
  content: '';
  }

  .btn.disabled, .btn:disabled {
    cursor: not-allowed;
}
