$bg-sidebar: #494949;
$bg-navbar: #222;
$bg-blue: #1756a6;
$bg-white: #ffffff;
$bg-text-select: #f90;
$bg-item-select: #3c3c3c;
$bg-blue-hover: #185eb9;
$bg-imput: #ced4da;
$bg-red: #cc0000;
$bg-green: #42A948;
$border:rgba(0, 0, 0, 0.125);
$box-shadow : 2px rgba(0,0,0,.24);
$box-shadow1:rgba(0,0,0,.12);
$color-text-menu:#868e96;
$bg-green: #42A948;
