.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $bg-green; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid $bg-red; /* red */
}

.content {
  padding: 1.7rem;
}

.form-control:focus {
  box-shadow: 0 0 0 0.08rem rgba(0, 123, 255, 0.20);
}

.message-error {
  margin-top: -1rem;
  color: $bg-red;
  font-size: 0.85rem;
}

.page-header-fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
  margin-top: -10px;
  padding-top: 10px;
  margin-left: 30px;
}

.sp-container {
  padding-top: 100px;
  padding-left: 30px;
}

.sp-title {
  color: $bg-blue;
  font-weight: bold;
  font-size: 1.4rem;
}

