<div *ngIf="product">
    <div class="modal-header">
      <h4 class="modal-title">{{ 'Product Detail' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="list-basket">
      <div class="row">
        <div class="list-basket">
          <!--Image-->
          <div class="col-lg-12 main-info">
            <div>
              <span class="title">{{ product.name }}</span>
            </div>
            <!--Image-->
            <div class="label-title">
              <img class="img-product" src="{{ basket.urlImage }}">
            </div>

            <!-- Patient, Type, Price-->
            <div class="col-sm-12 header-global">
              <div class="col-sm-4" *ngFor="let item of infoGlobal">
                <dl class="align-item">
                  <dt>{{ item.name | translate }}</dt>
                  <hr class="separators" />
                  <dl>
                    <dt class="items" *ngIf="item.name !== 'Total'">{{ item.value | translate }}</dt>
                    <dt class="items" *ngIf="item.name === 'Total'">{{ subtotal | currency: "USD $" }}</dt>
                  </dl>
                </dl>
              </div>
            </div>

            <div class="col-lg-12 title eye-info">
              <span>{{ detail.eye + ' Eye' | translate }}</span>&nbsp;&nbsp;
            </div>
          </div>
          <!--SET-->
          <div class="col-lg-12 label-title" *ngIf="detail.typeLens === 'Please design my lens'">
            <div class="row padding-params">
              <div class="col-lg-12 title title-info">
                  <span>{{ 'Test set' | translate }}</span>&nbsp;&nbsp;
              </div>
              <!--PARAMS-->
              <div class="col-sm-4" *ngFor="let parameter of detail.set">
                <dl class="align-item"  *ngIf="parameter.selected !== ''">
                  <dt>{{ parameter.name | translate }}
                  </dt>
                  <hr class="separators">
                  <dl>
                    <dt class="items">
                      {{ parameter.selected}}
                    </dt>
                  </dl>
                </dl>
              </div>
            </div>
          </div>
          <!--PARAMETERS-->
          <div class="col-lg-12 label-title">
            <div class="row padding-params">
              <div class="col-lg-12 title title-info">
                  <span>{{ 'Parameters' | translate }}</span>&nbsp;&nbsp;
              </div>
              <div class="col-sm-4">
                <dl class="align-item">
                  <dt>{{'Quantity'| translate}}
                  </dt>
                  <hr class="separators">
                  <dl>
                    <dt class="items">
                      {{ productRequested.quantity}}
                    </dt>
                  </dl>
                </dl>
              </div>
              <!--PARAMS-->
              <div class="col-sm-4" *ngFor="let parameter of detail.parameters">
                <dl class="align-item"  *ngIf="parameter.selected !== ''">
                  <dt>{{ parameter.name | translate }}
                  </dt>
                  <hr class="separators">
                  <dl>
                    <dt class="items">
                      {{ parameter.selected}}
                    </dt>
                  </dl>
                </dl>
              </div>
            </div>
          </div>
          <!--Fin parameters-->
          <div class="col-lg-12 comments">
            <div class="row padding-params">
              <div class="col-sm-12">
                <dl>
                  <dt>{{'Comments'| translate}}
                  </dt>
                  <dl class="comment" *ngIf="productRequested.observations === '' || productRequested.observations === null">
                    <span translate>{{'No comments' | translate}}</span>
                  </dl>
                  <dl *ngIf="productRequested.observations !== ''">
                    <span style="overflow-x: hidden;"> {{ productRequested.observations }}</span>
                  </dl>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Close' | translate }}&nbsp;
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
