@import '../../../../styles/spectrum/spectrum';

@include tr-sizes((50%,50%));
.card {
  border: 1px solid $border;
  box-shadow: 0 2px 2px $box-shadow, 0 0 2px $box-shadow1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #1756a6;
  font-weight: 600;
  border-bottom: none;
  font-size: 1.3rem;
}


.div-order{
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
  border-bottom: none;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 2.9rem;
  justify-content: space-between;
}

.div-details{
  border: 1px solid $border;
  width: 520px;
  padding-left: 2500px;
}

.pp{
  border: 1px solid $border;
  width: 100%;
  align-self: center;
}

.info-breadcrumbs {
  margin-left: 3%;
}

.card-body {
  padding: 20px !important;
}

.order-summary {
  padding: 30px;
}


.products-label {
  margin-left: 100px;
  margin-top: 20px;
}

.product-list {
  padding-bottom: 30px;

  .container-img {
    padding: 2em;

    .imag-product{
      width: 100%;
      background-repeat: no-repeat;
      height: 100%;
    }
  }

  .size-image-euclid{
    background-size: 83%;
  }

  .size-image{
    background-size: 100%;
  }


  .container-list{
    width: 100%;
  }

  .div-name {
    display: flex;
    padding-left: 50px;
    justify-content: center;

    div {
      > h3 {
        white-space: nowrap;
      }
    }

    div:nth-child(2) {
      min-width: 0;

      span {
        max-width: 0;
        > h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .div-parametros{
    padding-left: 50px;
  }

  .label-specifications{
    color: #0056b3;
    font-size: 1.2rem;
    padding-left: 50px;
  }

  .container-supplier {
    flex-wrap: wrap;
    }
}

.font-text{
  font-weight:normal !important;
  align-content: center !important;
}
.align-item{
  text-align: center !important;
}

.page-header-fixed {
  margin-left: 15px;
}

.header-body {
  width: 100%;
  background: $bg-white;
  box-shadow: -2px 5px 5px -5px rgba(0, 0, 0, 0.5);

  .link {
    color: $bg-blue;
    padding-left: 0px;
  }

  .breadcrumb {
    background-color: transparent;
    border-radius: 0px;
    //padding-left: 15px;
    border-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  h4 {
    padding-left: 15px;
  }
}
.padding-params {
  padding:  0 2em;
}
