@import '../../../styles/spectrum/spectrum';

.div-pending {
  >div {
    text-align: center;
    background: $pending-status;
    color: $bg-white;
    border-radius: 12px;
    width: 90%;
  }
}

.div-sent {
  >div {
    text-align: center;
    background: $sent-status;
    color: $bg-white;
    border-radius: 12px;
    width: 90%;
  }
}

.div-authorized {
  >div {
    text-align: center;
    background: $authorized-status;
    color: $bg-white;
    border-radius: 12px;
    width: 90%;
  }
}

.div-processed {
  >div {
    text-align: center;
    background: $processed-status;
    color: $bg-white;
    border-radius: 12px;
    width: 90%;
  }
}

.div-pay {
  >div {
    text-align: center;
    background: $paid-status;
    color: $bg-white;
    border-radius: 12px;
    width: 90%;
  }
}
