<div class="row page-header-fixed">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Payments Made to The Invoice List' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> {{
          'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-folder-open"></i> {{ 'Payments Made to The Invoice List' | translate}}</li>
    </ol>
  </div>
</div>
<div class="sp-container">
  <div class="row body-fixed">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            <div class="card-header">{{ 'Invoice Details' | translate }}</div>
          </div>
          <div class="align-btn-detail">
            <button type="button" class="btn btn-success btn-xs" (click)="downloadInvoice(invoice)" translate>
              <span class="fa fa-download"></span> Download Invoice
            </button>
          </div>
        </div>
        <div class="container pp rounded">
          <div class="row justify-content-md-center order-summary margin-container ">
            <!--Invoice data-->
            <div class="col-md-4">
              <span class="font-weight-bold">{{'Status' | translate }}:</span>&nbsp;
              <span>{{ (invoice ? getStatus(invoice.status) : '')  | translate }}</span>
              <br>
              <span class="font-weight-bold">{{'Invoice number' | translate }}:</span>&nbsp;
              <span>{{ invoice ? invoice.number : '' }}</span>
              <br>
              <span class="font-weight-bold">{{'Date' | translate }}:</span>&nbsp;
              <span>{{ (invoice ? invoice.date : '') | date:'yyyy-MM-dd'}}</span>
              <br>
              <span class="font-weight-bold">{{'Due Date' | translate }}:</span>&nbsp;
              <span>{{ (invoice ? invoice.dueDate : '') | date:'yyyy-MM-dd'}}</span>
            </div>
            <!--Customer data-->
            <div class="col-md-4">
              <span class="font-weight-bold">{{'Customer' | translate }}:</span>&nbsp;
              <span>{{ invoice ? invoice.user.name : '' }}</span>
              <br>
              <span class="font-weight-bold">{{'Address' | translate }}:</span>&nbsp;
              <span>{{ invoice ? invoice.user.address : '' }}</span>
              <br>
              <span class="font-weight-bold">{{'Email' | translate }}:</span>&nbsp;
              <span>{{ invoice ? invoice.user.email : '' }}</span>
              <br>
              <span class="font-weight-bold">{{'Phone' | translate }}:</span>&nbsp;
              <span>{{ invoice ? invoice.user.phone : '' }}</span>
            </div>
            <!--Totals data-->
            <div class="col-md-4">
              <span class="font-weight-bold">{{'Amount Due' | translate }}:</span>&nbsp;
              <span>{{ (invoice ? invoice.due : '') | currency : "USD $" }}</span>
              <br>
              <span class="font-weight-bold">{{'Amount Shipping' | translate }}:</span>&nbsp;
              <span>{{ (invoice ? invoice.shipping : '') | currency : "USD $" }}</span>
              <br>
              <span class="font-weight-bold">{{'Amount Without Shipping' | translate }}:</span>&nbsp;
              <span>{{ (invoice ? invoice.totalWShipping : '') | currency : "USD $" }}</span>
              <br>
              <span class="font-weight-bold">{{'Sub-total' | translate }}:</span>&nbsp;
              <span>{{ (invoice ? invoice.subtotal : '') | currency : "USD $" }}</span>
              <br>
              <span class="font-weight-bold">{{'Total' | translate }}:</span>&nbsp;
              <span>{{ (invoice ? invoice.total : '') | currency : "USD $" }}</span>
            </div>
          </div>
          <br><br>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            {{ 'All payments' | translate }}
          </div>
          <button type="button" class="btn btn-main" (click)="openModal(invoice,'new',null)">{{ 'Add' | translate }}
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="table-tr header-column">
                  <span title="{{ 'Status' | translate }}">{{ 'Status' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('status')"></i>
                  </span>
                  <span [hidden]="orderByField != 'status' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('status')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('status')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="{{ 'Payment Date' | translate }}">{{ 'Date' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('date')"></i>
                  </span>
                  <span [hidden]="orderByField != 'date' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('date')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('date')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="{{ 'Type' | translate }}">{{ 'Type' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('typeId')"></i>
                  </span>
                  <span [hidden]="orderByField != 'date' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('typeId')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('typeId')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="{{ 'Reference Number' | translate }}">{{ 'Reference Number' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('referenceNumber')"></i>
                  </span>
                  <span [hidden]="orderByField != 'referenceNumber' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('referenceNumber')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('referenceNumber')"></i>
                  </span>
                </th>
                <th class="table-tr header-column">
                  <span title="{{ 'Total' | translate }}">{{ 'Total' | translate }}
                    <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('total')"></i>
                  </span>
                  <span [hidden]="orderByField != 'total' || typeSort === 0">
                    <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('total')"></i>
                    <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('total')"></i>
                  </span>
                </th>
                <th class="table-tr"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payment of listPayments">
                <td *ngIf="payment.status === 0" class="table-tr" class="pending">
                  <div>{{'Pending' | translate}}</div>
                </td>
                <td *ngIf="payment.status === 1" class="table-tr" class="verified">
                  <div>{{'Verified' | translate }}</div>
                </td>
                <td class="table-tr td-table">{{payment.date | date:'yyyy-MM-dd'}}</td>
                <td *ngIf="payment.typePayment === 0" class="table-tr">
                  <div>{{'Transfer' | translate}}</div>
                </td>
                <td *ngIf="payment.typePayment === 1" class="table-tr">
                  <div>{{'Deposit' | translate}}</div>
                </td>
                <td *ngIf="payment.typePayment === 2" class="table-tr">
                  <div>{{'Check' | translate}}</div>
                </td>
                <td class="table-tr">{{payment.referenceNumber}}</td>
                <td class="table-tr">{{getPartialPayment(payment, invoice) | currency : "USD $"}}</td>
                <td class="table-tr">
                  <div class="d-flex flex-row justify-content-around">
                    <div ngbDropdown class="d-inline-block dropdown">
                      <button class="btn btn-dropdown-main" ngbDropdownToggle>{{ 'Actions' | translate }}</button>
                      <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="openModal(invoice,'view', payment)">
                          <i class="fa fa-eye"></i> {{ 'View Payment' | translate }}
                        </button>
                        <button class="dropdown-item" (click)="openModal(invoice,'edit', payment)" *ngIf="payment.status === 0">
                          <i class="fa fa-edit"></i> {{ 'Edit Payment' | translate }}
                        </button>
                        <button class="dropdown-item" (click)="deletePayment(payment)"> 
                          <i class="fa fa-trash-o"></i> {{ 'Delete Payment' | translate }}
                        </button>
                        <button [hidden]="user.role.idRole != 1" class="dropdown-item" (click)="changeStatus(payment)">
                          <i class="fa fa-cog"></i> {{ 'Change Status' | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-empty" [hidden]="listPayments.length !== 0" translate>
            <p class="no-records">
              {{ 'No records have been added yet' | translate }}
            </p>
          </div>
          <div class="pagination-list" [hidden]="listPayments.length === 0">
            <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="listPaymentsAux.length"
              [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
            </ngb-pagination>
            <span class="count-elements">{{ listPayments.length + ' ' + ('of' | translate) + ' ' +
              listPaymentsAux.length + ' ' + ('register(s)' | translate)
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
