
@import "../../../../styles/spectrum/spectrum";

.molded-lenses-basket {
  //max-height: 630px;
  padding: 2em;
  overflow-y: auto;
  overflow-x: hidden;

  .main-info {
    text-align: center;
  }

  .img-product {
    width: 40%;
    border-radius: 12px;
    margin-top: 1em;
  }

  .display-row {
    display: flex;
    justify-content: space-between;
  }

  .display-price {
    justify-content: center;
  }

  .padding-params {
    padding:  0 2em;
  }

  .params {
    padding-top: 1em;

    .separator {
      margin-bottom: 1em;
    }
  }

  .title {
    font-weight: 600;
  }

  .label-title {
    padding-top: 1.5em;
  }

  .patient-info {
    padding-bottom: 1.5em;
  }

  .eye-info {
    color: $secondary-info;
    padding: 0 2em;
  }

  .align-item{
    text-align: center;
  }

  .specifications {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    .generals {
      display: flex;
    }
  
    .error-quantity {
      color:$error-quantity;
    }
  
    &.btn-box {
      justify-content: flex-start;
    }
  }

  .info-content {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .box-info {
    display: flex;
    flex-wrap: wrap;
  }

  .margin-col {
    margin-left: 1%;
    margin-right: 1%;
  }

  .hand-over {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
  }

  .message-quantity {
    color:$message-quantity;
    font-size: 1rem;
    font-weight: 600;
  }

  .fa-trash {
    margin-right: 10px;
  }
}
