<div *ngIf="product">
  <div class="modal-header">
    <h4 class="modal-title">{{ "Product Detail" | translate }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalReference.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="list-basket body">
    <div class="row">
      <div class="list-basket">
        <!-- Image -->
        <div class="col-lg-12 main-info">
          <div>
            <span class="title">{{ product.name }}</span>
          </div>
          <!-- Image -->
          <div class="label-title">
            <img class="img-product" src="{{ basket.urlImage }}" />
          </div>
          <!-- Patient -->
          <div class="col-lg-12 title label-title patient-info">
            <span>{{ "Patient" | translate }}</span>
            <dl>
              <dt>{{ productRequested.patient }}</dt>
            </dl>
            <dl>
              <dt>{{ subtotal | currency: "USD $" }}</dt>
            </dl>
          </div>
          <div class="col-lg-12 title eye-info">
              <span>{{ detail.eye + ' Eye' | translate }}</span>&nbsp;&nbsp;
          </div>
        </div>
        <!-- PARAMETERS -->
        <div class="col-lg-12">
          <div class="row padding-params">
            <!-- HEADER -->
            <div class="col-sm-4" *ngFor="let parameter of detail.header">
              <dl class="align-item">
                <dt>{{ parameter.name | translate }}</dt>
                <hr class="separators" />
                <dl>
                  <dt
                    *ngIf="
                      parameter.selected !== true &&
                      parameter.selected !== false
                    "
                    class="items"
                  >
                    {{ parameter.selected }}
                  </dt>
                  <dt
                    *ngIf="
                      parameter.selected === true ||
                      parameter.selected === false
                    "
                    class="items"
                  >
                    <span *ngIf="parameter.selected === true">{{
                      "Yes" | translate
                    }}</span>
                    <span *ngIf="parameter.selected === false">{{
                      "No" | translate
                    }}</span>
                  </dt>
                </dl>
              </dl>
            </div>

            <!-- TEST SET-->
            <div class="col-sm-12">
              <div class="parameters">{{ 'Test set' | translate }}</div>
            </div>
            <div class="col-sm-4" *ngFor="let parameter of detail.set">
              <dl class="align-item">
                <dt>{{ parameter.name | translate }}</dt>
                <hr class="separators">
                <dl>
                  <dt class="items">{{ parameter.selected}}</dt>
                </dl>
              </dl>
            </div>

            <!-- PARAMS -->
            <div class="col-sm-12">
              <div class="parameters">{{ "Parameters" | translate }}:</div>
            </div>
            <div class="col-sm-3">
              <dl class="align-item">
                <dt>{{ "Quantity" | translate }}</dt>
                <hr class="separators" />
                <dl>
                  <dt class="items">{{ productRequested.quantity }}</dt>
                </dl>
              </dl>
            </div>
            <div class="col-sm-3" *ngFor="let parameter of detail.parameters">
              <dl class="align-item">
                <dt>{{ parameter.name | translate }}</dt>
                <hr class="separators" />
                <dl>
                  <dt class="items">{{ parameter.selected }}</dt>
                </dl>
              </dl>
            </div>
            <div class="col-sm-12">
              <div class="parameters">{{ "Steps" | translate }}:</div>
            </div>
            <div class="col-sm-12" *ngFor="let parameter of detail.pasos">
              <div class="row padding-params">
                <div class="col-sm-2">
                  <dl class="name-parameters">
                    <dt>
                      {{ parameter.name | translate }}
                      <hr class="separators" />
                    </dt>
                  </dl>
                </div>
                <div class="col-sm-5" *ngFor="let item of parameter.values">
                  <dl>
                    <dt>{{ item.name | translate }}</dt>
                  </dl>
                  <div class="row justify-steps">
                    <div class="col-sm-6" *ngFor="let val of item.values">
                      <dl>
                        <dt class="items">
                          {{ val.name | translate }}:
                          <span *ngIf="val.selected === true">{{
                            "Yes" | translate
                          }}</span>
                          <span *ngIf="val.selected === false">{{
                            "No" | translate
                          }}</span>
                        </dt>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin parameters -->
        <div class="col-lg-12 comments">
          <div class="row padding-params">
            <div class="col-sm-12">
              <dl>
                <dt>{{ "Comments" | translate }}</dt>
                <dl
                  class="comment"
                  *ngIf="
                    productRequested.observations === '' ||
                    productRequested.observations === null
                  "
                >
                  <span translate>{{ "No comments" | translate }}</span>
                </dl>
                <dl *ngIf="productRequested.observations !== ''">
                  <span style="overflow-x: hidden;">
                    {{ productRequested.observations }}</span
                  >
                </dl>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modalReference.dismiss()"
    >
      {{ "Close" | translate }}&nbsp; <i class="fa fa-times"></i>
    </button>
  </div>
</div>
