<div *ngIf="namePatient">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Confirm purchase' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body table-responsive">
    <div class="row">
      <div class="list-basket">
        <div class="col-lg-12">
          <!--Image-->
          <div>
            <img class="img-product" src="assets/images/products/quattro.jpg">
          </div>
          <!--Details-->
          <div>
            <div>
              <span>{{ product.name }} </span>
            </div>
            <div *ngFor="let item of listBasket; let i = index">
              <div class="price h5 text-warning" [hidden]="i===1">
                <h6>{{ item.detail[0].name }}</h6>
              </div>
            </div>
            <div>
              <span>{{ namePatient }}</span>
            </div>
          </div>
        </div>
        <div class="header">
          <div class="row">
            <div class="col-sm-4">{{ 'Parameter' | translate }}</div>
            <div *ngFor="let item of listBasket; let i = index">
              <div *ngFor="let specification of item.detail">
                <span [hidden]="specification.eye==='Left'">
                  {{ 'Eye Right' | translate }}
                </span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span [hidden]="specification.eye==='Right'">
                  {{ 'Eye Left' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--CONTENT INFO-->
        <div class="row content">

          <!--PARAM NAME-->
          <div class="col-sm-4 title">
            <div>
              <dl class="param">
                <dt>{{ 'Quantity' }}:</dt>
              </dl>
            </div>
            <div *ngFor="let parameter of listNameParameters">
              <dl class="param">
                <dt>{{ parameter.name }}:</dt>
              </dl>
            </div>
          </div>
          <!--EYE RIGHT-->
          <div class="col-sm-2 title">
            <div class="col-lg-2 title" *ngFor="let item of listBasket">
              <div *ngFor="let specification of item.detail">
                <div [hidden]="specification.eye==='Left'">
                  <dl class="param">
                    <dt>{{ item.quantity }}</dt>
                  </dl>
                  <div *ngFor="let param of specification.parameters">
                    <dl class="param">
                      <dt>{{ param.selected }}</dt>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--EYE LEFT-->
          <div class="col-sm-2 title">
            <div class="col-lg-2 title" *ngFor="let item of listBasket">
              <div *ngFor="let specification of item.detail">
                <div [hidden]="specification.eye==='Right'">
                  <dl class="param">
                    <dt>{{ item.quantity }}</dt>
                  </dl>
                  <div *ngFor="let param of specification.parameters">
                    <dl class="param">
                      <dt>{{ param.selected }}</dt>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalReference.dismiss()">{{ 'Cancel' | translate }}&nbsp;
      <i class="fa fa-times"></i>
    </button>
    <button type="button" class="btn btn-main" (click)="save()">{{ 'Save' | translate }}&nbsp;
      <i class="fa fa-save"></i>
    </button>
  </div>
  <ng-template #rt let-r="result" let-t="term">
    {{ r.description}}
  </ng-template>
</div>
