<div class="row page-header-fixed">
	<div class="header-body">
		<h4 class="page-header">
			{{ 'Customer\'s Invoices List' | translate }}
		</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
			</li>
			<li class="breadcrumb-item active">
				<i class="fa fa-folder-open"></i> {{ 'Customer\'s Invoices List' | translate}}</li>
		</ol>
	</div>
</div>
<div class="sp-container">
  <div class="row body-fixed">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            {{ 'All customers invoices' | translate }}
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 filter">
            <div class="row search margin">
              <div class="col col-xl-12 col-lg-12">
                <input [(ngModel)]="search" class="form-control" (keyup)="getItems($event)" placeholder="{{'Enter search' | translate }}">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
           <div class="col-xl-3 filter search">
            <select class="form-control" name="selectedStatus" id="selectedStatus" [(ngModel)]="selectedStatus" (change)="filter()">
              <option value="" disabled [selected]="true" translate>Select status</option>
              <option *ngFor="let status of filterStatus" value="{{status.id}}">{{ status.name | translate }}</option>
            </select>
          </div>
          <div class="col-xl-3 filter">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fechaSelec" [(ngModel)]="fechaSelec" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="filter1(fechaSelec)">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
          </div>

          <div class="col-xl-2 btn-clean">
            <button class="btn btn-outline-secondary" translate [hidden]="!valid1" (click)="clean()">Clean Filters</button>
          </div>
        </div>
        <div class="row margin">
          <div class="col-xl-2 btn-clean">
            <button class="btn btn-outline-secondary" translate [hidden]="!valid" (click)="openModal(null, 'bulk', null)">Bulk Payments</button>
          </div>
        </div>
          <div class="card-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="table-tr header-column">
                    <div class="custom-control custom-checkbox">
                      <input id="checkboxAll" type="checkbox" name="checkboxGroupAll" [(ngModel)]="selectedAll" (click)="onSelectionAll($event)" [checked]="selectedAll"
                            class="custom-control-input">
                      <label class="custom-control-label select-all" for="checkboxAll"></label>
                    </div>
                  </th>
                  <th class="table-tr header-column">
                    <span title="{{ 'Status' | translate }}">{{ 'Status' | translate }}
                      <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('status')"></i>
                    </span>
                    <span [hidden]="orderByField != 'status' || typeSort === 0">
                      <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('status')"></i>
                      <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('status')"></i>
                    </span>
                  </th>
                  <th class="table-tr header-column">
                    <span title="{{ 'Invoice No' | translate }}">{{ 'Invoice No' | translate }}
                      <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('number')"></i>
                    </span>
                    <span [hidden]="orderByField != 'number' || typeSort === 0">
                      <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('number')"></i>
                      <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('number')"></i>
                    </span>
                  </th>
                  <th class="table-tr header-column">
                    <span title="{{ 'Invoice Date' | translate }}">{{ 'Date' | translate }}
                      <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('date')"></i>
                    </span>
                    <span [hidden]="orderByField != 'date' || typeSort === 0">
                      <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('date')"></i>
                      <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('date')"></i>
                    </span>
                  </th>
                  <th class="table-tr header-column">
                    <span title="{{ 'Due Date' | translate }}">{{ 'Due Date' | translate }}
                      <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('dueDate')"></i>
                    </span>
                    <span [hidden]="orderByField != 'date' || typeSort === 0">
                      <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('dueDate')"></i>
                      <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('dueDdate')"></i>
                    </span>
                  </th>
                  <th class="table-tr header-column">
                    <span title="{{ 'Customer' | translate }}">{{ 'Customer' | translate }}
                      <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('client')"></i>
                    </span>
                    <span [hidden]="orderByField != 'client' || typeSort === 0">
                      <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('client')"></i>
                      <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('client')"></i>
                    </span>
                  </th>
                  <th class="table-tr header-column">
                    <span title="{{ 'Amount Due' | translate }}">{{ 'Amount Due' | translate }}
                      <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('amountDue')"></i>
                    </span>
                    <span [hidden]="orderByField != 'amountDue' || typeSort === 0">
                      <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('amountDue')"></i>
                      <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('amountDue')"></i>
                    </span>
                  </th>
                  <th class="table-tr header-column">
                    <span title="{{ 'Total' | translate }}">{{ 'Total' | translate }}
                      <i title="Sort" [hidden]="typeSort !== 0" class="fa fa-sort" (click)="reverseSort = !reverseSort; sortInvoice('total')"></i>
                    </span>
                    <span [hidden]="orderByField != 'total' || typeSort === 0">
                      <i title="Ascendente" [hidden]="typeSort !== 1" class="fa fa-sort-down" (click)="reverseSort = !reverseSort; sortInvoice('total')"></i>
                      <i title="Descendente" [hidden]="typeSort !== 2" class="fa fa-sort-up" (click)="reverseSort = !reverseSort; sortInvoice('total')"></i>
                    </span>
                  </th>
                  <th class="table-tr"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of listInvoices; let i = index">
                  <td class="table-tr td-table">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="checkbox{{i}}" name="checkboxGroup" [value]="invoice.idInvoice" [(ngModel)]="invoice.checked" (change)="onSelection(invoice.idInvoice,invoice.checked)"
                            class="custom-control-input">
                      <label class="custom-control-label" for="checkbox{{i}}"></label>
                    </div>
                    <h1>{{invoice.marcado}}</h1>
                  </td>
                  <td *ngIf="invoice.status === 0" class="table-tr" class="active">
                    <div>{{'Unpaid' | translate}}</div>
                  </td>
                  <td *ngIf="invoice.status === 1" class="table-tr" class="inactive">
                    <div>{{'Part Paid' | translate }}</div>
                  </td>
                  <td *ngIf="invoice.status === 2" class="table-tr" class="inactive">
                    <div>{{'Paid' | translate }}</div>
                  </td>
                  <td *ngIf="invoice.status === 3" class="table-tr" class="inactive">
                    <div>{{'Overdue' | translate }}</div>
                  </td>
                  <td class="table-tr td-table">{{invoice.number}}</td>
                  <td class="table-tr td-table">{{invoice.date  | date:'yyyy-MM-dd'}}</td>
                  <td class="table-tr td-table">{{invoice.dueDate  | date:'yyyy-MM-dd'}}</td>
                  <td class="table-tr">{{invoice.user.name}}</td>
                  <td class="table-tr">{{invoice.due | currency : "USD $"}}</td>
                  <td class="table-tr">{{invoice.total | currency : "USD $"}}</td>
                  <td class="table-tr">
                    <div class="d-flex flex-row justify-content-around">
                      <div ngbDropdown class="d-inline-block dropdown">
                        <button class="btn btn-dropdown-main" ngbDropdownToggle>{{ 'Actions' | translate }}</button>
                        <div ngbDropdownMenu>
                          <button class="dropdown-item" (click)="open(invoice)">
                            <i class="fa fa-credit-card"></i> {{ 'Payments' | translate }}</button>
                          <button class="dropdown-item" (click)="downloadInvoice(invoice)">
                            <i class="fa fa-download"></i> {{ 'Download' | translate }}</button>
                          <button class="dropdown-item" (click)="delete(invoice)">
                            <i class="fa fa-trash"></i> {{ 'Delete' | translate }}</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="table-empty" [hidden]="listInvoices.length !== 0" translate>
              <p class="no-records">
                {{ 'No records have been added yet' | translate }}
              </p>
            </div>
            <div class="pagination-list" [hidden]="listInvoices.length === 0">
              <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="listInvoicesAux.length"
                [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
              </ngb-pagination>
              <span class="count-elements">{{ listInvoices.length + ' ' + ('of' | translate) + ' ' + listInvoicesAux.length + ' ' + ('register(s)' | translate)
                }}
              </span>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
