<br>
<br>
<br>
<div class="info-breadcrumbs">
  <app-page-header class="info-top" [heading]="'Product Details'" [icon]="'fa-edit'"></app-page-header>
  <br>
  <a routerLink="/products/{{product.id}}/product-view">
    <i class="fa fa-arrow-left">&nbsp;&nbsp;{{ 'Back' | translate }}</i>
  </a>
</div>
<div class="container">
  <!-- card.// -->
  <div class="card">
    <div class="card-body">
      <ngb-tabset>
        <ngb-tab  *ngFor="let type of product.types" >
          <ng-template ngbTabTitle>
            <div (click)="setParameters(type)">
              <label>{{ type.name }}</label>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            <!-- item-property-hor .// -->
            <dl class="param param-feature">
              <br>
              <dt>{{ 'Parameters' | translate }}</dt>
              <dd>
                <div *ngFor="let parameter of parameters" class="col-sm-6">
                  <div *ngIf="parameter.values.length > 0">
                    <label class="form-check-label">{{ parameter.name }}:</label>&nbsp;&nbsp;

                    <!--One value in list values -->
                    <div *ngIf="parameter.type === 'number'">
                      <select class="form-control" name="value" (change)="parameter.selected = $event.target.value">
                        <option *ngFor="let value of parameter.values">{{ value }}</option>
                      </select>
                    </div>
  
                    <div *ngIf="parameter.type === 'radio'" >
                      <div *ngFor="let value of parameter.values" class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="{{ value.name }}"
                              [checked]="value.selected === true" (click)="setValueRadio(value, parameter.values)">
                        <label class="custom-control-label" for="{{ value.name }}">{{ value.name }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </dd>
              <br>
              <!-- colors -->
              <dt>{{ 'Colors' | translate }}</dt>
              <dd>
                <div class="custom-control custom-radio" name="colors" *ngFor="let color of product.colors">
                  <input type="radio" id="{{ color.name }}" name="colors" class="custom-control-input"
                          [checked]="color.selected === true" (click)="setColor(color)">
                  <label class="custom-control-label" for="{{ color.name }}">{{ color.name }}</label>
                </div>
              </dd>
            </dl>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<!--container.//-->

<br>
<br>
<br>