<br>
<br>
<br>
<div class="info-breadcrumbs" *ngIf="product">
  <app-page-header class="info-top" [heading]="'Product Details'" [icon]="'fa-edit'"></app-page-header>
  <br>
  <a routerLink="/products/{{id}}/product-view">
    <i class="fa fa-arrow-left">&nbsp;&nbsp;{{ 'Back' | translate }}</i>
  </a>
</div>
<div class="padding-detail" *ngIf="product">
  <br>
  <h4>Complete the specifications of your product <strong>{{ product.name }}</strong></h4>
  <br>
  <!-- card.// -->
  <div class="card">
    <div class="card-body">
      <!--RIGHT-LEFT EYE-->
      <div class="col-md-6" *ngFor="let eye of eyes">
        <h3 class="label-eye">{{eye.name}}</h3>
        <ngb-tabset>
          <ngb-tab *ngFor="let type of product.types">
            <ng-template ngbTabTitle>
              <div (click)="setParameters(type, eye.type)">
                <label>{{ type.name }}</label>
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- item-property-hor .// -->
              <dl class="param param-feature">
                <br>
                <dt>{{ 'Parameters' | translate }}</dt>
                <dd>
                  <div *ngFor="let parameter of getParameters(type)" class="col-sm-12">
                    <div *ngIf="parameter.values && parameter.values.length > 0">
                      <label class="form-check-label">{{ parameter.name }}:</label>&nbsp;&nbsp;
                      <!--One value in list values -->
                      <div *ngIf="parameter.type === 'number'">
                        <select class="form-control" name="value" (change)="changeSelect(eye.type, parameter, $event.target.value)">
                          <option value="">{{ 'Select option' }}</option>
                          <option *ngFor="let value of parameter.values">{{ value }}</option>
                        </select>
                      </div>
                      <div *ngIf="parameter.type === 'radio'">
                        <div *ngFor="let value of parameter.values" class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" id="{{ value.name + eye.type }}" [checked]="checkedRadio(eye.type, value)" (click)="setValueRadio(eye.type, value, parameter)">
                          <label class="custom-control-label" for="{{ value.name + eye.type }}">{{ value.name }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
                <br>
              </dl>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="btn-save">
    <a (click)="buyNow()" class="btn btn-lg btn-primary text-uppercase">Confirm Buy</a>&nbsp;
  </div>
</div>
<!--container.//-->
<br>
<br>
<br>
