@import '../../../../styles/spectrum/spectrum';

.product-info {
  padding-top: 2em;

  .item-properties {
    img {
      width: 30px;
      cursor: pointer;
    }
  }
  
  .info-content {
    margin-left: 0;
    margin-bottom: 0px;
  }
}

.title {
  font-weight: 600;
}
