<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<div class="list-group">
		<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
		</a>
		<a routerLink="/products" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-archive"></i>&nbsp;{{ 'Products' | translate }}
		</a>
		<!--USER MENU-->
		<div *ngIf="user.role.idRole === 3">
			<!--<div>-->
			<div class="nested-menu">
				<a class="list-group-item" (click)="addExpandClass('account')" [routerLinkActive]="['router-link-active']">
					<span>
						<i class="fa fa-user"></i>&nbsp; {{ 'Your Account' | translate }}</span>
				</a>
				<li class="nested" [class.expand]="showMenu === 'account'">
					<ul class="submenu">
						<li>
							<a routerLink="/profile" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-user-circle"></i>&nbsp; {{ 'Your Profile' | translate }}</span>
							</a>
						</li>
						<li>
							<a routerLink="/shipping-address" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-truck"></i>&nbsp; {{ 'Your Shipping Addresses' | translate }}</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span>
									<i class="fa fa-credit-card"></i>&nbsp; {{ 'Your Payments' | translate }}</span>
							</a>
            </li>
            <!--
						<li>
							<a href="javascript:void(0)">
								<span>
									<i class="fa fa-tasks"></i>&nbsp; {{ 'Activity' | translate }}</span>
							</a>
            </li>
            -->
					</ul>
				</li>
			</div>
			<div class="nested-menu">
				<a class="list-group-item" (click)="addExpandClass('order')" [routerLinkActive]="['router-link-active']">
					<span>
						<i class="fa fa-folder-open"></i>&nbsp; {{ 'Your Orders' | translate }}</span>
				</a>
				<li class="nested" [class.expand]="showMenu === 'order'">
					<ul class="submenu">
            <li>
              <a routerLink="/products" [routerLinkActive]="['router-link-active']">
                <span>
                <i class="fa fa-file"></i>&nbsp; {{ 'New Order' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/order-list-client']" [queryParams]="{status: 0}" [routerLinkActive]="['router-link-active']">
                <span>
                <i class="fa fa-file"></i>&nbsp; {{ 'Pending Orders' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/order-list-client']" [queryParams]="{status: 1}" [routerLinkActive]="['router-link-active']">
                <span>
                <i class="fa fa-file"></i>&nbsp; {{ 'Processed Orders' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/order-list-client']" [queryParams]="{status: 2}" [routerLinkActive]="['router-link-active']">
                <span>
                <i class="fa fa-file"></i>&nbsp; {{ 'Ready to Ship Orders' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/order-list-client']" [queryParams]="{status: 3}" [routerLinkActive]="['router-link-active']">
                <span>
                  <i class="fa fa-file"></i>&nbsp; {{ 'Shipped Orders' | translate }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" [routerLinkActive]="['router-link-active']">
                <span>
                  <i class="fa fa-credit-card"></i>&nbsp; {{ 'Verify Payment' | translate }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" [routerLinkActive]="['router-link-active']">
                <span>
                  <i class="fa fa-money"></i>&nbsp; {{ 'Add Payment' | translate }}</span>
              </a>
            </li>
						<li>
							<a href="javascript:void(0)" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-exclamation-triangle"></i>&nbsp; {{ 'Report a Problem' | translate }}</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div class="nested-menu">
				<a  routerLink="/warranty" [routerLinkActive]="['router-link-active']" class="list-group-item">
					<span>
						<i class="fa fa-certificate"></i>&nbsp; {{ 'Manage Warranties' | translate }}</span>
				</a>
			</div>
		</div>

		<!--ADMIN MENU-->
		<div *ngIf="user.role.idRole === 1">
			<!--<div>-->
			<!--<a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-tags"></i>&nbsp;{{ 'Product categories' | translate }}
			</a>-->
			<a routerLink="/profile" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-user"></i>&nbsp; {{ 'Profile' | translate }}
			</a>
			<a [routerLink]="['/business-type']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<span>
					<i class="fa fa-building"></i>&nbsp; {{ 'Business Type' | translate }}</span>
			</a>
			<a routerLink="/suppliers" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-archive"></i>&nbsp;{{ 'Manage Suppliers' | translate }}
			</a>
			<div class="nested-menu">
				<a class="list-group-item" [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
					<span>
						<i class="fa fa-users"></i>&nbsp; {{ 'Manage Customers' | translate }}</span>
				</a>
				<!--<li class="nested" [class.expand]="showMenu === 'users'">
					<ul class="submenu">
						<li>
							<a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
								<span>
									<i class="fa fa-user-plus"></i>&nbsp; {{ 'New Account' | translate }}</span>
							</a>
						</li>
						<li>
							<a [routerLink]="['/consult-account']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
								<span>
									<i class="fa fa-eye"></i>&nbsp; {{ 'Consult Account' | translate }}</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span>
									<i class="fa fa-money"></i>&nbsp; {{ 'Consult Payments' | translate }}</span>
							</a>
						</li>
					</ul>
				</li>-->
			</div>
			<div class="nested-menu">
				<a class="list-group-item" [routerLink]="['/seller']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
					<span>
						<i class="fa fa-shopping-bag"></i>&nbsp; {{ 'Manage Sellers' | translate }}</span>
				</a>
				<!--<li class="nested" [class.expand]="showMenu === 'sellers'">
					<ul class="submenu">
						<li>
							<a [routerLink]="['/seller']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
								<span>
									<i class="fa fa-user-plus"></i>&nbsp; {{ 'New Seller' | translate }}</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span>
									<i class="fa fa-random"></i>&nbsp; {{ 'Assign Seller' | translate }}</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span>
									<i class="fa fa-eye"></i>&nbsp; {{ 'Consult Seller' | translate }}</span>
							</a>
						</li>
					</ul>
				</li>-->
			</div>
			<div class="nested-menu">
				<a [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="addExpandClass('orders')">
          <span>
            <i class="fa fa-folder-open"></i>&nbsp; {{ 'Manage Orders' | translate }}</span>
				</a>
				<li class="nested" [class.expand]="showMenu === 'orders'">
					<ul class="submenu">
						<li>
							<a routerLink="/products" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-file"></i>&nbsp; {{ 'New Order' | translate }}</span>
							</a>
            </li>
            <li>
							<a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 0}" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-file"></i>&nbsp; {{ 'Pending Orders' | translate }}</span>
							</a>
            </li>
            <li>
							<a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 1}" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-file"></i>&nbsp; {{ 'Processed Orders' | translate }}</span>
							</a>
            </li>
            <li>
							<a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 2}" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
								<span>
									<i class="fa fa-file"></i>&nbsp; {{ 'Ready to Ship Orders' | translate }}</span>
							</a>
            </li>
            <li>
							<a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 3}" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
								<span>
									<i class="fa fa-file"></i>&nbsp; {{ 'Shipped Orders' | translate }}</span>
							</a>
						</li>
            <li>
							<a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 4}" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
								<span>
									<i class="fa fa-times"></i>&nbsp; {{ 'Canceled Orders' | translate }}</span>
							</a>
            </li>
						<li>
							<a href="javascript:void(0)" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-credit-card"></i>&nbsp; {{ 'Verify Payment' | translate }}</span>
							</a>
            </li>
            <!--
						<li>
							<a href="javascript:void(0)">
								<span>
									<i class="fa fa-check"></i>&nbsp; {{ 'Resolve Problem' | translate }}</span>
							</a>
            </li>
            -->

						<li>
							<a href="javascript:void(0)" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-money"></i>&nbsp; {{ 'Add Payment' | translate }}</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div class="nested-menu">
				<a  routerLink="/invoice" [routerLinkActive]="['router-link-active']" class="list-group-item">
					<span>
						<i class="fa fa-file"></i>&nbsp; {{ 'Manage Invoices' | translate }}</span>
				</a>
      </div>
      <div class="nested-menu">
				<a  routerLink="/payments" [routerLinkActive]="['router-link-active']" class="list-group-item">
					<span>
						<i class="fa fa-money"></i>&nbsp; {{ 'Manage Payments' | translate }}</span>
				</a>
			</div>
			<div class="nested-menu">
				<a  routerLink="/warranty" [routerLinkActive]="['router-link-active']" class="list-group-item">
					<span>
						<i class="fa fa-certificate"></i>&nbsp; {{ 'Manage Warranties' | translate }}</span>
				</a>
			</div>
		</div>

		<!--SELLER MENU-->
		<div *ngIf="user.role.idRole === 2">
			<div>
				<a routerLink="/profile" [routerLinkActive]="['router-link-active']" class="list-group-item">
					<i class="fa fa-user"></i>&nbsp; {{ 'Profile' | translate }}
				</a>
				<div class="nested-menu">
					<a class="list-group-item" [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
						<span>
							<i class="fa fa-users"></i>&nbsp; {{ 'Manage Customers' | translate }}</span>
					</a>
					<!--<li class="nested" [class.expand]="showMenu === 'users'">
						<ul class="submenu">
							<li>
								<a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
									<span>
										<i class="fa fa-user-plus"></i>&nbsp; {{ 'New Account' | translate }}</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<span>
										<i class="fa fa-eye"></i>&nbsp; {{ 'Consult Account' | translate }}</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<span>
										<i class="fa fa-money"></i>&nbsp; {{ 'Consult Payments' | translate }}</span>
								</a>
							</li>
						</ul>
					</li>-->
				</div>
				<div class="nested-menu">
					<a class="list-group-item" (click)="addExpandClass('orders')">
						<span>
							<i class="fa fa-folder-open"></i>&nbsp; {{ 'Manage Orders' | translate }}</span>
					</a>
          <li class="nested" [class.expand]="showMenu === 'orders'">
            <ul class="submenu">
              <li>
                <a routerLink="/products" [routerLinkActive]="['router-link-active']">
                  <span>
                    <i class="fa fa-file"></i>&nbsp; {{ 'New Order' | translate }}</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 0}" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
                  <span>
                    <i class="fa fa-file"></i>&nbsp; {{ 'Pending Orders' | translate }}</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 1}" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
                  <span>
                    <i class="fa fa-file"></i>&nbsp; {{ 'Processed Orders' | translate }}</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 2}" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
                  <span>
                    <i class="fa fa-file"></i>&nbsp; {{ 'Ready to Ship Orders' | translate }}</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/order-list-client-byseller']" [queryParams]="{status: 3}" [routerLinkActive]="['router-link-active']" href="javascript:void(0)">
                  <span>
                    <i class="fa fa-file"></i>&nbsp; {{ 'Shipped Orders' | translate }}</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span>
                    <i class="fa fa-credit-card"></i>&nbsp; {{ 'Verify Payment' | translate }}</span>
                </a>
              </li>
              <!--
              <li>
                <a href="javascript:void(0)">
                  <span>
                    <i class="fa fa-check"></i>&nbsp; {{ 'Resolve Problem' | translate }}</span>
                </a>
              </li>
              -->

              <li>
                <a href="javascript:void(0)">
                  <span>
                    <i class="fa fa-money"></i>&nbsp; {{ 'Add Payment' | translate }}</span>
                </a>
              </li>
            </ul>
          </li>
				</div>
				<div class="nested-menu">
					<a  routerLink="/warranty" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span>
              <i class="fa fa-certificate"></i>&nbsp; {{ 'Manage Warranties' | translate }}</span>
          </a>
				</div>
			</div>
		</div>

		<!--
		<a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
    </a>
		<a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
		</a>
		<a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
		</a>
		<a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
		</a>
		<a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
		</a>
		<a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
		</a>
		<div class="nested-menu">
			<a class="list-group-item" (click)="addExpandClass('pages')">
				<span>
					<i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
			</a>
			<li class="nested" [class.expand]="showMenu === 'pages'">
				<ul class="submenu">
					<li>
						<a href="javascript:void(0)">
							<span>{{ 'Submenu' | translate }}</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<span>{{ 'Submenu' | translate }}</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<span>{{ 'Submenu' | translate }}</span>
						</a>
					</li>
				</ul>
			</li>
		</div>
		<a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
		</a>
		<a class="list-group-item more-themes" href="http://www.strapui.com/">
			{{ 'More Theme' | translate }}
		</a>
		-->
		<div class="header-fields">
			<a (click)="rltAndLtr()" class="list-group-item">
				<span>
					<i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
			</a>
			<div class="nested-menu">
				<a class="list-group-item" (click)="addExpandClass('languages')">
					<span>
						<i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }}
						<b class="caret"></b>
					</span>
				</a>
				<li class="nested" [class.expand]="showMenu === 'languages'">
					<ul class="submenu">
						<li>
							<a href="javascript:void(0)" (click)="changeLang('en')">
								{{ 'English' | translate }}
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="changeLang('fr')">
								{{ 'French' | translate }}
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="changeLang('ur')">
								{{ 'Urdu' | translate }}
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="changeLang('es')">
								{{ 'Spanish' | translate }}
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="changeLang('it')">
								{{ 'Italian' | translate }}
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="changeLang('fa')">
								{{ 'Farsi' | translate }}
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="changeLang('de')">
								{{ 'German' | translate }}
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div class="nested-menu">
				<a class="list-group-item" (click)="addExpandClass('profile')">
					<span>
						<i class="fa fa-user"></i>&nbsp; John Smith</span>
				</a>
				<li class="nested" [class.expand]="showMenu === 'profile'">
					<ul class="submenu">
						<li>
							<a routerLink="/profile" [routerLinkActive]="['router-link-active']">
								<span>
									<i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span>
									<i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span>
									<i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
							</a>
						</li>
						<li>
							<a [routerLink]="['/login']" (click)="onLoggedout()">
								<span>
									<i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
		</div>
	</div>
</nav>
