<div class="modal-header">
  <h4 class="modal-title">{{ 'Product detail' | translate }}</h4>
  <button type="button" class="close close-modal" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true"> &times; </span>
  </button>
</div>
<div class="content">
  <div class="modal-body">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-xl-6">
                <fieldset class="form-group">
                  <label>{{ 'Name' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'Enter product name' | translate }}" name="name" formControlName="name"
                    required>
                </fieldset>
                <div class="message-error" [hidden]="name.valid || name.pristine">
                  <span>{{ 'Name is required' | translate }}</span>
                </div>
              </div>
              <div class="col-xl-6">
                <fieldset class="form-group">
                  <label>{{ 'Description' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'Enter description' | translate }}" name="description" formControlName="description" required>
                </fieldset>
                <div class="message-error" [hidden]="description.valid || description.pristine">
                  <span>{{ 'Description is required' | translate }}</span>
                </div>
              </div>
              <div class="col-xl-6">
                <fieldset class="form-group">
                  <label>{{ 'Price Base' | translate }}</label>
                  <input type="number" class="form-control" placeholder="{{ 'Enter price base' | translate }}" name="price_base" formControlName="price_base">
                </fieldset>
                <div class="message-error" [hidden]="price_base.valid || price_base.pristine">
                  <span>{{ 'Price base is required' | translate }}</span>
                </div>
              </div>
              <div class="col-xl-6">
                <fieldset class="form-group">
                  <label>{{ 'Price 1' | translate }}</label>
                  <input type="number" class="form-control" placeholder="{{ 'Enter price 1' | translate }}" name="price1" formControlName="price1">
                </fieldset>
                <div class="message-error" [hidden]="price1.valid || price1.pristine">
                  <span>{{ 'Price 1 is required' | translate }}</span>
                </div>
              </div>
              <div class="col-xl-6">
                <fieldset class="form-group">
                  <label>{{ 'Price 2' | translate }}</label>
                  <input type="number" class="form-control" placeholder="{{ 'Enter price 2' | translate }}" name="price2" formControlName="price2">
                </fieldset>
                <div class="message-error" [hidden]="price2.valid || price2.pristine">
                  <span>{{ 'Price 2 is required' | translate }}</span>
                </div>
              </div>
              <div class="col-xl-6">
                <fieldset class="form-group">
                  <label>{{ 'Price 3' | translate }}</label>
                  <input type="number" class="form-control" placeholder="{{ 'Enter price 3' | translate }}" name="price3" formControlName="price3">
                </fieldset>
                <div class="message-error" [hidden]="price3.valid || price3.pristine">
                  <span>{{ 'Price 3 is required' | translate }}</span>
                </div>
              </div>

              <!-- <div class="col-xl-6">
                <fieldset class="form-group">
                  <label>{{ 'Status' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'Enter state' | translate }}" name="status" formControlName="status" required>
                </fieldset>
                <div class="message-error" [hidden]="status.valid || status.pristine">
                  <span>{{ 'Status is required' | translate }}</span>
                </div>
              </div> -->
        </div>
    </form>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" class="btn btn-main" (click)="save()">{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>
