@import "../../../../../styles/spectrum/spectrum";

.content {
  overflow-y: auto;
  max-height: 600px;

  h5 {
    font-weight: 600;
  }

  .spinner {
    width: 50px;
    height: 50px;
    top: 62px;
    left: 340px;

    > div {
      width: 10px;
      height: 10px;
    }
  }
}

.status {
  display: flex;
  >div:nth-child(2) {
    margin-left: 30px;
  }
}

.label-prices{
  color: $color-gray;
  padding-left: 1em;
  padding-top: 5px;
}
