<div class="row header-params">
  <!-- row (parameters right) -->
  <div class="col-lg-12 custom-control custom-checkbox">
    <!--header-->
    <input id="right" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('right')"
      class="custom-control-input">
    <label class="custom-control-label" for="right">{{ 'OD' }}</label>
    <!--<div class="title">{{ 'Parameters' | translate }}</div>-->
    <div class="row  p-3">
      <!--quantity right-->
      <div class="col-lg-2 margin-col padding-col">
        <div class="row">
          <label class="form-check-label">{{ 'Quantity' | translate }}</label>
        </div>
        <div class="row">
          <div class="col-sm-12 pl-0">
            <input class="form-control" type="number" step=1 min="1" [(ngModel)]="product.quantityRight" oninput="validity.valid||(value='');"
            [disabled]="!product.eyeRight" [required]="product.eyeRight">
          </div>
        </div>
      </div>
      <div class="col-lg-2 margin-col padding-col pb-3" *ngFor="let parameter of parameters">
        <div class="row">
          <label class="form-check-label">{{ parameter.name | translate }}</label>&nbsp;&nbsp;
        </div>
        <div class="row" [ngSwitch]="parameter.type">
          <div *ngSwitchCase="'selected'" class="select-values col-sm-12 pl-0">
            <ng-select>
                <ng-option >{{ 'item'  | translate }}</ng-option>
            </ng-select>
          </div>
          <div *ngSwitchCase="'input'" class="select-values col-sm-12 pl-0">
            <input class="form-control" type="text"/>
          </div>
      </div>
    </div>
  </div>
</div>