<div class="col-lg-12">
  <div class="row padding-params display-edit" *ngIf="valueStatus === 0 && user.role.idRole !== 2 && valueClient !== 2">
    <button type="button" (click)="openEdit()" class="edit btn btn-outline-primary" translate>
      Edit
    </button>
  </div>
  <ngb-tabset>
    <ngb-tab title="{{'Technical specifications'| translate}}">
      <ng-template ngbTabContent>
        <div class="card-body table-responsive">
          <div *ngFor="let specification of lista.detail">
            <div class="d-flex flex-lg-wrap">
              <div class="col-sm-3" *ngFor="let param of specification.parameters">
                <dl class="align-item">
                  <dt>{{param.name  | translate }}</dt>
                  <dt>
                    <span class="font-text"> {{param.selected}}</span>
                    <hr>
                  </dt>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="lista.observations !==null" title="{{'Comments'| translate}}">
      <ng-template ngbTabContent>
        <div class="card-body table-responsive">
          <div class="row justify-content-md-center div-parametros">
            <div class="col-sm-12">
              <dl class="font-text" *ngIf="lista.observations ==='' || lista.observations ===null">
                <span translate>{{'No comments' | translate}}</span>
              </dl>
              <dl>
                <dt *ngIf="lista.observations !==''">
                  <span class="font-text">{{lista.observations}}</span>
                </dt>
              </dl>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
