<div class="row page-header-fixed">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Orders List' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/order-list-client']" [queryParams]="{status: order.status}">
          <i class="fa fa-folder-open"></i> {{ 'Orders List' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-folder-open"></i> {{ 'Order' | translate}}</li>
    </ol>
  </div>
</div>
<div class="sp-container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header d-flex">
          <div class="align-self-center">
            <div class="card-header">{{ 'Order Details' | translate }}</div>
          </div>
          <div class="align-btn-detail">
            <button [hidden]="!download" type="button" class="btn btn-success btn-xs" (click)="downloadOrder(order)" translate>
              <span class="fa fa-download"></span> Download Order
            </button>
          </div>
        </div>
        <div class="div-order">{{'Ordered on'| translate}} {{order.date | date:'mediumDate'}}
          <span>|</span>
          {{'Order#'| translate}} {{order? order.number:''}}
        </div>
        <br>
        <div class="container pp rounded">
          <div class="row justify-content-md-center order-summary">
            <div class="col-md-6">
              <p class="font-weight-bold text-left">{{'Shipping Addresses'| translate}}</p>
              <span class="font-weight-bold">{{'Name' | translate }}:</span>&nbsp;
              <span>{{order? order.nameUser:''}}</span>
              <br>
              <span class="font-weight-bold">{{'Address' | translate }}:</span>&nbsp;
              <span>{{order.address? order.address.name:''}}</span>
              <br>
              <span class="font-weight-bold">{{'City' | translate }}:</span>&nbsp;
              <span>{{order.address? order.address.city:''}}</span>
              <br>
              <span class="font-weight-bold">{{'State' | translate }}:</span>&nbsp;
              <span>{{order.address? order.address.state:''}}</span>
              <br>
              <span class="font-weight-bold">{{'Country' | translate }}:</span>&nbsp;
              <span>{{order.address? (order.address.country? (order.address.country.name | translate) : '' ):''}}</span>
              <br>
              <br>
            </div>
            <div class="col-md-4 pull-right">
              <p class="font-weight-bold" translate>{{'Order Summary'}}</p>
              <p class="font-weight-normal" translate>{{'Item(s) Subtotal'}}</p>
              <p class="font-weight-bold" translate>{{'Total'}}</p>
            </div>
            <div class="col-md-2">
              <p class="font-weight-bold text-left" translate>{{'Totals'}}</p>
              <p class="font-weight-normal" translate>
                <span>{{ (order? order.subtotal:'') | currency : "USD $" }}</span>
              </p>
              <p class="font-weight-bold text-left">{{ (order? order.total:'') | currency : "USD $" }}</p>
            </div>
          </div>
        </div>
        <div class="card-header products-label" *ngIf="listDetails.length > 0">{{ 'Your Products' | translate }}</div>
        <div class="container product-list" *ngFor="let list of listDetails">
          <hr>
          <div class="row">
            <div class="container-img" [ngClass]="{'col-sm-4': list.productRequested.product.supplier.idSupplier === 4, 'col-sm-3': list.productRequested.product.supplier.idSupplier !== 4}">
                <div class="imag-product" [ngClass]="{'size-image-euclid': list.productRequested.product.father === 'Sapphire Toric','size-image': list.productRequested.product.father !== 'Sapphire Toric' }" [style.backgroundImage]="'url('+ list.urlImage +')'"></div>
            </div>
            <aside  [ngClass]="{'col-sm-8': list.productRequested.product.supplier.idSupplier === 4, 'col-sm-9': list.productRequested.product.supplier.idSupplier !== 4}">
              <article class="card-body p-5">
                <div>
                  <div>
                    <div class="container-list">
                      <div class="div-name">
                        <div>
                          <h3>{{list.productRequested.product.name}} </h3>
                        </div>
                        <div  *ngIf="list.productRequested.detail.length > 0 && list.productRequested.detail[0].name !== ''">
                          <span class="price h5 text-warning">
                            <h3>-({{list.productRequested.detail[0].name}})</h3>
                          </span>
                        </div>
                        <div class="padding-params" *ngIf="order.status === 0 && list.productRequested.product.supplier.idSupplier === 7">
                          <button type="button" (click)="openEdit(list.productRequested, list.urlImage)" class="btn btn-outline-primary" translate>
                            Edit
                          </button>
                        </div>
                        <br>
                        <br>
                      </div>
                      <div class="row" *ngIf="list.productRequested.product.supplier.idSupplier === 4">
                        <div class="col-sm-2">
                          <dl class="align-item">
                            <dt>{{'Customer'| translate}}
                            </dt>
                            <dt>
                              <span class="font-text">{{order.nameUser}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2" [hidden]="order.user.certificationCode === ''">
                          <dl class="align-item">
                            <dt>{{'Certification Code' | translate}}</dt>
                            <dt>
                              <span class="font-text">{{order.user.certificationCode}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2">
                          <dl class="align-item">
                            <dt *ngIf="list.productRequested.detail.length > 0">{{'Eye'| translate}}</dt>
                            <dt>
                              <span *ngIf="list.productRequested.detail.length > 0" class="font-text">{{ list.productRequested.detail[0].eye | translate }}</span>
                            </dt>
                          </dl>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-2" *ngIf="list.productRequested.product.supplier.idSupplier !== 5 ">
                          <dl class="align-item">
                            <dt>{{'Supplier'| translate}}
                            </dt>
                            <dt>
                              <span class="font-text">{{list.productRequested.product.supplier.companyName}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2" [hidden]="list.productRequested.patient === ''  || list.productRequested.patient === null">
                          <dl class="align-item">
                            <dt>{{'Patient'| translate}}</dt>
                            <dt>
                              <span class="font-text">{{list.productRequested.patient}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2" *ngIf="list.productRequested.product.supplier.idSupplier === 4 || list.productRequested.product.supplier.idSupplier == 7" >
                          <dl class="align-item">
                            <dt>{{'Spectrum Code'| translate}}
                            </dt>
                            <dt>
                              <span class="font-text">{{list.productRequested.product.codeSpectrum}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2">
                          <dl class="align-item" *ngIf="list.productRequested.product.supplier.idSupplier !== 4 ">
                            <dt *ngIf="list.productRequested.detail.length > 0 && list.productRequested.detail[0].eye !== ''">{{'Eye'| translate}}</dt>
                            <dt>
                              <span *ngIf="list.productRequested.detail.length > 0" class="font-text">{{list.productRequested.detail[0].eye | translate}}</span>
                            </dt>
                          </dl>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-2" *ngIf="list.productRequested.product.supplier.idSupplier === 5">
                          <dl class="align-item">
                            <dt>{{'Supplier'| translate}}
                            </dt>
                            <dt>
                              <span class="font-text">{{list.productRequested.product.supplier.companyName}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2">
                          <dl class="align-item">
                            <dt [hidden]="list.productRequested.product.supplier.idSupplier === 5">{{'Quantity'| translate}} </dt>
                            <dt *ngIf="list.productRequested.product.supplier.idSupplier === 5">{{'Total Quantity'| translate}} </dt>
                            <dt>
                              <span class="font-text">{{list.productRequested.quantity}}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2 ">
                          <dl class="align-item">
                            <dt>{{'Price'| translate}}</dt>
                            <dt>
                              <span class="font-text">{{ list.productRequested.price | currency : "USD $" }}</span>
                            </dt>
                          </dl>
                        </div>
                        <div class="col-sm-2" *ngIf="list.productRequested.product.supplier.idSupplier !== 5">
                          <dl class="align-item">
                            <dt>{{'Subtotal'| translate}}</dt>
                            <dt>
                              <span>{{ list.productRequested.subtotal | currency : "USD $" }}</span>
                            </dt>
                          </dl>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-2" *ngIf="list.productRequested.product.supplier.idSupplier !== 4 && list.productRequested.product.supplier.idSupplier !== 7">
                            <dl class="align-item">
                              <dt>{{ 'Spectrum code' | translate }}</dt>
                              <dt>
                                <span class="font-text">{{ list.productRequested.product.codeSpectrum }}</span>
                              </dt>
                            </dl>
                          </div>
                          <div class="col-sm-2" *ngIf="list.productRequested.product.supplier.idSupplier === 5">
                              <dl class="align-item">
                                <dt>{{'Subtotal'| translate}}</dt>
                                <dt>
                                  <span>{{ list.productRequested.subtotal | currency : "USD $" }}</span>
                                </dt>
                              </dl>
                            </div>
  
                        </div>
                    </div>
                  </div>
                </div>
              </article>
            </aside>
          </div>
          <!--Markennovy-->
          <app-supplier-markennovy [lista]="list.productRequested" [image]="list.urlImage" [order]="order" (emitEventMarkennovy)="refresh($event)" *ngIf="list.productRequested.product.supplier.idSupplier===1"></app-supplier-markennovy>
          <!--Find Markennovy-->
          <!--Europa-->
          <app-supplier-europa [lista]="list.productRequested" [image]="list.urlImage" [files]="list.fileProductRequestedList" [order]="order" (emitEventEuropa)="refresh($event)" *ngIf="list.productRequested.product.supplier.idSupplier===2"></app-supplier-europa>
          <!--Fin Europa-->
          <!--Lenticon-->
          <app-supplier-lenticon [lista]="list.productRequested" [image]="list.urlImage" [files]="list.fileProductRequestedList" [order]="order" (emitEventLenticon)="refresh($event)"  *ngIf="list.productRequested.product.supplier.idSupplier===3"></app-supplier-lenticon>
          <!--Fin Lenticon-->
          <!--Euclid-->
          <app-supplier-euclid [lista]="list.productRequested" [image]="list.urlImage" [files]="list.fileProductRequestedList" [order]="order" (emitEventEuclid)="refresh($event)" *ngIf="list.productRequested.product.supplier.idSupplier===4"></app-supplier-euclid>
          <!--Fin Euclid-->
          <!--Magic Look-->
          <app-supplier-magic-look [lista]="list.productRequested" [image]="list.urlImage" [order]="order"  (emitEventMagic)="refresh($event)" *ngIf="list.productRequested.product.supplier.idSupplier===5"></app-supplier-magic-look>
          <!--Fin Magic Look-->
          <!--Blue Light-->
          <app-supplier-blue-light [lista]="list.productRequested" [image]="list.urlImage" [order]="order" (emitEventBlue)="refresh($event)" *ngIf="list.productRequested.product.supplier.idSupplier===6"></app-supplier-blue-light>
          <!--Fin Blue Light-->
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <div class="pagination-list" [hidden]="listDetails.length === 0">
        <ngb-pagination class="d-flex justify-content-end" (pageChange)="pageChange($event)" [collectionSize]="listDetailsAux.length"
          [(page)]="advancedPagination" [maxSize]="5" [pageSize]="itemPerPage" [boundaryLinks]="true">
        </ngb-pagination>
        <span class="count-elements">{{ listDetails.length + ' ' + ('of' | translate) + ' ' + listDetailsAux.length + ' ' + ('register(s)' | translate)
          }}
        </span>
      </div>
    </div>
  </div>
</div>
