@import '../../../../styles/spectrum/spectrum';

.content {
  padding: 2em;
  overflow-y: auto;
  overflow-x: hidden;

  .patient-info {
    padding: 0 2em;
    span {
      width: 100%;
    }
  }

  .title {
    text-align: center;
    padding: 2em;
    span {
      font-weight: 600;
      font-size: 1.6em;
    }
  }
}


#consultation-form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;

  .bold {
    font-weight: 600;
  }

  .flex {
    display: flex;
  }

  .owm {
    display: flex;
    padding: 1.2em 0;

    > div:nth-child(1), > div:nth-child(2) {
      width: 25%;
    }

    > div:nth-child(3) {
      width: 50%
    }

    label {
      margin-right: 10px;
    }
  }

  .eyes {
    display: flex;
    text-align: left;
    > div:nth-child(1) {
      padding-right: 20px;
    }
  }

  .multiples-params {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: 100%;
    text-align: left;

    .param-titles {
      display: flex;
      flex-direction: column;
      width: 40%;
    }

    .content-params {
      display: flex;
      flex-wrap: wrap;
      width: 60%;

      .sub-params {
        width: 40%;
        margin: 0.8% 5%;

        .params-checkbox {
          width: 100%;

          > input {
            margin-right: 20px;
          }
        }
      }
    }

    .single-checkbox {
      width: 60%;
      margin-left: 10%;

      > input {
        margin-right: 20px;
      }
    }
  }

  .w-46 {
    text-align: left;
    width: 46%;
  }

  .left {
    text-align: left;
  }

  .half-display {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: left;

    > div {
      width: 46%;
    }

    > div:nth-child(1) {
      margin-right: 5%;
    }
  }
}

.radio-buttons {
  display: flex;

  .name {
    width: 43%;
  }

  .button-space {
    margin-right: 20px;
  }
}


