<div class="modal-header">
  <h4 class="modal-title">{{ 'Information Seller' | translate }}</h4>
  <button type="button" class="close close-modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true"> &times; </span>
  </button>
</div>
<div class="content">
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Full Name' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter name' | translate }}" name="name" formControlName="name" required>
          </fieldset>
          <div class="message-error" [hidden]="name.valid || name.pristine">
            <span>{{ 'Full Name is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Email' | translate }}</label>
            <input type="email" class="form-control" placeholder="{{ 'Enter email' | translate }}" name="email" formControlName="email"
              required>
          </fieldset>
          <div class="message-error" [hidden]="email.pristine">
            <span *ngIf="email.errors && !!email.errors.required">{{'Email is required' | translate }}</span>
            <span *ngIf="email.errors && !!email.errors.email">{{ 'Email is not valid' | translate }}
            </span>
          </div>
        </div>

        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'City' | translate }}</label>
            <input id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" name="city" formControlName="city"
              [inputFormatter]="formatter" (selectItem)="findPlace($event)" #instance="ngbTypeahead" placeholder="{{ 'Enter city' | translate }}"
              required />
          </fieldset>
          <div *ngIf="searching" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="message-error" [hidden]="city.valid || city.pristine">
            <span>{{ 'City is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'State' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter state' | translate }}" name="state" formControlName="state">
          </fieldset>
          <div class="message-error" [hidden]="state.valid || state.pristine">
            <span>{{ 'State is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Country' | translate }}</label>
            <ng-select [items]="listCountries" formControlName="idCountry" notFoundText="{{ 'No country found' | translate }}" [searchable]="false"
              [(ngModel)]="selectedCountry" bindValue="idCountry" placeholder="{{ 'Select country' | translate }}" required>
              <ng-template ng-label-tmp let-item="item">
                <div class="supplier-body">
                  <span>{{ item.name | translate }}</span>
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="supplier-body">
                  <h6 [ngOptionHighlight]="search">{{ item.name | translate }}</h6>
                </div>
              </ng-template>
            </ng-select>
          </fieldset>
          <div class="message-error" [hidden]="idCountry.valid || idCountry.pristine">
            <span>{{ 'Country is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Postal Code' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter postal code' | translate }}" name="postal" formControlName="postal">
          </fieldset>
          <div class="message-error" [hidden]="postal.valid || postal.pristine">
            <span>{{ 'Postal code is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Phone' | translate }}</label>
            <int-phone-prefix name="phone" formControlName="phone" data-toggle="tooltip" data-placement="right" title="{{'Select a country by clicking on the map' | translate }}"></int-phone-prefix>
          </fieldset>
        </div>
        <div class="col-xl-12">
          <fieldset class="form-group">
            <label>{{ 'Address' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter address' | translate }}" name="address" formControlName="address">
          </fieldset>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Does the seller receive commission?' | translate }}</label>
            <div class="col-xl-2" *ngFor="let value of filter; let i = index">
              <div class="custom-control custom-radio">
                <input type="radio" id="radioGroup{{i}}" name="radioGroup" [value]="value.id" (change)="onSelectionChange(value)" class="custom-control-input">
                <label class="custom-control-label" for="radioGroup{{i}}">{{ value.name | translate }}</label>
              </div>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="valid">
            <span>{{ 'commission is required' | translate }}</span>
          </div>
        </div>
      </div>
      <br>
    </form>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" [disabled]="form.invalid" class="btn btn-main" (click)="save()">{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>
<ng-template #rt let-r="result" let-t="term">
  {{ r.description}}
</ng-template>
