
<app-breadcrumb-product></app-breadcrumb-product>
<app-card-product *ngIf="product && validation()" [productName]="product.name">
  <app-order-type [product]="product"></app-order-type>
  <app-info-client [product]="product"></app-info-client>
  <div class="row product-info">
    <div class="col-md-12 title">
      <label> {{ 'Please specific your product' | translate }}</label>
    </div>
  </div>
  <app-info-params [product]="product" [eye]="'right'"></app-info-params>
  <app-info-params [product]="product" [eye]="'left'"></app-info-params>
  <app-footer-buttons (buttonAction)="buttonAction($event)" [buttons]="buttons"></app-footer-buttons>
</app-card-product>