
@import "../../../../../styles/spectrum/spectrum";

.body{
  overflow-y: auto;
}

.list-basket {
  max-height: 630px;
  padding: 2em;
  overflow-y: auto;
  overflow-x: hidden;

  .main-info {
    text-align: center;
  }

  .img-product {
    width: 45%;
    height: 9.5em;
  }

  .display-row {
    display: flex;
    justify-content: space-between;
  }

  .display-price {
    justify-content: center;
  }

  .padding-params {
    padding:  0 2em;
  }

  .params {
    padding-top: 1em;

    .separator {
      margin-bottom: 1em;
    }
  }

  .title {
    font-weight: 600;
    >dl:nth-child(3){
      >dt:nth-child(2){
        color: $secondary-info;
      }
     }
  }

  .label-title {
    padding-top: 1.5em;
  }

  .patient-info {
    padding-bottom: 1.5em;
  }

  .eye-info {
    color: $secondary-info;
    padding-bottom: 2em;
    text-align: center;
  }

  .align-item{
    text-align: center;
  }

  .items{
     color:$secondary-info;
   }

   .comments{
    padding: 0 2.5em;
  }

  .separators {
    border-top: 1.5px solid $info-separator;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .param{
    color: #f8ac59;
  }

  .comment{
    color: $secondary-info;
    padding: 0 1.5em;
  }
}
