<div class="modal-header">
  <h4 class="modal-title">{{ 'Warranty' | translate }}</h4>
  <button type="button" class="close close-modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true"> &times; </span>
  </button>
</div>
<div class="content">
  <div class="modal-body">
    <form [formGroup]="form">
      <h5>{{ 'Warranty Information' | translate }}</h5>
      <div class="row">
        <div *ngIf="user.role.idRole === 1 || user.role.idRole === 2" class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Customer' | translate }}</label>
            <div>
              <span *ngIf="action === 'view'">{{ warranty.orderProductRequest.order.user.name }}</span>
              <select *ngIf="action != 'view'" class="form-control" name="clientId" id="clientId" (change)="filterOrders(clientId)"
                formControlName="clientId" required>
                <option value="" disabled [selected]="true" translate>Select value</option>
                <option *ngFor="let client of listClients" value="{{client.idUser}}">{{ client.name }}</option>
              </select>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="clientId.valid || clientId.pristine">
            <span>{{ 'Customer is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Created at' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.createdAt | date:'yyyy-MM-dd' }}</span>
              <span *ngIf="action != 'view'" name="createdAt" formControlName="createdAt" ngDefaultControl>{{ today | date:'yyyy-MM-dd' }}</span>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Order' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.orderProductRequest.order.number }}</span>
              <select *ngIf="action != 'view'" class="form-control" name="orderId" id="orderId" formControlName="orderId" (change)="filterProducts(orderId)" required>
                <option value="" disabled [selected]="true" translate>Select value</option>
                <option *ngFor="let order of listOrders" value="{{order.idOrder}}">{{ order.number }}</option>
              </select>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="orderId.valid || orderId.pristine">
            <span>{{ 'Order is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Reference Number' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.referenceNumber }}</span>
              <input *ngIf="action != 'view'" class="form-control" [readOnly]="true" name="referenceNumber" formControlName="referenceNumber">
            </div>
          </fieldset>
          <div class="message-error" [hidden]="referenceNumber.valid || referenceNumber.pristine">
            <span>{{ 'Reference number is required' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Product' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.orderProductRequest.productRequested.product.name }}</span>
              <select *ngIf="action != 'view'" class="form-control" name="orderClientProductRequestId" id="orderClientProductRequestId"
                (change)=assignPatient(orderClientProductRequestId) formControlName="orderClientProductRequestId" required>
                <option value="" disabled [selected]="true" translate>Select value</option>
                <option *ngFor="let product of listProducts" value="{{product.idOrderProductRequested}}">{{ product.label }}</option>
              </select>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="orderClientProductRequestId.valid || orderClientProductRequestId.pristine">
            <span>{{ 'Product is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Patient' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty? warranty.orderProductRequest.productRequested.patient : ''}}</span>
              <input *ngIf="action != 'view'" class="form-control" [readOnly]="true" name="patient" formControlName="patient" value="{{product? product.productRequested.patient : ''}}">
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Invoice Number' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.billNumber }}</span>
              <input *ngIf="action != 'view'" class="form-control" placeholder="{{ 'Enter invoice number' | translate }}" name="billNumber" formControlName="billNumber">
            </div>
            </fieldset>
          <div class="message-error" [hidden]="billNumber.valid || billNumber.pristine">
            <span>{{ 'Invoice Number is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Lot Number' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.lotNumber }}</span>
              <input *ngIf="action != 'view'" class="form-control" placeholder="{{ 'Enter lot number' | translate }}" name="lotNumber" formControlName="lotNumber">
            </div>
          </fieldset>
          <div class="message-error" [hidden]="lotNumber.valid || lotNumber.pristine">
            <span>{{ 'Lot number is required' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label class="title">{{ 'Warranty Type' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.type | translate }}</span>
              <select *ngIf="action != 'view'" class="form-control" name="type" formControlName="type" required>
                <option *ngFor="let type of listTypes" value="{{type}}">{{ type | translate }}</option>
              </select>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="type.valid || type.pristine">
            <span>{{ 'Warranty Type is required' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <fieldset class="form-group">
            <label class="title">{{ 'Description' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.description }}</span>
              <textarea *ngIf="action != 'view'" class="form-control textarea" placeholder="{{ 'Enter description' | translate }}" name="description" formControlName="description" rows="3"></textarea>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="description.valid || description.pristine">
            <span>{{ 'Description is required' | translate }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="user.role.idRole === 1 || user.role.idRole === 2" class="row">
        <div class="col-xl-12">
          <fieldset class="form-group">
            <label class="title">{{ 'Notes' | translate }}</label>
            <div>
              <span *ngIf="action == 'view'">{{ warranty.notes }}</span>
              <textarea *ngIf="action != 'view'" class="form-control textarea" placeholder="{{ 'Enter notes' | translate }}" name="notes" formControlName="notes" rows="3"></textarea>
            </div>
          </fieldset>
          <div class="message-error" [hidden]="notes.valid || notes.pristine">
            <span>{{ 'Notes is required' | translate }}</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" [hidden]="action == 'view'" [disabled]="form.invalid" class="btn btn-main"
    (click)="save()">{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>
