<div class="modal-header">
  <h4 class="modal-title">{{ 'Information Supplier' | translate }}</h4>
  <button type="button" class="close close-modal" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true"> &times; </span>
  </button>
</div>
<div class="content">
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Company Name' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter company name' | translate }}" name="companyName" formControlName="companyName"
              required>
          </fieldset>
          <div class="message-error" [hidden]="companyName.valid || companyName.pristine">
            <span>{{ 'Company is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Contact' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter contact' | translate }}" name="contact" formControlName="contact" required>
          </fieldset>
          <div class="message-error" [hidden]="contact.valid || contact.pristine">
            <span>{{ 'Contact is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Address' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter address' | translate }}" name="address" formControlName="address" required>
          </fieldset>
          <div class="message-error" [hidden]="address.valid || address.pristine">
            <span>{{ 'Address is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Website' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Enter website' | translate }}" name="website" formControlName="website" required>
          </fieldset>
          <div class="message-error" [hidden]="website.valid || website.pristine">
            <span>{{ 'Website is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Email' | translate }}</label>
            <input type="email" class="form-control" placeholder="{{ 'Enter email' | translate }}" name="email" formControlName="email"
              required>
          </fieldset>
          <div class="message-error" [hidden]="email.pristine">
            <span *ngIf="email.errors && !!email.errors.required">{{'Email is required' | translate }}</span>
            <span *ngIf="email.errors && !!email.valid">{{ 'Email is not valid' | translate }}
            </span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Email Secondary' | translate }}</label>
            <input type="email" class="form-control" placeholder="{{ 'Enter email secondary' | translate }}" name="email2" formControlName="email2">
          </fieldset>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Telephone' | translate }}</label>
            <input (keypress)="validatePhone($event)" class="form-control" placeholder="{{ 'Enter telephone' | translate }}" name="telephone"
              formControlName="telephone" required>
          </fieldset>
          <div class="message-error" [hidden]="telephone.valid || telephone.pristine">
            <span>{{ 'Telephone is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Telephone Secondary' | translate }}</label>
            <input (keypress)="validatePhone($event)" class="form-control" placeholder="{{ 'Enter telephone secondary' | translate }}" name="telephone2" formControlName="telephone2">
          </fieldset>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'City' | translate }}</label>
            <input id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" name="city" formControlName="city"
              [inputFormatter]="formatter" (selectItem)="findPlace($event)" #instance="ngbTypeahead" required />
          </fieldset>
          <div *ngIf="searching" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="message-error" [hidden]="city.valid || city.pristine">
            <span>{{ 'City is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'State' | translate }}</label>
            <input class="form-control" placeholder="Enter email" name="state" formControlName="state" required>
          </fieldset>
          <div class="message-error" [hidden]="state.valid || state.pristine">
            <span>{{ 'State is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Country' | translate }}</label>
            <input class="form-control" placeholder="Enter email" name="country" formControlName="country" required>
          </fieldset>
          <div class="message-error" [hidden]="country.valid || country.pristine">
            <span>{{ 'Country is required' | translate }}</span>
          </div>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <label>{{ 'Postal Code' | translate }}</label>
            <input class="form-control" placeholder="Enter postal code" name="postal" formControlName="postal" required>
          </fieldset>
        </div>
        <div class="col-xl-6">
          <fieldset class="form-group">
            <div class="check-plataform">
              <label>{{ 'Plataform' | translate }}</label>
              <input type="checkbox" class="form-control" placeholder="{{ 'Enter plataform' | translate }}" name="plataform" formControlName="plataform"
                value="plataform">
            </div>
          </fieldset>
          <div class="message-error" [hidden]="plataform.valid || plataform.pristine">
            <span>{{ 'plataform is required' | translate }}</span>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">{{ 'Cancel' | translate }}&nbsp;
    <i class="fa fa-times"></i>
  </button>
  <button type="button" [disabled]="form.invalid" class="btn btn-main" (click)="save()">{{ 'Save' | translate }}&nbsp;
    <i class="fa fa-save"></i>
  </button>
</div>
<ng-template #rt let-r="result" let-t="term">
  {{ r.description}}
</ng-template>