<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-beat"></ngx-spinner>
<div class="info-breadcrumbs" *ngIf="product">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Product Details' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/products/' + product.supplier.idSupplier + '/internal']">
          <i class="fa fa-edit"></i> {{ 'Products List' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-eye"></i> {{ 'Product Details' | translate}}</li>
    </ol>
  </div>
</div>
<div class="padding-detail" *ngIf="product">
  <div class="card">
    <div class="">
      <!-- row (name-price-image) -->
      <div class="row wrapper">
        <div class="preview col-md-12">
          <!-- name-price -->
          <div class="main-info">
            <h3 class="product-title">{{'Order Form For' | translate }}:
              <br>
              <i>{{ product.name }}</i>
            </h3>
          </div>
          <!-- image -->
          <!-- <div class="preview-pic tab-content main-info">
            <div class="tab-pane active" id="pic-1">
              <img src="{{ product.mainImg }}" />
            </div>
          </div>-->
        </div>
      </div>

      <!-- row (properties-material-replacement-warranty-sheet) -->
      <div class="row product-info">
        <div class="item-properties col-md-2">
          <dt>{{ product.properties.name | translate }}</dt>
          <p>
            <!--<img *ngFor="let property of product.properties.values" placement="top" ngbTooltip="{{ property.title }}"
              class="" src="{{ property.image }}" width="30" height="30">&nbsp;-->
          </p>
        </div>
        <div class="col-md-3">
          <dt>{{ 'Material' | translate }}</dt>
          <dd>
            <a>{{ product.material }}</a>
          </dd>
        </div>
        <div class="col-md-3">
          <dt>{{ 'Replacemente Period' | translate }}</dt>
          <p>{{ product.replacementPeriod | translate }}</p>
        </div>
        <div class="col-md-2">
          <dt>{{ 'Warranty' | translate }}</dt>
          <p>{{ product.warranty }} {{ 'days' | translate }}</p>
        </div>
        <div class="col-md-2" *ngIf="download">
          <dt>{{ 'Product Sheet' | translate }}</dt>
          <dd>
            <a href="{{ product.url }}" target="_blank">{{ 'Download' | translate }}</a>
          </dd>
        </div>
      </div>

      <!-- row (pacient, client, shipping address) -->
      <div class="row product-info">
        <!-- patient -->
        <div class="col-lg-3">
          <dt class="title">{{ 'Patient Full Name' | translate }}</dt>
          <div class="row info-content">
            <input class="form-control" type="text" placeholder="{{ 'Enter name patient' | translate }}" [(ngModel)]="product.patient"
              required>
          </div>
        </div>

        <!-- client -->
        <div class="col-lg-3">
          <dt class="title">{{ 'Customer Full Name' | translate }}</dt>
          <div class="row info-content" [hidden]="user.role.idRole !== 3">
            <input class="form-control" type="text" placeholder="{{ 'Enter customer patient' | translate }}"
              [(ngModel)]="product.client" disabled>
          </div>
          <div class="row info-content" [hidden]="user.role.idRole === 3">
            <ng-select [items]="listCustomers" (change)="onSelectedClient($event)" [(ngModel)]="CustomersSelected"
              [virtualScroll]="true" bindLabel="name" bindValue="idUser" placeholder="{{ 'Select value' | translate }}"
              required>
            </ng-select>
          </div>
        </div>
        <!--shipping address-->
        <div class="col-lg-4">
          <span class="title">{{ 'Shipping Address' | translate }}</span>
          <div class="row info-content">
            <input class="form-control readonly-input" type="text" [(ngModel)]="product.shippingAddress" placeholder="{{ 'This field is filled when the client is selected.' | translate }}"
              readonly>
          </div>
        </div>
        <div class="col-lg-2">
          <h5 class="padding-price" [hidden]="product.priceSale===''">
            <span>{{ product.priceSale | currency : "USD $" }}</span>
          </h5>
        </div>
      </div>

      <div class="row product-info">
        <div class="col-md-12 title">
          <label> {{ 'Please specific your product' | translate }}</label>
        </div>
      </div>

      <!-- row (parameters) -->
      <div class="row header-params">
        <!-- row (parameters right) -->
        <div class="col-lg-12 custom-control custom-checkbox">
          <!--header-->
          <input id="right" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('right')" [checked]="product.eyeRight"
            class="custom-control-input">
          <label class="custom-control-label" for="right">{{ 'Right Eye' | translate }}</label>
          <div class="title">{{ 'Parameters' | translate }}</div>
          <div class="row">
            <!--quantity right-->
            <div class="col-lg-2 margin-col padding-col">
              <div class="row">
                <label class="form-check-label">{{ 'Quantity' | translate }}</label>
              </div>
              <div class="row">
                <input class="form-control" type="number" step=1 min="1" [(ngModel)]="product.quantityRight" oninput="validity.valid||(value='');"
                  [disabled]="!product.eyeRight" [required]="product.eyeRight">
              </div>
            </div>
            <!--params right-->
            <div class="col-lg-2 margin-col padding-col" *ngFor="let parameter of product.parametersRight">
              <div>
                <!--param name-->
                <div class="row">
                  <label class="form-check-label">{{ parameter.name | translate }}</label>&nbsp;&nbsp;
                </div>
                <!--param values-->
                <div *ngIf="parameter.type === 'selected'" class="row select-values">
                  <ng-select class="display-row" (change)="changeSelect('right', parameter, $event)" [items]="parameter.values"
                    [(ngModel)]="parameter.selected" [disabled]="!product.eyeRight" bindValue="item" placeholder="{{ 'Select value' | translate }}"
                    [required]="product.eyeRight">
                    <ng-template ng-label-tmp let-item="item">
                      <div class="supplier-body">
                        <span>{{ item | translate }}</span>
                      </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <div class="supplier-body">
                        <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div *ngIf="parameter.type === 'input' && parameter.name !=='Axes (º)' && parameter.name !=='Cylinder (D)' && parameter.name !=='Sphere (D)'"
                  class="row select-values">
                  <input class="form-control" type="number" min="00.00" step="00.01" placeholder="{{ parameter.placeholder | translate }}"
                    [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeRight"
                    [required]="product.eyeRight" (change)="changeSelect('right',parameter, parameter.selected)">
                </div>
                <div *ngIf="parameter.type === 'input' && parameter.name ==='Sphere (D)'" class="row select-values">
                  <input class="form-control" type="number" step="00.01" placeholder="{{ parameter.placeholder | translate }}"
                    [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeRight"
                    [required]="product.eyeRight" (change)="changeSelect('left',parameter, parameter.selected)">
                </div>
                <div *ngIf="parameter.type === 'input' && parameter.name !=='Axes (º)' && parameter.name ==='Cylinder (D)'"
                  class="row select-values">
                  <input class="form-control" type="number" step="0.01" placeholder="{{ parameter.placeholder | translate }}"
                    [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeRight"
                    [required]="product.eyeRight" (change)="changeSelect('right',parameter, parameter.selected)">
                </div>
                <div *ngIf="parameter.type === 'input' && parameter.name ==='Axes (º)'" class="row select-values">
                  <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}"
                    [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeRight"
                    [required]="product.eyeRight" (change)="changeSelect('right',parameter, parameter.selected)">
                </div>
                <!--</div>-->
              </div>
            </div>
            <!--</div>-->
            <!--prices aditional-->
            <div class="col-lg-4 margin-col padding-col">
              <div class="warranty" [hidden]="!warrantyRight || !product.quantityRight">
                <span>{{ 'Additional by Warranty' | translate }}</span>&nbsp;&nbsp;
                <p>
                  <span>{{ product.additional * product.quantityRight | currency : "USD $" }}</span>
                </p>
              </div>
            </div>
            <!--</div>-->
          </div>
        </div>

        <!-- row (parameters left) -->
        <div class="col-lg-12 custom-control custom-checkbox">
          <!--header-->
          <input id="left" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('left')" [checked]="product.eyeLeft"
            class="custom-control-input">
          <label class="custom-control-label" for="left">{{ 'Left Eye' | translate }}</label>
          <div class="title">{{ 'Parameters' | translate }}</div>
          <div class="row">
            <!--quantity left-->
            <div class="col-lg-2 margin-col padding-col">
              <div class="row">
                <label class="form-check-label">{{ 'Quantity' | translate }}</label>
              </div>
              <div class="row">
                <input class="form-control" type="number" step=1 min="1" [(ngModel)]="product.quantityLeft" oninput="validity.valid||(value='');"
                  [disabled]="!product.eyeLeft" [required]="product.eyeLeft">
              </div>
            </div>
            <!--params left-->
            <div class="col-lg-2 margin-col padding-col" *ngFor="let parameter of product.parametersLeft">
              <div>
                <!--param name-->
                <div class="label">
                  <label class="form-check-label">{{ parameter.name | translate }}</label>&nbsp;&nbsp;
                </div>
                <!--param values-->
                <div *ngIf="parameter.type === 'selected'" class="row select-values">
                  <ng-select class="display-row" (change)="changeSelect('left', parameter, $event)" [items]="parameter.values"
                    [(ngModel)]="parameter.selected" [disabled]="!product.eyeLeft" bindValue="item" placeholder="{{ 'Select value' | translate }}"
                    [required]="product.eyeLeft">
                    <ng-template ng-label-tmp let-item="item">
                      <div class="supplier-body">
                        <span>{{ item | translate }}</span>
                      </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <div class="supplier-body">
                        <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div *ngIf="parameter.type === 'input' && parameter.name !=='Axes (º)' && parameter.name !=='Cylinder (D)' && parameter.name !=='Sphere (D)'"
                  class="row select-values">
                  <input class="form-control" type="number" min="00.00" step="00.01" placeholder="{{ parameter.placeholder | translate }}"
                    [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft"
                    [required]="product.eyeLeft" (change)="changeSelect('left',parameter, parameter.selected)">
                </div>
                <div *ngIf="parameter.type === 'input' && parameter.name ==='Sphere (D)'" class="row select-values">
                  <input class="form-control" type="number" step="00.01" placeholder="{{ parameter.placeholder | translate }}"
                    [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft"
                    [required]="product.eyeLeft" (change)="changeSelect('left',parameter, parameter.selected)">
                </div>
                <div *ngIf="parameter.type === 'input' && parameter.name !=='Axes (º)' && parameter.name ==='Cylinder (D)'"
                  class="row select-values">
                  <input class="form-control" type="number" step="0.01" placeholder="{{ parameter.placeholder | translate }}"
                    [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft"
                    [required]="product.eyeLeft" (change)="changeSelect('left',parameter, parameter.selected)">
                </div>
                <div *ngIf="parameter.type === 'input' && parameter.name ==='Axes (º)'" class="row select-values">
                  <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}"
                    [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft"
                    [required]="product.eyeLeft" (change)="changeSelect('left',parameter, parameter.selected)">
                </div>
              </div>
            </div>

            <!--prices aditional-->
            <div class="col-lg-4 margin-col padding-col">
              <div class="warranty" [hidden]="!warrantyLeft || !product.quantityLeft">
                <span>{{ 'Additional by Warranty' | translate }}</span>&nbsp;&nbsp;
                <p>
                  <span>{{ product.additional * product.quantityLeft | currency : "USD $" }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--comments-->
      <div class="comments col-md-12">
        <div class="row header">
          <div class="col-md-6">
            <div class="title">{{ 'Comments Right Eye' | translate }}</div>
            <textarea style="overflow-x: hidden;" class="form-control" type="text" [(ngModel)]="product.observationsRight"
              [disabled]="!product.eyeRight" placeholder="{{ 'Enter right eye observations' | translate }}"></textarea>
          </div>
          <div class="col-md-6">
            <div class="title">{{ 'Comments Left Eye' | translate }}</div>
            <textarea style="overflow-x: hidden;" class="form-control" type="text" [(ngModel)]="product.observationsLeft"
              [disabled]="!product.eyeLeft" placeholder="{{ 'Enter left eye observations' | translate }}"></textarea>
          </div>
        </div>
      </div>
      <br>

      <!--files-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <dt class="title">{{ 'Documents (Topography, Tangential Map, etc.)' | translate }}</dt>
            <div class="custom-file">
              <input #selectedFiles type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader"
                [disabled]="uploader.queue.length > 4" multiple />
              <label class="custom-file-label" for="FS">{{ 'Choose file' | translate }}...</label>
              <div class="invalid-feedback">Example invalid custom file feedback</div>
              <div class="message-error">
                <span translate>{{'Max files size:' | translate}} 25MB</span>
                <span> / </span>
                <span translate>{{'Maximum files number:' | translate }} 5</span>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-12" style="margin-bottom: 40px" *ngIf="uploader.queue.length > 0">
            <div class="row justify-content-end" *ngIf="uploader.queue.length > 1">
              <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash-o"></span> {{ 'Remove all' | translate }}
              </button>
            </div>
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">{{ 'Name' | translate }}</th>
                  <th>{{ 'Size' | translate }}</th>
                  <th>{{ 'Actions' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td nowrap>
                    <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item)">
                      <span class="fa fa-trash-o"></span> {{ 'Remove' | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 buy-btns">
        <button [hidden]="user.role.idRole === 3" class="btn btn-lg btn-primary btn-outline-primary text-uppercase margin-button"
          (click)="formIsValid() && addToCart(2)" [disabled]="!formIsValid()">
          {{ 'Buy Now' | translate }}
        </button>
        <button class="btn btn-lg btn-outline-primary text-uppercase margin-button" (click)="formIsValid() && addToCart(1)"
          [disabled]="!formIsValid()">
          <i class="fa fa-cart-plus"></i> {{ 'Add to cart' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
