<div class="info-breadcrumbs" *ngIf="product">
  <app-page-header class="info-top" [heading]="'Product Details'" [icon]="'fa-edit'"></app-page-header>
  <a routerLink="/products">
    <i class="fa fa-arrow-left">&nbsp;&nbsp;{{ 'Back' | translate }}</i>
  </a>
</div>
<div class="padding-detail" *ngIf="product">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <!-- PRODUCT IMAGE -->
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img src="{{ product.mainImg }}"/>
            </div>

          </div>

        </div>
        <!--INFO-->
        <div class="details col-md-6">

          <!-- PRODUCT NAME / PRICE-->
          <div class="row">
            <div class="col-md-12">
              <h4 class="product-title">{{ product.name }}</h4>
              <h1 class="price" [hidden]="product.priceSale===''">
                <span>${{ product.priceSale }}</span>
              </h1>
            </div>
          </div>

          <!--DESCRIPTION-->
          <div>
            <dt class="title">{{ 'Description' | translate }}</dt>
            <p class="info-content">{{ product.description }}</p>
          </div>

          <!--CHARACTERISTICS-->
          <div>
            <dt class="title">{{ 'Characteristics' | translate }}</dt>
            <div class="info-content" *ngFor="let characteristic of product.infoAditional[0].values">
              <a class="title">{{ characteristic.title }}</a>:
              <a>{{ characteristic.description }}</a>
            </div>
          </div>
        </div>
      </div>

      <!--MORE INFO-->
      <div class="row more-info">
        <!--SPECIFICATIONS TECHNICALS / COMMENTS-->
        <div class="col-md-6">
          <!--specifications technicals-->
          <div class="col-md-12">
            <dt class="title">{{ 'Technicals Specifications' | translate }}</dt>
            <!--HEADER-->
            <div class="row header">
              <div class="col-sm-4 title">{{ 'Parameter' | translate }}</div>
              <div class="col-sm-4 title">
                <div class="custom-control custom-checkbox">
                  <input id="right" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('right')" [checked]="product.eyeRight"
                    class="custom-control-input">
                  <label class="custom-control-label" for="right">{{ 'Eye Right' | translate }}</label>
                </div>
                <!--<input type="checkbox" class="form-check-label" (click)="setValueEye('right')" [checked]="product.eyeRight"> {{ 'Eye Right' | translate }}-->
              </div>
              <div class="col-sm-4 title">
                <div class="custom-control custom-checkbox">
                  <input id="left" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('left')" [checked]="product.eyeLeft"
                    class="custom-control-input">
                  <label class="custom-control-label" for="left">{{ 'Eye Left' | translate }}</label>
                </div>
               <!-- <input type="checkbox" class="form-check-label" (click)="setValueEye('left')" [checked]="product.eyeLeft"> {{ 'Eye Left' | translate }}-->
              </div>
            </div>

            <!--CONTENT INFO-->
            <div class="row content">

              <!--PARAM NAME-->
              <div class="col-sm-4 title">
                <div class="row label">
                  <label class="form-check-label">{{ 'Quantity' }}:</label>&nbsp;&nbsp;
                </div>
                <div *ngFor="let parameter of product.parametersRight">
                  <div>
                    <div class="row label">
                      <label class="form-check-label">{{ parameter.name }}:</label>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
              </div>

              <!--Right Eye-->
              <div class="col-sm-4 title">
                <div class="row selection">
                  <input class="form-control col-sm-8" type="number" step=1 min="1" [(ngModel)]="product.quantityRight" oninput="validity.valid||(value='');"
                    [disabled]="!product.eyeRight">
                </div>
                <div *ngFor="let parameter of product.parametersRight">
                  <div>
                    <div class="row selection">
                      <div *ngIf="parameter.type === 'selected'" class="select-values col-sm-9">
                        <ng-select (change)="changeSelect('right', parameter, $event)" [items]="parameter.values" [disabled]="!product.eyeRight"
                          [(ngModel)]="parameter.sel" bindLabel="item" bindValue="item" placeholder="{{ 'Select value' | translate }}">
                          {{item}}
                        </ng-select>
                      </div>

                      <div *ngIf="parameter.type === 'input'" class="select-values col-sm-9">
                          <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}"
                          [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeRight">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Left Eye-->
              <div class="col-sm-4 title">
                <div class="row selection">
                  <input class="form-control col-sm-8" type="number" step=1 min="1" [(ngModel)]="product.quantityLeft" oninput="validity.valid||(value='');"
                    [disabled]="!product.eyeLeft">
                </div>
                <div *ngFor="let parameter of product.parametersLeft">
                  <div>
                    <div class="row selection">
                      <div *ngIf="parameter.type === 'selected'" class="select-values col-sm-9">
                        <ng-select (change)="changeSelect('left', parameter, $event)" [items]="parameter.values" [disabled]="!product.eyeLeft" [(ngModel)]="parameter.sel"
                          bindLabel="item" bindValue="item" placeholder="{{ 'Select value' | translate }}">
                          {{item}}
                        </ng-select>
                      </div>

                      <div *ngIf="parameter.type === 'input'" class="select-values col-sm-9">
                          <input class="form-control" type="number" placeholder="{{ parameter.placeholder | translate }}"
                          [(ngModel)]="parameter.selected" oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--comments-->
          <div class="col-md-12">
            <dt class="title">{{ 'Comments' | translate }}</dt>

            <!--HEADER-->
            <div class="row header">
              <div class="col-sm-6 title">{{ 'Right Eye' | translate }}</div>
              <div class="col-sm-6 title">{{ 'Left Eye' | translate }}</div>
            </div>
            <!--CONTENT-->
            <div class="row content">
              <div class="col-md-6">
                <textarea style="overflow-x: hidden;" class="form-control col-md-10" type="text" [(ngModel)]="product.observationsRight" [disabled]="!product.eyeRight"
                  placeholder="{{ 'Introduces right eye observations' | translate }}"></textarea>
              </div>
              <div class="col-md-6">
                <textarea style="overflow-x: hidden;" class="form-control col-md-10" type="text" [(ngModel)]="product.observationsLeft" [disabled]="!product.eyeLeft"
                  placeholder="{{ 'Introduces right eye observations' | translate }}"></textarea>
              </div>
            </div>
          </div>
          <br>

          <!--files-->
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <dt class="title">{{ 'Documents' | translate }}</dt>
                <div class="custom-file">
                  <input #selectedFiles type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" multiple  />
                  <label class="custom-file-label" for="FS">{{ 'Choose file' | translate }}...</label>
                  <div class="invalid-feedback">Example invalid custom file feedback</div>
                  <div class="message-error">
                    <span translate>{{'Max file size ' + maxFileSize/1024/1024}} MB</span>
                    <span> / </span>
                    <span translate>{{'Max file ' + queueLimit}}</span>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-12" style="margin-bottom: 40px" *ngIf="uploader.queue.length > 0">
                <div class="row justify-content-end" *ngIf="uploader.queue.length > 1">
                  <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="fa fa-trash-o"></span> {{ 'Remove all' | translate }}
                  </button>
                </div>
                <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th width="50%">{{ 'Name' | translate }}</th>
                      <th>{{ 'Size' | translate }}</th>
                      <th>{{ 'Actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploader.queue">
                      <td><strong>{{ item?.file?.name }}</strong></td>
                      <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                      <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs"
                          (click)="removeFile(item)">
                          <span class="fa fa-trash-o"></span> {{ 'Remove' | translate }}
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!--PROPERTIES / FILTERS / PATIENT / CLIENT-->
        <div class="col-md-6">
          <!-- properties -->
          <div class="row">
            <div class="item-properties col-md-5">
              <dt>{{ 'Properties' | translate }}</dt>
              <p>
                <img placement="top" ngbTooltip="Toric" class="alignleft wp-image-1358" src="http://spctinternational.com/wp-content/uploads/2017/09/íconos-02-150x150.png"
                  alt="Toric" width="30" height="30">&nbsp;
                <img placement="top" ngbTooltip="Multifocal" class="alignleft wp-image-1359" src="http://spctinternational.com/wp-content/uploads/2017/09/íconos-03-300x300.png"
                  alt="Multifocal" width="30" height="30">&nbsp;
                <img placement="top" ngbTooltip="3-monthly" class="wp-image-1389 alignleft" src="http://spctinternational.com/wp-content/uploads/2017/10/íconos-09-273x300.png"
                  alt="" width="30" height="33">&nbsp;
                <img placement="top" ngbTooltip="Sylicone Hydrogel" class="wp-image-1362 alignleft" src="http://spctinternational.com/wp-content/uploads/2017/09/íconos-06-250x300.png"
                  alt="" width="28" height="33">&nbsp;
                <img placement="top" ngbTooltip="UV Filter" class="wp-image-1364 alignleft" src="http://spctinternational.com/wp-content/uploads/2017/09/íconos-08-300x286.png"
                  alt="" width="35" height="33" srcset="http://spctinternational.com/wp-content/uploads/2017/09/íconos-08-300x286.png 300w, http://spctinternational.com/wp-content/uploads/2017/09/íconos-08.png 459w"
                  sizes="(max-width: 35px) 100vw, 35px">&nbsp;
              </p>
            </div>
            <!-- MATERIAL -->
            <div class="col-md-4">
              <dt>Material</dt>
              <dd>
                <a>{{ product.material }}</a>
              </dd>
            </div>
            <!-- PRODUCT SHEET -->
            <div class="col-md-3">
              <dt>Product Sheet</dt>
              <dd>
                <a href="{{ product.url }}" target="_blank">{{ 'Download' }}</a>
              </dd>
            </div>
            <!-- REPLACEMENT PERIOD -->
            <div class="col-md-5">
              <dt>{{ 'Replacemente Period' | translate }}</dt>
              <p>{{ product.replacementPeriod | translate }}</p>
            </div>
            <!-- WARRANTY -->
            <div class="col-md-4">
              <dt>{{ 'Warranty' | translate }}</dt>
              <p>{{ product.warranty }}</p>
            </div>
          </div>

          <!--filters products
          <dt class="filters">{{ 'View more products' | translate }}</dt>
          <div class="row">
            <div class="col-md-5">
              <dt>{{ 'Category' | translate }}</dt>
              <a href="#" target="_blank">{{ product.category.name }}</a>
            </div>
            <div class="col-md-4">
              <dt>{{ 'Supplier' | translate }}</dt>
              <a href="#" target="_blank">{{ product.supplier.companyName }}</a>
            </div>
            <div class="col-md-3">
              <dt>{{ 'Product' | translate }}</dt>
              <a href="#" target="_blank">{{ product.father }}</a>
            </div>
          </div>-->

          <!-- client -->
          <div>
            <dt class="title">{{ 'Client' | translate }}</dt>
            <div class="row">
              <!--name client-->
              <div class="col-md-6" [hidden]="user.role.idRole!==3">
                <span class="title">{{ 'Full Name' | translate }}:</span>
                <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="{{ 'Introduce name patient' | translate }}" [(ngModel)]="product.client"
                    disabled>
                </div>
              </div>
              <div class="col-md-6" [hidden]="user.role.idRole===3">
                <span class="title">{{ 'Full Name' | translate }}:</span>
                <div class="col-md-12">
                  <ng-select [items]="listCustomers" (change)="onSelectedClient($event)" [(ngModel)]="CustomersSelected" [virtualScroll]="true" bindLabel="name" bindValue="idUser"
                     placeholder="{{ 'Select value' | translate }}">
                  </ng-select>
                </div>
              </div>
              <!--shipping address-->
              <div class="col-md-6">
                <span class="title">{{ 'Shipping Address' | translate }}:</span>
                <div class="col-md-12">
                  <textarea style="overflow-x: hidden;" class="form-control" type="text" [(ngModel)]="product.shippingAddress" disabled></textarea>
                </div>
              </div>
            </div>
          </div>

          <!-- patient -->
          <div>
            <dt class="title">{{ 'Patient' | translate }}</dt>
            <div class="row">
              <div class="col-md-6">
                <span class="title">{{ 'Full Name' | translate }}:</span>
                <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="{{ 'Introduce name patient' | translate }}" [(ngModel)]="product.patient">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <br>

      <div class="buy-btns">
        <button class="btn btn-lg btn-primary btn-outline-primary text-uppercase" (click)="formIsValid() && addToCart(2)" [disabled]="!formIsValid()">
          {{ 'Buy now' | translate }}
        </button>
        <button class="btn btn-lg btn-outline-primary text-uppercase" (click)="formIsValid() && addToCart(1)" [disabled]="!formIsValid()">
          <i class="fa fa-cart-plus"></i> Add to cart
        </button>
      </div>
    </div>
  </div>
