<div class="container bootstrap snippet pl-5 pr-3">
  <div class="row">
    <ngb-tabset (tabChange)="beforeChange($event)">
      <ngb-tab id="{{supplier.idSupplier}}" *ngFor="let supplier of suppliers">
        <ng-template ngbTabTitle><b>{{ supplier.companyName}}</b></ng-template>
        <ng-template ngbTabContent>
          <div class="border-tab" [formGroup]="protocolForm">
            <div class="text-right pb-3">
              <button type="button" class="btn btn-main mr-3" *ngIf="!edit"
                (click)="enableEdit()">{{ 'Edit' | translate }}
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" class="btn btn-success btn-xs" *ngIf="!edit" [disabled]="!download"
                (click)="downloadProtocol()">{{ 'Download PDF' | translate }}
                <i class="fa fa-download"></i>
              </button>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'ACC Number' | translate }}</label>
                <input type="text" class="form-control" formControlName="accNumber" maxlength="120" *ngIf="edit"
                  placeholder="{{ 'Enter ACC number' | translate }}" />
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.accNumber }">{{ protocol.accNumber ? protocol.accNumber :
                    'Unassigned'
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Country' | translate }}</label>
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <ng-select [items]="countries" [searchable]="true" bindValue="idCountry" bindLabel="name"
                    formControlName="country" *ngIf="edit" placeholder="{{ 'Enter country' | translate }}">
                  </ng-select>
                </div>
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.countryName }">{{ protocol.countryName ? protocol.countryName :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Business Name' | translate}}</label>
                <input type="text" class="form-control" formControlName="businessName" maxlength="120" *ngIf="edit"
                  placeholder="{{ 'Enter business name' | translate }}" />
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.businessName }">{{ protocol.businessName ? protocol.businessName :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Recipient' | translate }}</label>
                <input type="text" class="form-control" formControlName="recipient" maxlength="120" *ngIf="edit"
                  placeholder="{{ 'Enter recipient' | translate }}" />
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.recipient }">{{ protocol.recipient ? protocol.recipient :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Shipping Address' | translate }}</label>
                <textarea style="overflow-x: hidden;" type="text" class="form-control" formControlName="shippingAddress"
                  maxlength="254" *ngIf="edit" placeholder="{{ 'Enter shipping address' | translate }}">
                </textarea>
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.shippingAddress }">{{ protocol.shippingAddress ? protocol.shippingAddress :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Shipping Frecuency' | translate }}</label>
                <div *ngIf="edit" class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="custom-control-inline">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio1" name="shippingFrecuency" class="custom-control-input"
                        (change)="assignShippingFrecuency(protocol.value, 1, null)"
                        [checked]="valueFrecuency === 'Monthly'">
                      <label class="custom-control-label" for="customRadio1">{{ 'Monthly' | translate }}</label>
                    </div>
                    <div style="margin-left: 10px;" class="custom-control custom-radio">
                      <input type="radio" id="customRadio2" name="shippingFrecuency" class="custom-control-input"
                        (change)="assignShippingFrecuency(protocol.value, 2, null)"
                        [checked]="valueFrecuency === 'Biweekly'">
                      <label class="custom-control-label" for="customRadio2">{{ 'Biweekly' | translate }}</label>
                    </div>
                    <div style="margin-left: 10px;" class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="shippingFrecuency" class="custom-control-input"
                        (change)="assignShippingFrecuency(protocol.value, 3, null)"
                        [checked]="valueFrecuency === 'Weekly'">
                      <label class="custom-control-label" for="customRadio3">{{ 'Weekly' | translate }}</label>
                    </div>
                  </div>
                  <!--<span>{{ shippingFrecuency.value }}</span>-->
                  <select *ngIf="valueFrecuency === 'Biweekly'" class="form-control" name="shippingFrecuencyB"
                    formControlName="shippingFrecuencyB">
                    <option *ngFor="let biweekly of listBiweekly" value="{{biweekly}}">{{ biweekly | translate }}
                    </option>
                  </select>
                  <select *ngIf="valueFrecuency === 'Weekly'" class="form-control" name="shippingFrecuencyW"
                    formControlName="shippingFrecuencyW">
                    <option *ngFor="let weekly of listWeekly" value="{{weekly}}">{{ weekly | translate }}</option>
                  </select>
                </div>
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.shippingFrecuency }" translate>{{ protocol.shippingFrecuency ? protocol.shippingFrecuency :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Shipping Method' | translate }}</label>
                <select *ngIf="edit" class="form-control" name="shippingMethod" formControlName="shippingMethod">
                  <option *ngFor="let shippingMethod of listShippingMethod" value="{{shippingMethod}}">
                    {{ shippingMethod | translate }}</option>
                </select>
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.shippingMethod }">{{ protocol.shippingMethod ? protocol.shippingMethod :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Shipping Details' | translate }}</label>
                <textarea style="overflow-x: hidden;" type="text" class="form-control" formControlName="shippingDetail"
                  maxlength="254" *ngIf="edit" placeholder="{{ 'Enter shipping detail' | translate }}"></textarea>
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.shippingDetail }">{{ protocol.shippingDetail ? protocol.shippingDetail :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Account Number for Shipping Carrier' | translate }}</label>
                <input type="text" class="form-control" formControlName="accountNumber" maxlength="120" *ngIf="edit"
                  placeholder="{{ 'Enter account number for shipping carrier' | translate }}" />
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.accountNumber }">{{ protocol.accountNumber ? protocol.accountNumber :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
              <div class="form-group pr-3 half-flex">
                <label>{{ 'Comments' | translate }}</label>
                <textarea style="overflow-x: hidden;" type="text" class="form-control" formControlName="comment"
                  maxlength="254" *ngIf="edit" placeholder="{{ 'Enter comments' | translate }}"></textarea>
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.comment }">{{ protocol.comment ? protocol.comment :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex">

              <div class="form-group pr-3 half-flex">
                <label *ngIf="true">{{ 'Email Comments' | translate }}</label>
                <textarea style="overflow-x: hidden;" *ngIf="edit" type="text" class="form-control"
                  formControlName="emailComment" maxlength="254"
                  placeholder="{{ 'Enter email comments' | translate }}"></textarea>
                <div class="truncate" *ngIf="!edit">
                  <span [ngClass]="{ unassigned: !protocol.emailComment }">{{ protocol.emailComment ? protocol.emailComment :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>

              <div class="form-group pr-3 half-flex">
                <label *ngIf="false">{{ 'DMV' | translate }}</label>
                <input type="text" class="form-control" formControlName="dmv" maxlength="120" *ngIf="false" />
                <div class="truncate" *ngIf="false">
                  <span [ngClass]="{ unassigned: !protocol.dmv }">{{ protocol.dmv ? protocol.dmv :
                    'Unassigned' | translate
                  }}</span>
                </div>
              </div>

            </div>
            <div class="text-right pb-3">
              <button type="button" class="btn btn-secondary mr-3" [disabled]="saving" *ngIf="edit"
                (click)="cancel()">{{ 'Cancel' | translate }}&nbsp;
                <i class="fa fa-times"></i>
              </button>
              <button type="button" class="btn btn-main" *ngIf="edit" [disabled]="saving"
                (click)="update()">{{ 'Save' | translate }}&nbsp;
                <i class="fa fa-save"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <!--Manage All-->
      <ngb-tab id="1000">
        <ng-template ngbTabTitle><b>{{ 'Manage All' }}</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="border-tab overflow">
            <div class="text-right pb-3">
              <button type="button" class="btn btn-main mr-3" *ngIf="!edit"
                (click)="enableEdit()">{{ 'Edit' | translate }}
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <!--Manage all-->
            <div class="row" *ngFor="let protocol of protocols | keyvalue">
              <div class="w-100 border-protocol p-3 mb-3">
                <div class="d-flex w-100 border-bottom">
                  <div class="w-50 mr-3">
                    <label class="font-weight-bold">{{ protocol.value.label | translate }}</label>
                  </div>
                  <div class="w-46">
                    <label class="font-weight-bold">{{ "Supplier" | translate }}</label>
                  </div>
                </div>

                <div *ngIf="protocol.value.values == 0 && !edit" class="empty-message">
                  <span>{{ 'No information has been added' | translate}}</span>
                </div>
                <div class="d-flex w-100 pt-2 pb-1" [ngClass]="{ 'border-item': !edit }"
                  *ngFor="let value of protocol.value.values; let pos = index">
                  <div class="w-50 mr-3">
                    <div class="input-value">
                      <input *ngIf="
                          (protocol.value.label === 'ACC Number' ||
                          protocol.value.label === 'Business Name' ||
                          protocol.value.label === 'Recipient' ||
                          protocol.value.label === 'Account Number for Shipping Carrier') && edit" maxlength="120"
                        type="text" class="form-control" placeholder="{{ protocol.placeHolder | translate }}"
                        [(ngModel)]="value.content" [ngModelOptions]="{standalone: true}" [disabled]="!edit" />
                      <textarea *ngIf="
                          (protocol.value.label === 'Shipping Address' ||
                          protocol.value.label === 'Comments' ||
                          protocol.value.label === 'Shipping Details' ||
                          protocol.value.label === 'Email Comments') && edit" maxlength="254"
                        style="overflow-x: hidden;" type="text" class="form-control"
                        placeholder="{{ protocol.placeHolder | translate }}" [(ngModel)]="value.content"
                        [ngModelOptions]="{standalone: true}" [disabled]="!edit"></textarea>
                      <div *ngIf="protocol.value.label === 'Country'">
                        <div class="form-group pr-3 half-flex">
                          <ng-select [items]="countries" [searchable]="true" bindValue="idCountry" bindLabel="name"
                            [(ngModel)]="value.content" placeholder="{{ protocol.placeHolder | translate }}"
                            *ngIf="edit">
                          </ng-select>
                          <div *ngIf="!edit">
                            <span [ngClass]="{ unassigned: !value.countryName }">{{ value.countryName ? value.countryName :
                                'Unassigned' | translate
                              }}</span>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="protocol.value.label === 'Shipping Method'">
                        <div>
                          <select *ngIf="edit" class="form-control" name="shippingMethod" [(ngModel)]="value.content">
                            <option *ngFor="let shippingMethod of listShippingMethod" value="{{shippingMethod}}">
                              {{ shippingMethod | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!--Shipping Frecuency-->
                      <div *ngIf="protocol.value.label === 'Shipping Frecuency' && edit"
                        class="mb-2 mr-sm-2 mb-sm-0 d-flex align-items-center">
                        <div class="custom-control-inline">
                          <div class="custom-control custom-radio">
                            <input type="radio" id="{{ 'customRadioM' + pos }}" name="{{ 'shippingFrecuency' + pos }}"
                              class="custom-control-input" (change)="assignShippingFrecuency(protocol.value, 1, pos)"
                              [checked]="value.content === 'Monthly'" [disabled]="!edit" />
                            <label class="custom-control-label"
                              for="{{ 'customRadioM' + pos }}">{{ "Monthly" | translate }}</label>
                          </div>
                          <div style="margin-left: 10px;" class="custom-control custom-radio">
                            <input type="radio" id="{{ 'customRadioB' + pos }}" name="{{ 'shippingFrecuency' + pos }}"
                              class="custom-control-input" (change)="assignShippingFrecuency(protocol.value, 2, pos)"
                              [checked]="value.content === '15' || value.content === '30'" [disabled]="!edit" />
                            <label class="custom-control-label"
                              for="{{ 'customRadioB' + pos }}">{{ "Biweekly" | translate }}</label>
                          </div>
                          <div style="margin-left: 10px;" class="custom-control custom-radio">
                            <input type="radio" id="{{ 'customRadioW' + pos }}" name="{{ 'shippingFrecuency' + pos }}"
                              class="custom-control-input" (change)="assignShippingFrecuency(protocol.value, 3, pos)"
                              [checked]="value.content !== 'Monthly' && value.content !== '15' && value.content !== '30' && value.content !== '' "
                              [disabled]="!edit" />
                            <label class="custom-control-label"
                              for="{{ 'customRadioW' + pos }}">{{ "Weekly" | translate }}</label>
                          </div>
                        </div>
                        <!--<span>{{ shippingFrecuency.value }}</span>-->
                        <select *ngIf="value.showB === 'true'" [(ngModel)]="value.content"
                          [ngModelOptions]="{standalone: true}" class="form-control"
                          name="{{ 'shippingFrecuencyB' + pos }}" [disabled]="!edit">
                          <option value="" [selected]="true" translate>Select value</option>
                          <option *ngFor="let biweekly of listBiweekly" value="{{ biweekly }}">
                            {{ biweekly | translate }}</option>
                        </select>
                        <select *ngIf="value.showW === 'true'" [(ngModel)]="value.content"
                          [ngModelOptions]="{standalone: true}" class="form-control"
                          name="{{ 'shippingFrecuencyW' + pos }}" [disabled]="!edit">
                          <option value="" [selected]="true" translate>Select value</option>
                          <option *ngFor="let weekly of listWeekly" value="{{ weekly }}">{{
                            weekly | translate
                          }}</option>
                        </select>
                      </div>
                      <div class="truncate" *ngIf="(protocol.value.label !== 'Country') && !edit">
                        <span [ngClass]="{ unassigned: !value.content }">{{ value.content ? value.content :
                        'Unassigned' | translate
                      }}</span>
                      </div>
                    </div>
                  </div>
                  <div></div>
                  <div class="select-required" *ngIf="validContent(protocol.value,pos) && checkSuppliers(protocol.value,pos)"></div>
                  <div class="w-46">
                    <div *ngIf="edit" class="d-inline-block w-100" ngbDropdown autoClose="outside">
                      <button class="btn border-type w-100 text-left" ngbDropdownToggle required
                        [disabled]="!validContent(protocol.value,pos)">
                        <div class="text-overflow">{{ getNamesTypeList(value) }}</div>
                        <span *ngIf="checkSuppliers(protocol.value,pos)">
                          {{ "Select At Least a Supplier" | translate }}
                        </span>
                      </button>
                      <ul ngbDropdownMenu class="w-100 p-3 dropdown-list" aria-labelledby="dropdownManual">
                        <div class="select-type">
                          <div class="custom-control custom-checkbox">
                            <input id="checkboxAll" type="checkbox" name="checkboxGroupAll" [(ngModel)]="selectedAll"
                              (click)="onSelectionAll(protocol.value, value)" class="custom-control-input">
                            <label class="custom-control-label" for="checkboxAll">{{ 'Select All' | translate }}</label>
                          </div>
                          <li *ngFor="let supplier of suppliers; index as i">
                            <div>
                              <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="left"
                                title="{{ 'If it is disabled, it was previously selected' | translate }}">
                                <input attr.id="{{protocol.value.label}}-{{ i }}-{{ pos }}" type="checkbox"
                                  name="checkboxGroupAll" [checked]="checkedSupplier(protocol.value, value, supplier)"
                                  (click)="selectSupplier(supplier.idSupplier, protocol.value, value)"
                                  class="custom-control-input"
                                  [disabled]="disabledSupplier(protocol.value, value, supplier)" />
                                <label class="custom-control-label"
                                  for="{{ protocol.value.label }}-{{ i }}-{{ pos }}"></label>
                                <span>
                                  {{ supplier.companyName | titlecase }}
                                </span>
                              </div>
                            </div>
                          </li>
                        </div>
                      </ul>
                    </div>
                    <div *ngIf="!edit">
                      <span>{{ getNamesTypeList(value) }}</span>
                    </div>
                  </div>
                  <div class="trash" *ngIf="edit">
                    <span class="fa fa-trash" [ngClass]="{
                        top:
                          protocol.value.label === 'Shipping Address' ||
                          protocol.value.label === 'Comments' ||
                          protocol.value.label === 'Shipping Details'
                      }" placement="top" ngbTooltip="{{ 'Delete protocol value' | translate }}"
                      (click)="removeValue(protocol.value, pos)"></span>
                  </div>
                </div>
                <div *ngIf="edit">
                  <button type="button" class="btn btn-main btn-add"
                    [hidden]="suppliers.length === protocol.value.selectedSuppliers.length"
                    (click)="addValue(protocol.value)">{{ 'Add' | translate }}
                    <i class="fa fa-plus-circle ml-2"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="text-right pb-3 mb-3">
              <button type="button" class="btn btn-secondary mr-3" [disabled]="saving" *ngIf="edit"
                (click)="cleanChanges()">{{ 'Cancel' | translate }}&nbsp;
                <i class="fa fa-times"></i>
              </button>
              <button type="button" class="btn btn-main" *ngIf="edit" [disabled]="saving || !isValidProtocols()"
                (click)="updateManageAll()">{{ 'Save' | translate }}&nbsp;
                <i class="fa fa-save"></i>
              </button>
            </div>

            <!-- End manage all-->
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
