<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-beat"
></ngx-spinner>
<br>
<br>
<br>
<div class="margin-breadcrumb">
	<div class="header-body">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
				<a class="link" href="Javascript:void(0)" [routerLink]="['/products']"><i class="fa fa-dashboard"></i> {{ 'Products List' | translate }}</a>
			</li>
			<li class="breadcrumb-item active" [hidden]="idSupplier === 1">
        <i class="fa fa-edit"></i> {{ nameSupplier }}
      </li>

      <!--Aditionales Markennovy-->
      <li class="breadcrumb-item active" [hidden]="idSupplier !== 1 || currentFather !== ''">
          <i class="fa fa-edit"></i> {{ nameSupplier }}
        </li>
      <li class="breadcrumb-item active" [hidden]="idSupplier !== 1 || showFathersMarkennovy">
        <a class="link"  href="Javascript:void(0)" (click)="backToFathersHeader()"><i class="fa fa-edit"></i> {{ nameSupplier }}</a>
      </li>
      <li class="breadcrumb-item active" [hidden]="idSupplier !== 1 || showFathersMarkennovy">
        <i class="fa fa-edit"></i> {{ currentFather }}
      </li>
		</ol>
	</div>
</div>
<div class="middleBar" [hidden]="showSuppliers">
  <div class="row display-table">
    <div class="col-sm-1 vertical-align text-left hidden-xs">
    </div>
    <!-- end col -->
    <div class="col-sm-6 vertical-align text-center">
      <form>
        <div class="row grid-space-1">
          <div class="col col-xl-12 col-lg-12 search">
            <input type="text" class="form-control" [hidden]="idSupplier === 1" (keyup)="filter('byName')" placeholder=" {{ 'Enter product name...' | translate }}" name="filterName" [(ngModel)]="filterName">
            <input type="text" class="form-control" [hidden]="idSupplier !== 1" (keyup)="filterByFather('byName')" placeholder=" {{ 'Enter product name...' | translate }}" name="filterName" [(ngModel)]="filterName">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- end row -->
      </form>
    </div>
    <div class="col col-xl-1 col-lg-1 filter" [hidden]="idSupplier !== 1 || !showFathersMarkennovy">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadioMarkennovy1" name="customRadio" value="3" class="custom-control-input" (change)="filterByFather('All')" checked>
        <label class="custom-control-label" for="customRadioMarkennovy1">{{ 'All' | translate }}</label>
      </div>
    </div>
    <div class="col col-xl-1 col-lg-1 filter" [hidden]="idSupplier !== 1 || !showFathersMarkennovy">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadioMarkennovy2" name="customRadio" value="0" class="custom-control-input" (change)="filterByFather('Monthly')">
        <label class="custom-control-label" for="customRadioMarkennovy2">{{ 'Monthly' | translate }}</label>
      </div>
    </div>
    <div class="col col-xl-1 col-lg-1 filter" [hidden]="idSupplier !== 1 || !showFathersMarkennovy">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadioMarkennovy3" name="customRadio" value="1" class="custom-control-input" (change)="filterByFather('3-Monthly')">
        <label class="custom-control-label" for="customRadioMarkennovy3">{{ '3-Monthly' | translate }}</label>
      </div>
    </div>
    <div class="col col-xl-1 col-lg-1 filter" [hidden]="idSupplier !== 1 || !showFathersMarkennovy">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadioMarkennovy4" name="customRadio" value="2" class="custom-control-input" (change)="filterByFather('Conventional')">
        <label class="custom-control-label" for="customRadioMarkennovy4">{{ 'Conventional' | translate }}</label>
      </div>
    </div>
    <div class="col col-xl-1 col-lg-1 filter" [hidden]="idSupplier !== 1 || showFathersMarkennovy">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadioMarkennovy5" name="customRadioFathers" value="0" class="custom-control-input" (change)="backToFathers()" [checked]="currentFather !== '' ? false : true">
        <label class="custom-control-label" for="customRadioMarkennovy5">{{ 'All' | translate }}</label>
      </div>
    </div>
    <div class="col col-xl-4 col-lg-4 filter" [hidden]="idSupplier !== 1 || showFathersMarkennovy">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadioMarkennovy6" name="customRadioFathers" value="1" class="custom-control-input" [checked]="currentFather !== '' ? true : false">
        <label class="custom-control-label" for="customRadioMarkennovy6">{{ currentFather }}</label>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end  row -->
</div>

<div class="padding-list">
  <div class="row">
    <!--THUMBNAILS PRODUCTS-->
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-sm-10 col-md-10 col-lg-10">
      <div class="row">

        <!--Only products father of Markennovy-->
        <div [hidden]="!showFathersMarkennovy" class="col-md-4" *ngFor="let product of productsMarkennovy">
          <div class="mb-4">
            <a class="prodTeaser" >
              <div class="prodTeaser-overlay" (click)="redirectFather(product)">
                <i class="prodTeaser-more">{{ 'View' | translate }}</i>
              </div>
              <div class="prodTeaser-inner">
                <img
                  class="card-img-top-teaser"
                  src="{{ product.mainImg }}"
                />
              </div>
              <h4 class="product-name">
                {{ product.name }}
              </h4>
            </a>
          </div>
        </div>

        <!--Products without Markennovy-->
        <div [hidden]="showFathersMarkennovy" class="col-md-4" *ngFor="let product of products">
          <div class="mb-4">
            <a class="prodTeaser" >
              <div class="prodTeaser-overlay" (click)="redirectView(product)">
                <i class="prodTeaser-more">{{ 'View' | translate }}</i>
              </div>
              <div class="prodTeaser-inner">
                <img
                  class="card-img-top-teaser"
                  src="{{ product.mainImg }}"
                />
              </div>
                <h4 class="product-name">
                  <i class="fa fa-exclamation-triangle" placement="top" ngbTooltip="{{'Inactive' | translate}}" [hidden]="product.status === 1"></i>
                  {{ product.name }}
                </h4>
            </a>
            <div class="card-body">
              <p class="card-text"> {{ product.descriptionShort }}</p>
              <div class="price-wrap h4" [hidden]="user.role.idRole!==3">
                <span [hidden]="product.supplier.idSupplier === 2" class="price-new">{{ product.priceSale | currency : "USD $" }}</span>
              </div>
              <div class="product-btns">
                <div class="btn-group">
                  <button (click)="redirectView(product)" [hidden]="user.role.idRole === 3 || user.role.idRole === 2" type="button" class="btn btn-primary">{{ 'View' | translate}}</button>
                  <button (click)="open(product,'edit')" [hidden]="user.role.idRole === 3 || user.role.idRole === 2 || product.father === 'Medmont'"  type="button" class="btn btn-sm btn-outline-secondary">{{ 'Edit' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
