<div class="info-breadcrumbs" *ngIf="product">
  <div class="header-body">
    <h4 class="page-header">
      {{ 'Product Details' | translate }}
    </h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> {{ 'Dashboard' | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link" href="Javascript:void(0)" [routerLink]="['/products/' + product.supplier.idSupplier + '/internal']">
          <i class="fa fa-edit"></i> {{ 'Products List' | translate }}</a>
      </li>
      <li class="breadcrumb-item active">
        <i class="fa fa-eye"></i> {{ 'Product Details' | translate}}</li>
    </ol>
  </div>
</div>
<div class="padding-detail" *ngIf="product">
  <div class="card">
    <div class="">
      <!-- row (name-price-image) -->
      <div class="row wrapper">
        <div class="preview col-md-12">
          <!-- name-price -->
          <div class="main-info">
            <h3 class="product-title">{{'Order Form For' | translate }}:
              <br>
              <i>{{ product.name }}</i>
            </h3>
          </div>
          <!-- image -->
          <!-- <div class="preview-pic tab-content main-info">
            <div class="tab-pane active" id="pic-1">
              <img src="{{ product.mainImg }}" />
            </div>
          </div> -->
        </div>
      </div>

      <div *ngIf="user.role.idRole !== 3">
        <span class="title">{{ 'Order Type' | translate }}</span>
        <div class="d-flex">
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="order-new" name="orderType" value="new" [(ngModel)]="typeOrder"  class="custom-control-input" [checked]="typeOrder === 'new'">
            <label class="custom-control-label" for="order-new">{{ 'New' | translate }}</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="order-duplicate" name="orderType" value="duplicate" [(ngModel)]="typeOrder" class="custom-control-input" [checked]="typeOrder === 'duplicate'">
            <label class="custom-control-label" for="order-duplicate">{{ 'Duplicate' | translate }}</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="order-warranty" name="orderType" value="warranty" [(ngModel)]="typeOrder" class="custom-control-input" [checked]="typeOrder === 'warranty'">
            <label class="custom-control-label" for="order-warranty">{{ 'Warranty' | translate }}</label>
          </div>
        </div>
      </div>

      <!-- row (properties-material-replacement-warranty-sheet) -->
      <div class="row product-info">
        <div class="col-md-3">
          <dt>{{ 'Material' | translate }}</dt>
          <dd>
            <a>{{ product.material | translate }}</a>
          </dd>
        </div>
        <div class="col-md-3">
          <dt>{{ 'Replacement Period' | translate }}</dt>
          <p>{{ product.replacementPeriod | translate }}</p>
        </div>
        <div class="col-md-2">
          <dt>{{ 'Warranty' | translate }}</dt>
          <p>{{ product.warranty }} {{ 'days' | translate }}</p>
        </div>
        <div class="col-md-2">
          <dt>{{ 'Product Sheet' | translate }}</dt>
          <dd>
            <a href="{{ getUrl() }}" target="_blank">{{ 'Download' | translate }}</a>
          </dd>
        </div>

        <div class="col-md-2" *ngIf="product.idProduct==263">
          <dt>{{ 'Duette Calculator' | translate }}</dt>
          <dd>
            <a href="https://ebusiness.synergeyes.com/practitioners/rxconnect/duettecal/duettecal.cfm" target="_blank">{{ 'Calculator' | translate }}</a>
          </dd>
        </div>
      </div>

      <!-- row (pacient, client, shipping address) -->
      <div class="row product-info">
        <!-- patient -->
        <div class="col-lg-3">
          <dt class="title">{{ 'Patient Full Name' | translate }}</dt>
          <div class="row info-content">
            <input class="form-control" type="text" maxlength="50" placeholder="{{ 'Enter name patient' | translate }}" [(ngModel)]="product.patient"
              required>
          </div>
        </div>

        <!-- client -->
        <div class="col-lg-4">
          <dt class="title">{{ 'Account Name' | translate }}</dt>
          <div class="row info-content" [hidden]="user.role.idRole !== 3">
            <input class="form-control" type="text" placeholder="{{ 'Enter name customer' | translate }}" [(ngModel)]="product.client"
              disabled required>
          </div>
          <div class="row info-content" [hidden]="user.role.idRole === 3">
            <ng-select [items]="listCustomers" (change)="onSelectedClient($event)" [(ngModel)]="CustomersSelected"
              [virtualScroll]="true" bindLabel="fullName" bindValue="idUser" placeholder="{{ 'Select value' | translate }}"
              required>
            </ng-select>
          </div>
        </div>
        <!--shipping address-->
        <div class="col-lg-4">
          <span class="title">{{ 'Shipping Address' | translate }}</span>
          <div class="row info-content">
            <input class="form-control readonly-input" type="text" [(ngModel)]="product.shippingAddress" placeholder="{{ 'This field is filled when the client is selected.' | translate }}"
              readonly>
          </div>
        </div>
        <div class="col-lg-1">
          <h5 class="padding-price" [hidden]="priceAcum === 0">
            <span>{{ priceAcum | currency : "USD $" }}</span>
          </h5>
        </div>
      </div>

      <div class="row product-info">
        <div class="col-md-12 title">
          <label> {{ 'Please specify your product' | translate }}</label>
        </div>
      </div>

      <!-- row (parameters) -->
      <div class="row header-params">
        <!-- row (parameters right) -->
        <div class="col-lg-12 custom-control custom-checkbox">
          <!--header-->
          <input id="right" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('right')" [checked]="product.eyeRight"
            class="custom-control-input">
          <label class="custom-control-label" for="right">{{ 'OD' }}</label>
          <!--row header right (contamac / hydrapeg / insertors)-->
          <br>
          <br>
          <div class="row title">{{ 'Parameters' | translate }}</div>
          <!--params right-->
          <div class="row">
            <!--quantity right-->
            <div class="col-lg-3">
              <div class="row">
                <label class="form-check-label">{{ 'Quantity' | translate }}</label>
              </div>
              <div class="row">
                <div class="select-values col-sm-12">
                  <input class="form-control" type="number" value="1" [(ngModel)]="product.quantityRight" oninput="validity.valid||(value='');"
                     [required]="product.eyeRight"  [disabled]="!product.eyeRight" (change)="updatePriceSale()" min="1">
                </div>
              </div>
            </div>
            <div class="col-lg-3" *ngFor="let parameter of product.parametersRight">
              <div>
                <!--param name-->
                <div class="row label">
                  <label class="form-check-label">{{ parameter.name | translate }}</label>
                  <span *ngIf="parameter.name === 'Power'">(D)</span>
                  <span *ngIf="parameter.name === 'Skirt Curve'">&nbsp;(mm)</span>
                  <span *ngIf="parameter.name === 'Dominance'">&nbsp;(Multifocal)</span>
                  <span *ngIf="parameter.name === 'Base Curve' && product.idProduct !=265 && product.idProduct !=266">&nbsp;(mm)</span>
                  <span *ngIf="parameter.name === 'Base Curve' && (product.idProduct ==265 || product.idProduct ==266)">&nbsp;(μ)</span>
                  <span *ngIf="parameter.name === 'Add'">&nbsp;{{ 'Power' | translate }} (D)</span>
                  <span *ngIf="parameter.name === 'Central Distance Zone'">&nbsp;(mm)</span>
                  <span *ngIf="parameter.name === 'Central Near Zone'">&nbsp;(mm)</span>
                  &nbsp;&nbsp;
                </div>
                <!--param values-->
                <div class="row">
                  <div *ngIf="parameter.type === 'selected' " class="select-values col-sm-12">
                    <ng-select (change)="changeSelect('right', parameter,  parameter.selected)" [items]="parameter.values"
                      [disabled]="!product.eyeRight || hiddenParameters(parameter, 'right') || parameter.values.length === 1"
                      [required]="product.eyeRight && (parameter.name !== 'Add' && parameter.name !== 'Dominance' && parameter.name !== 'Central Near Zone' && parameter.name !== 'Central Distance Zone')" [(ngModel)]="parameter.selected"
                      bindLabel="item" bindValue="item" placeholder="{{ 'Select value' | translate }}" [clearable]="parameter.name === 'Add' || parameter.name === 'Dominance' || parameter.name === 'Central Near Zone' || parameter.name === 'Central Distance Zone'">
                      <ng-template ng-label-tmp let-item="item">
                        <div class="supplier-body">
                          <span>{{ item | translate }}</span>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="supplier-body">
                          <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
          <br>
        </div>

        <!--comments right-->
        <br>
        <div class="col-md-12">
          <div class="comments">
            <div class="row header">
              <div class="col-md-12">
                <div class="title">{{ 'OD Comments' | translate }}</div>
                <textarea style="overflow-x: hidden;" class="form-control" type="text" [(ngModel)]="product.observationsRight"
                  [disabled]="!product.eyeRight" placeholder="{{ 'Enter OD Observations' | translate }}"></textarea>
              </div>
            </div>
            <br>
          </div>
        </div>

        <!--files right-->
        <div class="documents col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <dt class="title">{{ 'OD Documents | Attach Consultation Form' | translate }}</dt>
                <div class="custom-file">
                  <input #selectedFilesRightEye type="file" class="custom-file-input" ng2FileSelect [uploader]="uploaderRightEye"
                    [disabled]="!product.eyeRight || uploaderRightEye.queue.length > 4" multiple />
                  <label class="custom-file-label" for="FS">{{ 'Choose file' | translate }}...</label>
                  <div class="invalid-feedback">Example invalid custom file feedback</div>
                  <div class="message-error">
                    <span translate>{{'Max files size:' | translate}} 25MB</span>
                    <span> / </span>
                    <span translate>{{'Maximum files number:' | translate }} 5</span>
                  </div>
                </div>
              </div>
              <br>
              <div class="" style="margin-bottom: 40px" *ngIf="uploaderRightEye.queue.length > 0">
                <div class="row justify-content-end" *ngIf="uploaderRightEye.queue.length > 1">
                  <button type="button" class="btn btn-danger btn-s" (click)="uploaderRightEye.clearQueue()" [disabled]="!uploaderRightEye.queue.length">
                    <span class="fa fa-trash-o"></span> {{ 'Remove all' | translate }}
                  </button>
                </div>
                <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th width="50%">{{ 'Name' | translate }}</th>
                      <th>{{ 'Size' | translate }}</th>
                      <th>{{ 'Actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploaderRightEye.queue">
                      <td><strong>{{ item?.file?.name }}</strong></td>
                      <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                      <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item, 'Right')">
                          <span class="fa fa-trash-o"></span> {{ 'Remove' | translate }}
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- row (parameters left) -->
        <div class="col-lg-12 custom-control custom-checkbox">
          <!--header-->
          <input id="left" type="checkbox" name="checkboxGroupAll" (click)="setValueEye('left')" [checked]="product.eyeLeft"
            class="custom-control-input">
          <label class="custom-control-label" for="left">{{ 'OS' }}</label>
          <br>
          <br>
          <div class="row title">{{ 'Parameters' | translate }}</div>
          <!--params left-->
          <div class="row">
            <!--quantity left-->
            <div class="col-lg-3">
              <div class="row ">
                <label class="form-check-label">{{ 'Quantity' | translate }}</label>
              </div>
              <div class="row">
                <div class="select-values col-sm-12">
                  <input class="form-control" type="number" value="1" [(ngModel)]="product.quantityLeft" [required]="product.eyeLeft"
                    oninput="validity.valid||(value='');" [disabled]="!product.eyeLeft" min="1">
                </div>
              </div>
            </div>
            <div class="col-lg-3" *ngFor="let parameter of product.parametersLeft">
              <div>
                <!--param name-->
                <div class="row label">
                  <label class="form-check-label">{{ parameter.name | translate }}</label>&nbsp;
                  <span *ngIf="parameter.name === 'Power'">(D)</span>
                  <span *ngIf="parameter.name === 'Skirt Curve'">(mm)</span>
                  <span *ngIf="parameter.name === 'Dominance'">(Multifocal)</span>
                  <span *ngIf="parameter.name === 'Base Curve' && product.idProduct !== 265 && product.idProduct !== 266">(mm)</span>
                  <span *ngIf="parameter.name === 'Base Curve' && (product.idProduct === 265 || product.idProduct === 266)">(μ)</span>
                  <span *ngIf="parameter.name === 'Add'">{{ 'Power' | translate }} (D)</span>
                  <span *ngIf="parameter.name === 'Central Near Zone'">(mm)</span>
                  <span *ngIf="parameter.name === 'Central Distance Zone'">(mm)</span>
                  &nbsp;&nbsp;
                </div>
                <!--param values-->
                <div class="row">
                  <div *ngIf="parameter.type === 'selected'" class="select-values col-sm-12">
                    <ng-select (change)="changeSelect('left', parameter,  parameter.selected)" [items]="parameter.values"
                      [disabled]="!product.eyeLeft || hiddenParameters(parameter, 'left') || parameter.values.length === 1"
                      [required]="product.eyeLeft && (parameter.name !== 'Add' && parameter.name !== 'Dominance' && parameter.name !== 'Central Near Zone' && parameter.name !== 'Central Distance Zone')" [(ngModel)]="parameter.selected"
                      bindLabel="item" bindValue="item" placeholder="{{ 'Select value' | translate }}" [clearable]="parameter.name === 'Add' || parameter.name === 'Dominance' || parameter.name === 'Central Near Zone' || parameter.name === 'Central Distance Zone'">
                      <ng-template ng-label-tmp let-item="item">
                        <div class="supplier-body">
                          <span>{{ item | translate }}</span>
                        </div>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="supplier-body">
                          <h6 [ngOptionHighlight]="search">{{ item | translate }}</h6>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>

        </div>

        <!--comments left-->
        <br>
        <div class="col-md-12">
          <div class="comments">
            <div class="row header">
              <div class="col-md-12">
                <div class="title">{{ 'OS Comments' | translate }}</div>
                <textarea style="overflow-x: hidden;" class="form-control" type="text" [(ngModel)]="product.observationsLeft"
                  [disabled]="!product.eyeLeft" placeholder="{{ 'Enter OS Observations' | translate }}"></textarea>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      <br>
      <!--files left-->
      <div class="documents col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="">
              <dt class="title">{{ 'OS Documents | Attach Consultation Form' | translate }}</dt>
              <div class="custom-file">
                <input #selectedFilesLeftEye type="file" class="custom-file-input" ng2FileSelect [uploader]="uploaderLeftEye"
                  [disabled]="!product.eyeLeft || uploaderLeftEye.queue.length > 4" multiple />
                <label class="custom-file-label" for="FS">{{ 'Choose file' | translate }}...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
                <div class="message-error">
                  <span translate>{{'Max files size:' | translate}} 25MB</span>
                  <span> / </span>
                  <span translate>{{'Maximum files number:' | translate }} 5</span>
                </div>
              </div>
            </div>
            <br>
            <div class="" style="margin-bottom: 40px" *ngIf="uploaderLeftEye.queue.length > 0">
              <div class="row justify-content-end" *ngIf="uploaderLeftEye.queue.length > 1">
                <button type="button" class="btn btn-danger btn-s" (click)="uploaderLeftEye.clearQueue()" [disabled]="!uploaderLeftEye.queue.length">
                  <span class="fa fa-trash-o"></span> {{ 'Remove all' | translate }}
                </button>
              </div>
              <br>
              <table class="table">
                <thead>
                  <tr>
                    <th width="50%">{{ 'Name' | translate }}</th>
                    <th>{{ 'Size' | translate }}</th>
                    <th>{{ 'Actions' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploaderLeftEye.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td nowrap>
                      <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item, 'Left')">
                        <span class="fa fa-trash-o"></span> {{ 'Remove' | translate }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 buy-btns">
          <button [hidden]="user.role.idRole === 3" class="btn btn-lg btn-primary btn-outline-primary text-uppercase margin-button"
            (click)="formIsValid() && addToCart(2)" [disabled]="!formIsValid()">
            {{ 'Buy Now' | translate }}
          </button>
          <button *ngIf="typeOrder === 'new'" class="btn btn-lg btn-outline-primary text-uppercase margin-button" (click)="formIsValid() && addToCart(1)"
            [disabled]="!formIsValid()">
            <i class="fa fa-cart-plus"></i> {{ 'Add to cart' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
